{% include "pre-main.html" %}

<div id="main">
<section class="post">
    <header class="major">
        <h1>Transport/<br />Marine/<br />Domestic Navigation</h1>
        <p>
        </p>
    </header>

<div id="mychart" style="width: 800px; height: 500px; margin: 0 auto;"></div>
<script>
var myChart = echarts.init(document.getElementById('mychart'));
var option;

option = {
  title: {
      text: 'Emissions: {{catpath}}',
      left: 'center', // Align: 'left', 'center', or 'right'
  },
  xAxis: {
      name: 'Year', // The label text
      nameLocation: 'middle', // Places it in the center (default is 'end')
      nameGap: 30, // Distance from the axis line (pixel count)
      data: {{ ipcc_canada.echart_years() }},
  },
  yAxis: {
      name: 'Emissions (Mt CO2e)', // The label text
      nameLocation: 'middle',
      nameGap: 40,
  },
  series: [
      {{ json.dumps(ipcc_canada.echart_series_Mt(catpath.replace('_', ' '))) | safe }},
  ],
  tooltip: {
    trigger: 'item',
    axisPointer: {
      type: 'cross',
      label: {
        backgroundColor: '#6a7985'
      }
    },
    formatter: '{a}',
  },
};

option && myChart.setOption(option);
window.addEventListener('resize', function() {
  myChart.resize();
});


</script>
<div>

<h2>Causes of Emissions</h2>

<h3>
    1. The "Lakers" (Great Lakes Bulk Carriers)
</h3>
This is the industrial heavy-lifting of the sector. Huge bulk carrier ships move iron ore, grain, salt, and coal up and down the St. Lawrence Seaway and across the Great Lakes (e.g., from Thunder Bay, ON to Hamilton, ON).

<ul>
    <li>
        <b>The Emission Source</b>: These are massive ships, often running on heavy fuel oil (HFO) or large diesel engines.
    </li>
    <li>
        <b>Why it counts</b>: Because they travel long distances carrying thousands of tonnes of cargo, but never leave Canadian waters, their entire fuel consumption is counted in the national inventory.
    </li>
</ul>

<h3>
    2. Ferries (The Single Largest Passenger Source)
</h3>

<p>
Canada has extensive ferry networks that operate like floating highways.
</p>

<ul>
    <li><b>BC Ferries</b>: One of the largest ferry operators in the world. Their massive vessels (some carrying 400+ cars) run constantly between Vancouver, Vancouver Island, and the Gulf Islands.
    </li>
    <li><b>Atlantic Canada</b>: Marine Atlantic (connecting Newfoundland to Nova Scotia) and other inter-provincial ferries.
    </li>
</ul>

<p>
Historically, these ships have used massive diesel engines, however BC Ferries has recently been converting some ships to Liquefied Natural Gas (LNG) or battery-hybrid to lower these specific emissions.
</p>

<h3>
    3. Tugs and Barges
</h3>
<p>
While less visible than the giant ferries, the fleet of tugboats constitutes a steady baseline of emissions.
</p>

<ul>
    <li>
    <b>Coastal Logging</b>: On the West Coast, tugs are constantly towing barges of logs or wood chips.
    </li>
    <li>
    <b>Northern Resupply</b>: In the summer, tugs and barges move fuel and food up the Mackenzie River or along the coast to supply remote Arctic communities that have no road access.
    </li>
</ul>

<h3>
    4. What is EXCLUDED? (Common Confusions)
</h3>
<p>
To understand the data, you have to know what is removed from this line item:
</p>

<ul>
<li>
<b>Fishing Vessels</b>: Commercial fishing boats (lobster boats, trawlers) are not in this category. They are reported under Agriculture, Forestry, and Fishing.
</li>

<li>
<b>International Shipping (Bunkers)</b>: If a ship loads grain in Vancouver and sails to China, the emissions for that trip are not in Canada's national total. They are reported separately as a "Memo Item" called International Bunkers, based only on fuel sold (and taxed) for an international voyage.
Fuel sold for this purpose in Canada corresponds to 3-5 Mt CO2/year, which is coincidentally about the same as the emissions from Canada's domestic navigation.
That said, Canada's ports are not considered major refuelling centers for international shipping.
Emissions from fuel burned by ships making international voyages falls under the jurisdiction of the IMO, rather than any particular country (including the ship's flagged country).
</li>

<li>
<b>Military</b>: Canadian Navy and Coast Guard vessels are often reported under a separate "Multilateral Operations" or government category, though civilian Coast Guard icebreaking sometimes blurs into domestic navigation depending on the specific report granularity.
</li>
</ul>

<h2>
    How might Canada reduce domestic marine emissions to zero?
</h2>

<h3>
    Critical Success Factors
</h3>

The arithmetic of emissions in this sector is such that there are two ways to reduce emissions:
<ol>
    <li>Fewer miles of movement (ton-miles of freight, passenger-miles of ferrying)</li>
    <li>Less average atmospheric GHG emission per ton-mile, passenger-mile</li>
</ol>

<h3>
    Barriers
</h3>

<ul>
    <li>Cost: Shipping is already on par with rail as the lowest-emission and lowest-cost way to move material over distance, so there is no obvious technology substitution that would improve emissions in this sector by shifting the work to another sector.</li>
    <li>Batteries: There are no mature technologies for moving large ships by battery because both cost and power density are prohibitive,
        although <a href="https://maritime-executive.com/article/catl-expects-oceangoing-battery-electric-vessels-within-three-years">CATL aims to provide one by 2030</a>.</li>
    <li>Capital: There are physical and economic economies to scale in ship design and operation: large ships are cheaper to build per deadweight capacity, and more fuel efficient per deadweight capacity. So it is slow and expensive to achieve impact with novel ship designs.</li>
    <li>Maturity: The design of ships has been studied for hundreds of years, modern designs are highly refined and specialized, and ships themselves typically work productively for decades.</li>
    <li>E-Fuels: There is broad industry support for the strategy of making zero-emission shipping possible, but they are relatively expensive and not yet widely used. Many projects are in development to scale production of e-fuels, but their impact remains uncertain.</li>
    <li>Geography: Canada is not a global leader in ship-building or low-emission shipping. East Asia, and Eastern Europe lead in ship-building, and China and Europe lead in the exploration of low-emission ship designs. (citation and support needed)</li>
</ul>

<h3>
    Key Stakeholder Groups
</h3>

<ul>
    {% for sg_name, sg in sorted(stakeholders.ss.items()) %}
    {% if catpath in sg.ipcc_catpaths %}
    <li>{{ sg.full_name }}</li>
    {% endif %}
    {% endfor %}
</ul>

<h3>
    Possible Strategies
</h3>

<table>
    <thead>
        <tr>
            <th>Who</td>
            <th>What</td>
            <th>For Whom</td>
            <th>Cost / tonne CO2e</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
{% for idea in stakeholders.ideas_by_catpath(catpath) %}
        <tr>
            <td>{{idea.who.full_name}}</td>
            <td>
                {% if idea.name in peval.comparisons %}
                <a href="/strategies/{{idea.name}}/">{{idea.descr}}</a>
                {% else %}
                {{idea.descr}}
                {% endif %}
            </td>
            <td>
                {% for sg in idea.for_whom %}
                {{sg.full_name}}{% if not loop.last %},{% endif %}
                {% endfor %}
            </td>
            <td>
                {% if idea.name in peval.comparisons %}
                <a href="/strategies/{{idea.name}}/">{{ "{:.2f}".format(peval.comparisons[idea.name].cost_per_ton_CO2e(base_rate=1-discount_rate)) }}</a>
                {% endif %}
            </td>
        </tr>
{% endfor %}
</table>


</div>
</section>
</div>

{% include "post-main.html" %}
