{% include "pre-main.html" %}

<div id="main">
<section class="post">
    <header class="major">
        <h1>Transport/<br />Road Transportation<br />Heavy-Duty Diesel Vehicles</h1>
        <p>
        The operation of heavy-duty diesel vehicles (especially freight trucks) is one of Canada's largest and fastest-growing
        emissions sectors.
        While engine efficiency continues to improve, Canada's population continues to grow,
        and Canadians from coast to coast rely largely on trucks to move goods
        both nationally and regionally.
        </p>
    </header>

{{est_nir.Est_Transport_HeavyDutyDieselVehicles().echart() | safe}}

<div>
    <p>
    <i>In black</i>: <a href="https://data-donnees.az.ec.gc.ca/data/substances/monitor/canada-s-official-greenhouse-gas-inventory?lang=en">National Greenhouse Gas Inventory (NIR)</a>, national sectoral total.
    <i>Shaded regions</i>:
    data from
    <a href="https://oee.nrcan.gc.ca/corporate/statistics/neud/dpa/menus/trends/comprehensive_tables/list.cfm">National Energy Use Database (NEUD)</a> of emissions from diesel-burning medium and heavy trucks, reduced in recent years by rising use of biodiesel and renewable diesel.
    The top of the stacked shaded regions  should match the NIR total,
    and I don't know why they don't match more closely.
    </p>

<h2>
    How might Canada reduce these emissions to zero?
</h2>

<h3>
    Critical Success Factors
</h3>

<p>
The reduction of emissions from heavy-duty diesel vehicles seems to require some combination
of the following:
<ol>
    <li>Reduce demand for road freight (perhaps by shifting it to marine or rail)</li>
    <li>Reduce the mass of freight or the distance it must travel (already a major consideration in logistics)</li>
    <li>Reduce use of fossil fuels for heavy-duty vehicle applications (use other fuels, energy sources)</li>
    <li>Increase energy efficiency of heavy-duty vehicles (e.g. via electric motors)</li>
    <li>Reduce use of buses (without incurring greater emissions in other sectors)</li>
    <li>Reduce use of fossil fuels to power buses</li>
</ol>
</p>

<h3>
    Barriers
</h3>

<ul>
    <li><b>Technology Gap</b>:
        Freight movement is energy intensive, in that it is almost purely
        the conversion of energy into propulsion to move materials from one
        point to another. Diesel is an affordable fuel with high energy density,
        there is no obvious replacement.
    </li>
    <li><b>Renewable Diesel</b>:
        Renewable diesel fuel (e.g. B99 or B100) can currently replace diesel
        at a price premium of only about 25%, can be made from canola or
        waste cooking oil. The catch is that to make enough of it
        to power all heavy vehicles would require something like twice
        Canada's current amount of farmland, and it may not be the best
        use of that land.
    </li>
    <li><b>Batteries</b>:
        Today's EV battery technology cannot carry enough charge, at low
        enough weight, or low enough cost, or recharge quickly enough,
        to support today's trucking practices
        without operational changes that would hurt operational efficiency.
    </li>
    <li><b>Grid Readiness</b>:
        Freight movement needs a lot of energy.
        Electric truck propulsion is more energy-efficient than
        diesel by a factor of roughly 3x (much less energy is wasted as heat).
        Still, moving 2022's freight work by electricity
        would have required 15-20% more electricity than Canada produced in that year.
        (Canada produced about
        <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=2510002001">
        560 terawatt hours of electricity in 2022 and 2023
        </a>,
        the freight industry used about
        <a href="https://oee.nrcan.gc.ca/corporate/statistics/neud/dpa/showTable.cfm?type=CP&sector=tran&juris=ca&year=2023&rn=36&page=0">
        263 terawatt hours of energy in diesel fuel</a>.)
    </li>
    <li><b>Asset Life</b>:
        Heavy freight trucks are usually replaced on average every 15-20 years
        (see <a href="https://oee.nrcan.gc.ca/corporate/statistics/neud/dpa/showTable.cfm?type=CP&sector=tran&juris=ca&year=2023&rn=60&page=0">stock/sales ratio, NEUD</a>).
        Even compelling new technology would likely take decades to roll out
        across the sector.
    </li>
    <li><b>Charging Infrastructure</b>:
        There is no technology standard or installed base of charging equipment
        across Canada suitable for charging heavy-duty vehicles.
        Several systems are in development around the world; the process of trialing
        and scaling one or several in Canada will take time and money.
    </li>
    <li><b>Geography</b>:
        Canada's population is mostly spread along a thin strip of sparsely populated
        territory, which is one of the most energy-demanding topologies to support with
        a transportation or logistics network.
        It is also cold, which challenges many battery technologies.
    </li>
</ul>

{% include "ipcc-sectors-strategy-ideas-table.html" %}

<h2>Posts developing this page</h2>
<ul>
{% for blog in blogs_by_tag("Heavy-Duty Diesel Vehicles") %}
<li><a href="/blog/{{blog.url_filename}}/">{{blog.title}} ({{blog.date.strftime("%b %d, %Y")}})</a></li>
{% endfor %}
</ul>

</div>
</section>
</div>

{% include "post-main.html" %}
