{% include "pre-main.html" %}

<div id="main">
<section class="post">
    <header class="major">
        <h1>Transport/<br />Road Transportation<br />Heavy-Duty Diesel Vehicles</h1>
        <p>
        The operation of heavy-duty diesel vehicles (especially freight trucks) is one of Canada's largest and fastest-growing
        emissions sectors.
        While engine efficiency continues to improve, Canada's population continues to grow,
        and Canadians from coast to coast rely largely on trucks to move goods
        both nationally and regionally.
        </p>
    </header>

<div id="mychart" style="width: 800px; height: 500px; margin: 0 auto;"></div>
<script>
var myChart = echarts.init(document.getElementById('mychart'));
var option;

option = {
  title: {
      text: 'Emissions: {{catpath}}',
      left: 'center', // Align: 'left', 'center', or 'right'
  },
  xAxis: {
      name: 'Year', // The label text
      nameLocation: 'middle', // Places it in the center (default is 'end')
      nameGap: 30, // Distance from the axis line (pixel count)
      data: {{ peval.comparisons.ComboA.years_as_list() }},
  },
  yAxis: {
      name: 'Emissions (Mt CO2e)', // The label text
      nameLocation: 'middle',
      nameGap: 40,
  },
  series: [
      {{ json.dumps(ipcc_canada.echart_series_Mt(catpath, name="Historical")) | safe }},
      {{ json.dumps(peval.comparisons.ComboA.echart_series_Mt("A", catpath, name="With Combo-A Strategies")) | safe }},
      {{ json.dumps(peval.comparisons.ComboA.echart_series_Mt("B", catpath, name="Baseline")) | safe }},
  ],
  legend: {
      show: true,
      data: ['Historical', "Baseline", "With Combo-A Strategies"],
      top: 30,
      //left: 'center',
  },
  grid: {
      top: 60,
    },
  tooltip: {
    trigger: 'item',
    axisPointer: {
      type: 'cross',
      label: {
        backgroundColor: '#6a7985'
      }
    },
    formatter: '{a}',
  },
};

option && myChart.setOption(option);
window.addEventListener('resize', function() {
  myChart.resize();
});


</script>
<div>
    <p>
    In the chart,
    the Historical values come from Environment Canada,
    <!--
    the Baseline projection is that emissions in this sector remain proportional to Canada's population (projected to grow geometrically), and the
    Combo-A Strategies curve represents a prediction based on the adoption of all <a href="/strategies/ComboA/">Combo A strategies</a>, which may or may not include any with impact to this sector.
    -->
    </p>

<h2>Causes of Emissions</h2>

<p>
The Heavy-Duty Diesel Vehicle (HDDV) category covers all on-road diesel vehicles with
a Gross Vehicle Weight Rating of over 3865kg (8500 lbs). In Canada's National Inventory Report,
these are broken down by weight class:
<ul>
    <li><b>Heavy Heavy-Duty Vehicles (Class 8)</b>: These are the primary
        contributors. They include "semi" trucks or tractor-trailers used for
        long-haul freight. They have a GVWR exceeding 14,969 kg (33,000 lbs).</li>
    <li><b>Medium Heavy-Duty Vehicles (Classes 6–7)</b>: Includes vehicles
        like school buses, large delivery trucks, and "straight" trucks. Their
        weights range from 8,846 kg to 14,969 kg.  </li>
    <li><b>Light Heavy-Duty Vehicles (Classes 2B–5)</b>: This includes
        heavy-duty pickup trucks (e.g., Ford F-250/350 diesel versions), large
        vans, and smaller vocational trucks used in construction or local
        delivery. </li>
</ul>
Although "heavy-duty" often implies freight transportation, this IPCC category also includes other diesel-powered vehicle types such as municipal garbage trucks, fire trucks, and public transit buses.
</p>



<h2>
    How might Canada reduce these emissions to zero?
</h2>

<h3>
    Critical Success Factors
</h3>

The arithmetic of emissions in this sector is such that there are two ways to reduce emissions:
<ol>
    <li>Reduce vehicle distance travelled</li>
    <li>Reduce average emissions per vehicle distance travelled</li>
</ol>

<h3>
    Barriers
</h3>

<ul>
    <li>People like to drive, and they like to drive at high speeds, in relative privacy inside spacious personal vehicles</li>
    <li>Vehicle usage patterns have become an integral part of many people's work roles and domestic lifestyles. People struggle to trade convenience and habit for the sake of incremental cost reduction or environmental impact.</li>
    <li>Vehicles are only replaced on average every 10 years (TODO: verify).</li>
    <li>The total cost of ownership comparison for EVs and PHEVs vs. ICE vehicles depends on several factors, not all of which are top-of-mind for buyers, and the technology keeps improving (which discourages mainstream and late-adopters).</li>
    <li>The sale price for EVs is higher than ICE vehicles, except for current possibly-illegally-subsidized Chinese EVs.</li>
    <li>EVs are slower to charge, have less range than ICE vehicles, and can be charged at fewer places.</li>
</ul>

<h3>
    Key Stakeholder Groups
</h3>

<ul>
    {% for sg_name, sg in sorted(stakeholders.ss.items()) %}
    {% if catpath in sg.ipcc_catpaths %}
    <li>{{ sg.full_name }}</li>
    {% endif %}
    {% endfor %}
</ul>

{% include "ipcc-sectors-strategy-ideas-table.html" %}

</div>
</section>
</div>

{% include "post-main.html" %}
