{% include "pre-main.html" %}

<div id="main">
<section class="post">
    <header class="major">
        <h1>Transport/<br />Road Transportation<br />Light Duty Gasoline Trucks</h1>
        <p>
        The operation of light-duty gasoline trucks is Canada's third-largest
        emissions sector.
        While engine efficiency continues to improve, Canada's population continues to grow
        and larger vehicles such as SUVs have become more popular relative to smaller vehicles.
        Crossover vehicles, SUVs, and minivans are included in this emissions sector,
        as well as pickup trucks and cargo vans. The sector does not differentiate
        commercial and personal use.
        </p>
    </header>

{{est_nir.Est_Transport_LightDutyGasoline().echart() | safe}}

<div>

<h2>Causes of Emissions</h2>

<p>
This sector measures emissions from the combustion of gasoline from vehicles such as
<ul>
    <li>Pickup Trucks: (e.g., Ford F-150, Chevy Silverado)</li>
    <li>SUVs / Crossovers: (e.g., Ford Explorer, Toyota RAV4, Honda CR-V)</li>
    <li>Commercial Vans: (e.g., Ford Transit Connect)</li>
    <li>Minivans: (e.g., Dodge Caravan, Honda Odyssey)</li>
</ul>
These are road vehicles with a gross vehicle weight rating (GVWR) of up to 3960 kg (8500 lbs),
designed with greater off-road or cargo capability relative to cars
(sedans, hatchbacks, coupes, summarized here:
<a href="/ipcc-sectors/Transport/Road_Transportation/Light-Duty_Gasoline_Trucks">Transport / Road Transportation / Light-Duty Gasoline Vehicles</a>).
</p>

<h2>
    How might Canada reduce emissions in this sector?
</h2>

<h3>
    Critical Success Factors
</h3>

<p>
The arithmetic of emissions in this sector is such some combination of the following is required:
<ol>
    <li>Reduce number of gasoline vehicles of this class</li>
    <li>Reduce distance travelled by this class of vehicle under gasoline power</li>
    <li>Improve gasoline engine efficiency</li>
</ol>
</p>

<h3>
    Barriers
</h3>

<p>
Before we get into barriers, it must be stated that the obvious and preeminent
strategy for emissions reduction in this sector is a transition to EVs.
<ul>
    <li><b>Comfort</b>: People like to drive, and they like to drive at high speeds,
        in relative privacy inside large, spacious personal vehicles.
        This requires additional energy.
    </li>
    <li><b>Identity</b>:
        Brand marketing plays a strong role in car puchasing decisions.
        Vehicle choices have become an integral part of many people's professional and personal image.
    </li>
    <li><b>Longevity</b>: Vehicles sales in this class account for about 10% of the number of vehicle registrations. It could take decades to change the technology mix within this sector.
    </li>
    <li><b>EV Range</b>: 
        Battery power density is such that EVs cannot yet match the range that's possible using
        a large gasoline tank. Charging a battery isn't as convenient as refilling a tank.
    </li>
    <li><b>EV Sticker Price</b>:
        Non-hybrid internal combustion vehicles are cheaper than hybrid and EV variants, similar models.
    </li>
    <li><b>EV Cost Complexity</b>:
        The total cost of ownership comparison for EVs and PHEVs
        is less than ICE vehicles in many use cases, but the calculation depends on several factors,
        not all of which are top-of-mind or even well-known to buyers.
    </li>
    <li><b>EV Pace of Deprecation</b>:
        The relatively rapidly evolving technology in EVs may
        discourage some buyers (holding out for e.g. better range at lower cost next year),
        and some sellers (who wish their mid-life EVs commanded higher resale prices).
    </li>
    <li><b>EV Range Anxiety</b>:
        Managing a battery charge level is different from keeping a gasoline tank full.
        In some cases it's easier, but in some cases it's more difficult.
        EV charging infrastructure lags gasoline refuelling infrastructure by most of a century; charging an EV on the road can be an inconvenience, or a real challenge.
    </li>
    <li><b>Lithium batteries degrade in cold temperatures</b>:
        Cold temperatures degrade lithium-ion battery performance quite badly, and more than gasoline engine performance.
        Sodium ion batteries are more robust to cold, may help in future designs.
    </li>
    <li><b>Gasoline engine efficiency is hard to improve</b>:
        Gasoline engines have already been refined over almost a century of intense engineering.
        Higher fuel efficiency
        <a href="https://global.honda/en/tech/motorsports/Formula-1/Powertrain_Combustion_Efficiency/">is possible</a>, but such engines are expensive relative to their fuel savings.
    </li>
</ul>
</p>

{% include "ipcc-sectors-strategy-ideas-table.html" %}

<h2>Posts developing this page</h2>
<ul>
{% for blog in blogs_by_tag("Light-Duty Gasoline Trucks") %}
<li><a href="/blog/{{blog.url_filename}}/">{{blog.title}} ({{blog.date.strftime("%b %d, %Y")}})</a></li>
{% endfor %}
</ul>

</div>
</section>
</div>

{% include "post-main.html" %}
