{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
									<span class="date">Dec 5, 2025</span>
        <h1>How might Canada achieve net-zero emissions?</h1>
									<p>Plan Zero is an independent research project
                                    to work publicly toward understanding
                                    how Canada might achieve net-zero emissions.
									</p>
    </header>
<p>
Plan Zero is a project I'm undertaking to understand how I might, personally, best-contribute to
a more-sustainable way of life in Canada, and maybe beyond.
It's a grand challenge, and I've always liked grand challenges.
Hannah Ritchie observed in
<a href="https://www.amazon.ca/Not-End-World-Generation-Sustainable/dp/031653675X/">Not the End of the World: How We Can Be the First Generation to Build a Sustainable Planet</a> that it's never been done before:
that civilizations have historically thrived by living un-sustainably;
that people have time-and-again drawn down useful natural resources faster than those resources could replenish;
and that this activity of ours has redefined much of the surface of the earth.
For a bit of a manifesto on why I'm doing this, check out the <a href="/about/">about</a> page.
</p>

<p>
My approach to understanding how to make an impact on Canada's emissions
is to start with familiarizing myself with what they are and where they come from.
Helpfully, Canada is a participant in the UN's International Panel on Climate Change (IPCC)
and a signatory to the 2015 Paris Accord, and so
Environment Canada both
<a href="https://www.canada.ca/en/environment-climate-change/services/climate-change/greenhouse-gas-emissions/inventory.html">
    maintains a national greenhouse gas emissions inventory</a>
and reports it to the UN every year.
I downloaded a recent data file with both national and provincial emissions by IPCC sector
from <a href="https://data-donnees.az.ec.gc.ca/data/substances/monitor/canada-s-official-greenhouse-gas-inventory/A-IPCC-Sector?lang=en">
    here</a>, loaded it up and rendered it like this:
</p>

    <a href="/ipcc-sectors/">
    <img src="/images/2025-12-05-tracking-to-emissions-targets.png" alt="" class="image main"/>
    </a>
<p>
    These lines (from the <a href="/ipcc-sectors/">IPCC-Sectors</a> graphic at time of writing)
    represent most of Canada's human-caused emissions.
    The year 2020 marks half-way between the year 1990 (the left boundary of the horizontal axis) and the year 2050,
    at which point the government of Canada has pledged to the international community on behalf of Canadian citizens that we will have achieved net-zero CO2e emissions.
    As can be seen in the graphic, the total emissions are not yet obviously tracking to zero!
    What are we currently doing, and what might we do in the future to make these lines go down and to the right?
</p>

<p>
It's December 2025 and I'm setting out to understand it in my own way.
I have started working on this site to quantify possible impacts on economics, emissions and accumulated heat,
that might come of various ideas to do something positive for the climate.
Some of the ideas are regulatory
(e.g. incentivize farmers to feed Bovaer to cattle,
reduce tariffs on fuel-efficient technology),
some of the ideas are entrepreneurial
(e.g. commercialize efficient technology, drive adoption),
and some of the ideas are oriented to consumers
(e.g. buy and use different things, live differently).
I am not an economist or a climate scientist. I have a Ph.D. in computer science,
with application to machine learning.
I would describe the climate and economic modelling methodology used in this site as ad-hoc,
but it's encoded in open-source software on github so it's at least open to both scrutiny and feedback.
</p>

<p>The site today, as I'm writing this blog post, comprises:
    <ul>
        <li><a href="/ipcc-sectors/">IPCC Sectors</a>: Canada's emissions by most-granular IPCC sector, some (5) of which have been written up in terms of their underlying sources, some key stakeholders, and some possibilities for action.</li>
        <li><a href="/strategies/">Strategies</a>: Emission-reduction ideas that have been fleshed as high-level project / business plans.</li>
        <li><a href="/about/">About</a>: A vision, a bit of a manifesto, which I hope will evolve into a strategy and guiding principles for the project itself. </li>
        <li><a href="https://github.com/jaberg/planzero">Source code</a>: The Python-language modelling logic and content for the site, hosted on github.</li>
    </ul>
</p>

<p>
Over time, and through the process of sharing this work with others,
I hope that the methodology can be brought in line with accepted best practice,
that the research can cover of all of Canada's IPCC sectors,
that the sets of ideas for reducing emissions in each sector grow to include sufficient good ones,
and that the analysis of promising ideas as "Strategies" starts to show a high-level picture,
in actionable terms for various stakeholder groups, of how Canada might achieve its net-zero emissions targets, with an economy that provides us with prosperity for generations to come.
And I hope that I can help make some of it happen.
</p>

<p>
- James Bergstra
</p>

</section>
</div>
{% include "post-main.html" %}
