{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
        <span class="date">{{blog.date.strftime("%b %d, %Y")}}</span>
        <h1>{% if not blog.published %}[DRAFT] {% endif %} {{blog.title}}</h1>
        <p>{{blog.about}}</p>
    </header>

<p>
Table of Contents:
<ul>
    <li><a href="#qual">Enteric Fermentation</a></li>
    <li><a href="#quant">An Enteric Fermentation Emission Estimator</a></li>
    <li><a href="#csfs">Critical Success Factors</a></li>
    <li><a href="#barriers">Barriers</a></li>
    <li><a href="#strategies">Potential Strategies</a></li>
    <li><a href="#conclusion">Conclusion</a></li>
</ul>
</p>

<h2 id="qual">Enteric Fermentation</h2>

<p>
This is the seventh post in the sector-by-sector series replicating
Canada's <a href="https://www.canada.ca/en/environment-climate-change/services/climate-change/greenhouse-gas-emissions/inventory.html">National Greenhouse Gas Inventory Report (NIR)</a>.
It updates PlanZero's
<a href="/ipcc-sectors/Enteric_Fermentation">Enteric Fermentation</a>
IPCC summary page,
which was one of the first things I investigated with PlanZero before
starting this series of posts,
bringing it up to the standard of its more-recently-drafted peers via numerous improvements from top to bottom. Those changes are covered narratively via this post.
</p>

<p>
<i>Enteric fermentation</i> is the technical term for the digestive process in animals that produces methane.
The IPCC category covers all livestock, but in Canada's inventory,
cattle are responsible for 96–97% of these emissions.
Cattle produce this overwhelming majority of the sector's emissions because they are ruminants,
they are big, and there are so many of them.
</p>

<p>
From <a href="https://en.wikipedia.org/wiki/Ruminant">wikipedia</a>:
<i>Ruminants are herbivorous grazing or browsing artiodactyls belonging to the suborder Ruminantia that are able to acquire nutrients from plant-based food by fermenting it in a specialized stomach prior to digestion, principally through microbial actions.
The process, which takes place in the front part of the digestive system and therefore is called foregut fermentation, typically requires the fermented ingesta (known as cud) to be regurgitated and chewed again. The process of rechewing the ingesta to further break down plant matter and stimulate digestion is called rumination or chewing the cud.</i>
The fermentation that happens in this first stomach produces methane,
which cattle release through their mouths when they regurgitate cud.
There are many domesticated and wild ruminant species:
cattle, sheep, goats, deer, carribou, and moose are all ruminants.
</p>


<h2 id="quant">Estimating Enteric Fermentation Emissions</h2>

{{blog.est_nir.Est_EntericFermentation().echart() | safe}}

<p>
The NIR methodology regarding agriculture
(<a href="https://data-donnees.az.ec.gc.ca/data/substances/monitor/canada-s-official-greenhouse-gas-inventory/G-Additional-NIR-Annexes?lang=en">Annex 3.4</a>) describes how Environment and Climate Change Canada (ECCC) determined the emission factors for Canada's cattle.
It is an energy accounting method:
the total energy of various food sources is estimated, as is the energy in outputs of e.g. milk, dung, heat, growth, etc.
The energy estimation leads to an imbalance: cattle take in more than they put out.
Methane is relatively energy-dense, so the energy imbalance is attributed to the lost methane formed by enteric fermentation.
</p>
<p>
Thanks to NIR Annex 3.4, Table A3.4-11 (<a href="https://data-donnees.az.ec.gc.ca/api/file?path=%2Fsubstances%2Fmonitor%2Fcanada-s-official-greenhouse-gas-inventory%2FG-Additional-NIR-Annexes%2FEN_Annex3.4_Methodologies_Agriculture.pdf">pdf</a>),
PlanZero does not have to implement an energy imbalance calculation.
PlanZero can simply use emission factors per heads of cattle of various types,
at select years since 1990.
For example in 2023: dairy cows were assessed as producing an average of 145.6 kg {{CH4|safe}}/yr;
beef cows, 121.5 kg {{CH4|safe}}/yr; calves just 44 kg {{CH4|safe}}/yr.
The emission factors for fully-grown animals numbers have risen since 1990 because
the animals on farms have tended to grow larger (due to selective breeding).
Although the emission factors per head of cattle
are higher now than in 1990, the emission factors per unit of food, at least for dairy output,
are lower now because today's cattle are more productive.
Fun/depressing fact: since methane's global warming potential (28x) is so much higher than carbon dioxide (1x),
a single modern dairy cow's methane ends up producing about the same amount of {{CO2e|safe}} as a family vehicle's exhaust (about 4t {{CO2e|safe}}/yr).
</p>
<p>
Multiplying these emission factors by the cattle populations in Statistics Canada Table 32-10-0130-01 (<a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210013001">Number of cattle, by class and farm type</a>) yielded one of the better-fitting sectoral estimators in PlanZero.
(Happily, it also extends two years ahead of the NIR, because StatsCan has updated the cattle population tables more recently.)
</p>
<p>
Future work can add the populations of other livestock, especially sheep because they are also ruminants, but also chickens and swine. I believe their emissions impact is relatively small
because their populations are smaller, and non-ruminants don't produce significant amounts of methane.
</p>

<h2 id="csfs">Critical Success Factors</h2>

<p> The reduction of enteric fermentation emissions
requires some combination of the following:
<ul>
    <li>reduce the number of bovine animals, particularly ruminants e.g. cattle and sheep</li>
    <li>reduce the rate of methane emitted, per head</li>
    <li>increase the rate of food production, per head</li>
    <li>increase the rate of methane capture (not currently practical, as far as I know)</li>
</ul>
</p>


<h3 id="barriers">Barriers</h3>
<p>
<ul>
    <li><b>Alignment</b>: Owners of herds do not want to reduce their herds, and neither do their customers or suppliers.</li>
    <li><b>Demand</b>: Domestic and international demand for beef and milk products is high,
        and expected to rise with increasing global population and increasing global wealth.</li>
    <li><b>Culture</b>: The voting population likes cattle: they're picturesque, iconic, and widely considered to be tasty and nutritious.</li>
    <li><b>Animal Welfare</b>:
        So-called "factory farming" methods generate less methane per unit food,
        because wild grasses are the hardest to digest (require the most fermentation).
    </li>
</ul>
</p>

<h3 id="strategies">Strategies</h3>

<p>
Active strategies for emissions reduction in this sector include
adjusting feed mixtures, selective breeding for more-efficient cattle,
and administring feed additives such as Bovaer.
<a href="https://www.dsm-firmenich.com/anh/products-and-services/products/methane-inhibitors/bovaer.html">Bovaer</a> is approved for use in 60+ countries as an additive
that changes the chemistry in the first ruminant stomach to produce a mixture of hydrogen (not a greenhouse gas) and methane
rather than purely methane (which is a greenhouse gas).
It is not a silver bullet for the sector, but Bovaer can reduce methane emissions by
30% for dairy cows and 45% for beef cattle.
Without a technological breakthrough that allows low-cost methane capture from
cattle barns, or a feed mixture that significantly reduces the need for enteric fermentation,
the only way to reduce emissions in this sector to zero would
be to somehow reduce the number of cattle.
</p>


<h3 id="conclusion">Conclusion</h3>

<p>
This post has introduced a relatively accurate estimator of enteric fermentation emissions
based on emission factors from the NIR and data from Statistics Canada.
The <a href="/ipcc-sectors/Enteric_Fermentation">IPCC / Enteric Fermentation</a>
page has been updated to feature this estimator, new
critical success factors, new barriers to those success factors,
and new strategies.
The next post in this series replicating the NIR will look at
heavy-duty diesel-burning trucks.
</p>
<p>
Until then,
</p>
<p>
- James Bergstra
</p>

<ul class="actions special">
    {% if prev_url_filename %}
    <li><a href="/blog/{{prev_url_filename}}" class="button">Previous</a></li>
    {% endif %}
    {% if next_url_filename %}
    <li><a href="/blog/{{next_url_filename}}" class="button">Next</a></li>
    {% endif %}
</ul>
</section>
</div>
{% include "post-main.html" %}
