{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
        <span class="date">{{blog.date.strftime("%b %d, %Y")}}</span>
        <h1>{% if not blog.published %}[DRAFT] {% endif %} {{blog.title}}</h1>
        <p>{{blog.about}}</p>
    </header>

<p>
Table of Contents:
<ul>
    <li><a href="#h2_intro">Introduction</a></li>
    <li><a href="#residential_scs">Residential Stationary Combustion Sources</a></li>
    <li><a href="#neud">An Estimator based on the National Energy Use Database</a></li>
    <li><a href="#csfs">Critical Success Factors</a></li>
    <li><a href="#barriers">Barriers</a></li>
    <li><a href="#strategies">Potential Strategies</a></li>
    <li><a href="#conclusions">Conclusions</a></li>
</ul>
</p>

<h2 id="h2_intro">Introduction</h2>

<p>
This is the fifth post in the sector-by-sector series replicating
Canada's <a href="https://www.canada.ca/en/environment-climate-change/services/climate-change/greenhouse-gas-emissions/inventory.html">National Greenhouse Gas Inventory Report (NIR)</a>.
It introduces PlanZero's first estimator for
residential stationary combustion sources,
and refreshes the <a href="/ipcc-sectors/Stationary_Combustion_Sources/Residential">IPCC / Stationary Combustion / Residential</a>
page to feature this estimator, as well as updated
critical success factors and barriers to those success factors.
</p>

<h2 id="residential_scs">Residential Stationary Combustion Sources</h2>

<p>
The best data on how and why Canadians burn fossil fuels in their residences
appears to be maintained by National Resources Canada,
which publishes the
<a href="https://oee.nrcan.gc.ca/corporate/statistics/neud/dpa/menus/trends/comprehensive_tables/list.cfm">National Energy Use Database (NEUD)</a>
and a great
<a href="https://oee.nrcan.gc.ca/publications/statistics/trends/2020/residential.cfm">mini-site overview of drivers and solutions for this sector</a>.
According to the NEUD, residential stationary combustion sources in Canada are used for three purposes
(<a href="https://oee.nrcan.gc.ca/corporate/statistics/neud/dpa/showTable.cfm?type=CP&sector=res&juris=ca&year=2023&rn=2&page=0">link</a>):
<ol>
    <li>warming living spaces to comfortable temperatures in cold weather (73%) </li>
    <li>heating water for cooking and cleaning (26%)</li>
    <li>cooking (1%)</li>
</ol>
Although these activities are occasionally coupled (such as in older homes with
radiators, or newer homes with in-floor heating), most of Canada's housing stock
provides heat to living spaces, water, and food with three independent heating systems.
</p>


<p>
The
<a href="https://oee.nrcan.gc.ca/corporate/statistics/neud/dpa/showTable.cfm?type=CP&sector=res&juris=ca&year=2023&rn=27&page=0">most common building style and heating system technology</a>
in Canada is a detached home,
with a high-efficiency [natural] gas furnace,
and a mechanically
independent gas-powered hot water tank that keeps water close to a set temperature
of
<a href="https://www.canada.ca/en/public-health/services/water-temperature-burns-scalds.html">50-60{{degrees|safe}}C</a>.
Detached houses account for about half of Canada's housing stock
(about 8.5 million out of about 16 million),
and about half of those (4 million) are heated with natural gas.
Detached houses with oil furnaces and water heaters account for an additional three-hundred thousand.
(<a href="https://oee.nrcan.gc.ca/corporate/statistics/neud/dpa/showTable.cfm?type=CP&sector=res&juris=ca&year=2023&rn=39&page=0">link</a>)
There are reportedly six-hundred thousand detached homes that burn wood to heat their living space;
I conjecture that the majority of these homes use electricity to heat their water, but I'm not sure.
There is no practical per-home carbon capture technology, so the {{CO2|safe}} from the combustion
of these fuels escapes from Canada's chimneys and is counted as greenhouse gas emissions.
</p>

<p>
The other home types in the NEUD are attached houses
(semi-detached houses, row houses, and so on), apartments
(units in low-rise, mid-rise and high-rise buildings), and mobile homes.
About half of Canada's 2 million attached houses are heated by fossil fuels
(almost all of those are gas-heated, <a href="https://oee.nrcan.gc.ca/corporate/statistics/neud/dpa/showTable.cfm?type=CP&sector=res&juris=ca&year=2023&rn=42&page=0">link</a>).
About a third of Canada's 5 million apartment-style residences are
heated by natural gas (often via the building's HVAC, <a href="https://oee.nrcan.gc.ca/corporate/statistics/neud/dpa/showTable.cfm?type=CP&sector=res&juris=ca&year=2023&rn=45&page=0">link</a>).
To my surprise, about half of Canada's two-hundred thousand mobile homes are also heated by natural gas
(<a href="https://oee.nrcan.gc.ca/corporate/statistics/neud/dpa/showTable.cfm?type=CP&sector=res&juris=ca&year=2023&rn=48&page=0">link</a>).
</p>


<p>
According to Natural Resources Canada,
a Canadian home heated with natural gas emits
<a href="https://natural-resources.canada.ca/energy-efficiency/electric-heat-pumps/heat-pump-basics">up to 6.5 t{{CO2e|safe}}/yr</a>,
and one heated with oil emits up to 10 t{{CO2e|safe}}/yr.
Trivially, the emissions for a specific home are directly proportional
to the amount and type of fuel it uses in a given year.
When we look beyond that, to the question of why this quantity of fuel was used,
there are many factors that suggest strategies for reducing emissions in this sector:
the type of fuel, the efficiency of the furnace,
the insulation efficiency of the home,
the size of the home,
the heating behaviour implemented by the thermostat, and the outdoor weather.
</p>




<h2 id="estimation">Estimating Residential Stationary Combustion Emissions</h2>

<p>
To replicate and break down emissions for this sector I used data from just one source:
the per-province "comprehensive tables" of NRCan's <a href="https://oee.nrcan.gc.ca/corporate/statistics/neud/dpa/menus/trends/comprehensive_tables/list.cfm">National Energy Use Database (NEUD)</a>.
This data set, already referenced several times in this post,
lists what kinds of housing and heating systems exist in Canada's provinces
(e.g. single vs. attached houses, apartments, mobile homes),
what kinds of energy fuels they require (especially gas, oil, electricity, wood)
and for what end use
(heating and cooling space, heating water, running appliances,
lighting).
</p>

<p>
The chart below shows how the NIR sector total can be broken
down by end use; decomposition by fuel type,
or by housing type is also possible.
</P>

{{blog.est_nir.Est_SCS_Residential().echart() | safe}}

<p>
The quality-of-fit of this data to the National Inventory Report target is
the best one so far in PlanZero.
I wonder if the small remaining discrepancy is related to wood combustion
because accounting for firewood across Forest, Harvested Wood Products, and residential heating
is tricky.
This can't be the only explanation though, because
firewood accounts for a steady <a href="https://oee.nrcan.gc.ca/corporate/statistics/neud/dpa/showTable.cfm?type=CP&sector=res&juris=ca&year=2023&rn=1&page=0">3-4%</a>
of residential emissions over the last 10 years, while the
the discrepancy drops to almost zero by 2023.
I don't know what else might account for the discrepancy.
</p>

<h3 id="csfs">Critical Success Factors</h3>

<p> To reduce residential stationary combustion emissions,
it seems required to do some combination of the following:
<ul>
    <li>Reduce the number of residences relying on combustion for space heating, water heating, and cooking.</li>
    <li>Increase the thermal insulation of combustion-heated spaces.</li>
    <li>Increase the use of renewable fuels in equipment designed for fossil fuels.</li>
    <li>Reduce the unnecessary heating of e.g. vacant rooms.</li>
    <li>Reduce the temperature Canadians expect in their homes on cold days.</li>
    <li>Reduce the average size of residences.</li>
</ul>
</p>


<h3 id="barriers">Barriers</h3>
<p>
It must be stated that the over-arching strategy for emission reductions in this sector
is the greater use of heat pumps.
That said, it is challenging to make progress on the critical success factors above for several reasons:

<ul>
    <li>
        <b>Upfront Cost, Long ROI</b>:
        upgrading a building to be more energy-efficient or to
        use a different heating technology can save money over time, but upgrades require
        cash up front. The payback period for home upgrades is typically many years.
    </li>
    <li><b>Confusion About Heat Pumps</b>:
        Heat pumps are a new technology compared to e.g. oil furnaces.
        Natural Resources Canada has developed a
        <a href="https://natural-resources.canada.ca/energy-efficiency/electric-heat-pumps">mini-site
            about heat pump technologies</a>, explaining e.g.
        <a href="https://natural-resources.canada.ca/energy-efficiency/electric-heat-pumps/heat-pump-basics">the basics</a>, and
        <a href="https://natural-resources.canada.ca/energy-efficiency/electric-heat-pumps/find-facts-about-electric-heat-pumps">addressing myths</a>.
    </li>
    <li><b>Distributed Decision-Making</b>:
        residential heating technology is controlled by the buying decisions of the general
        Canadian public.  Convincing homeowners to take action takes time.
        (This barrier has a positive flip-side, that there can be early adoption as soon as
        any homeowners are ready to try new technology.)
    </li>
    <li><b>Switching Takes Planning</b>:
        upgrades to owner-managed residences are more-frequently motivated
        by the failure of a home element, as compared with professionally managed buildings.
        After failure, there may be time pressure, cashflow pressure,
        and fewer options than for a planned upgrade.
        Switching to a ground-source heat pump requires some excavation.
        A rushed replacement of an oil-burning furnace may regretably lock in decades
        of future emissions, which could have been avoided by a planned heat pump upgrade.
        (Statistics Canada's 2025/2026 Households and the Environment Survey (HES) specifically added questions to track "Planned" vs "Emergency" replacements to better understand this behavior.)
    </li>
    <li><b>Desire for Warmth</b>:
        people like to be warm and cozy in winter, it's unpleasant to be cold in one's own home.
    </li>
    <li><b>Desire for Space</b>:
        People want more private space;
        Canada's average residential floor space per household has been rising for decades,
        it appears to have reached 150 square metres (<a href="https://oee.nrcan.gc.ca/corporate/statistics/neud/dpa/showTable.cfm?type=CP&sector=res&juris=ca&year=2023&rn=1&page=0">link</a>).
    </li>
    <li><b>Personal Preference</b>: some people just like cooking with gas.</li>
</ul>
</p>

<h3 id="strategies">Strategies</h3>

<p>
One technology strategy dominates the plan for this sector:
deploy more heat pumps.
<a href="https://en.wikipedia.org/wiki/Heat_pump">Heat pumps</a>
have been known for hundreds of years, but the technology to provide
practical HVAC systems has only been in production since the 1980s.
They are now a good alternative to oil and gas heating:
effective, practical, affordable. Indeed Canadians are
switching to heat pump technology, and as they do so,
direct emissions in this sector are dropping, and could continue to drop to near zero.
Heat pump technology applies to both the heating of living spaces,
and the heating of water, and can help decarbonize both emission sources.
</p>

<p>
There are a number of government programs in place
to accelerate the adoption of heat pumps,
such as through information campaigns and financial incentives.
There are also incentive programs to support and encourage
Canadians to make their houses more thermally efficient, which helps
reduce energy waste regardless of which fuel is used to heat the home.
</p>

<h3 id="conclusion">Conclusion</h3>

<p>
Despite it being so cold here,
the IPCC category of residential stationary combustion sources
only accounts for about 5% of national net emissions.
Still it might be one of the easiest 5% of emissions to eliminate, because
modern heat pumps are cleaner and more cost-effective than natural gas,
and are effective down to temperatures of about -30C (enough for most
of Canada's residences).
I expect it's just a matter of time until Canada's housing stock is converted
to use heat pump technology, and emissions in this sector drop to zero.
Still, it will be difficult to reach zero emissions in this sector by 2050 without
a strong government push, as gas furnaces are still being installed today,
and today's new gas furnace may still be running in 2050.
</p>

<p>
This post has introduced a relatively accurate estimator of residential stationary combustion sources
based on data from Natural Resources Canada's National Energy Use Database.
The <a href="/ipcc-sectors/Stationary_Combustion_Sources/Residential">IPCC / Stationary Combustion / Residential</a>
page has been refreshed to feature this estimator, as well as updated
critical success factors,  barriers to those success factors,
and strategies to address those factors and barriers.
The next post in this series replicating the NIR will look at
another more familiar source of emissions to the general public:
gasoline-burning vehicles.
The NIR reports the bulk of gasoline vehicle emissions via a pair of categories
covering smaller vehicles (compacts, sedans and the like),
and larger vehicles (SUVs and light-duty trucks),
but I expect the research on both to be similar,
as well as the critical success factors, barriers, and strategies
(e.g. use EVs instead).
</p>
<p>
Until then,
</p>
<p>
- James Bergstra
</p>

<ul class="actions special">
    {% if prev_url_filename %}
    <li><a href="/blog/{{prev_url_filename}}" class="button">Previous</a></li>
    {% endif %}
    {% if next_url_filename %}
    <li><a href="/blog/{{next_url_filename}}" class="button">Next</a></li>
    {% endif %}
</ul>
</section>
</div>
{% include "post-main.html" %}
