{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
        <span class="date">{{blog.date.strftime("%b %d, %Y")}}</span>
        <h1>{% if blog.published %}{{blog.title}} {% else %} Draft: {{blog.title}}{% endif %}</h1>
        <p>{{blog.about}}</p>
    </header>

<p>
Table of Contents:
<ul>
    <li><a href="#h2_intro">Introduction</a></li>
    <li><a href="#fugitive">Fugitive Vented Emissions from Oil and Natural Gas</a></li>
    <li><a href="#estimating">Estimating Venting Emissions</a>
        <ul>
            <li><a href="#ghgrp">Canada's Greenhouse Gas Reporting Program (GHGRP)</a></li>
            <li><a href="#st60b">Alberta Energy Regulator Statistical Report ST60B</a></li>
            <li><a href="#petrinex">Petrinex</a></li>
            <li><a href="#why2.5">Unreported Emissions: Why I multiplied data totals by 2.5</a></li>
        </ul>
    </li>
    <li><a href="#summary">Summary</a>
        <ul>
            <li><a href="#csfs">Critial Success Factors</a></li>
            <li><a href="#barriers">Barriers</a></li>
            <li><a href="#strategies">Strategies</a></li>
            <li><a href="#conclusion">Conclusion</a></li>
        </ul>
    </li>
</ul>
</p>

<h2 id="h2_intro">Introduction</h2>

<p>
It is well known that burning oil and gas leads to greenhouse gas emissions.
It is perhaps less-well known that the activity of extracting and processing those fuels, and transporting them to customers, is also an enormous source of emissions.
Even so, I was astonished that the largest single-IPCC-sector contributor to emissions from oil and gas in 2005
was the deliberate direct transfer of methane and carbon dioxide into the atmosphere, without any combustion at all.
<i>Vented fugitive emissions</i>, especially of methane, are the focus of this post, which
continues the series looking at Canada's emissions in terms of IPCC sectors in order of decreasing contribution to the 2005 total (Canada's baseline year for net-zero targets).
Annual emissions of vented fugitive gases have fallen to about half of their peak (75 Mt in 2014),
but still (as of the 2023 data) this category accounted for 40 Mt {{CO2e|safe}}, or about 6% of Canada's national total.
This post also introduces a new IPCC Sector summary page to PlanZero:
<a href="/ipcc-sectors/Fugitive_Sources/Oil_and_Natural_Gas/Venting/">IPCC Sector / Fugitive Sources / Oil and Natural Gas / Venting</a>.
</p>

<p>
There are many reasons and sources for vented emissions in the oil and gas sector.
One example, is <i>casing gas</i>.
Underground, deposits of fossil carbon occur in any (or all) of solid, liquid, and gaseous forms.
There is usually gas, because fossil deposits are created by high pressure (think of the enormous weight of the earth's crust above!),
and gas dissolves more readily in liquid under higher pressure.
Unfortunately, that gas, called <i>formation gas</i>, happens
to be mostly methane (70-90%) and carbon dioxide (10-20%).
When a drill bores into an oil or gas deposit, the hole offers a lower-pressure escape for anything that can flow;
oil and gas rush in, and de-pressurize.
Under less pressure, previously-dissolved gas <i>flashes</i> from the oil (becomes un-dissolved), joins any previously-undissolved gas and escapes to the surface however it can,
both inside the well tube (<i>produced, wet gas</i>), and between the well tube and the surrounding cement <i>casing gas</i>.
</p>
<p>
Casing gas can be an inconvenience to an oil well operator, because
it contains methane but it may not be profitable to capture that methane and bring it to market.
The gas cannot simply be sealed in the well, because it's the relatively low pressure within the well bore that draws oil and gas into the well;
the casing gas needs to come out.
In the unprofitable case, the question then faces the well operator, of what to do with the flow of casing gas?
There are two standard practices: to release it (producing <i>venting</i> emissions), or to burn it (producing <i>flaring</i> emissions).
Burning it requires more equipment, but it is considered better for the environment because
vented methane traps more heat over time as a greenhouse gas than is released by its combustion.
The ratio of exactly how much better it is continues to be the subject of academic study, but
it is believed to be hundreds of times better, depending on how far into the future you count the greenhouse effect
(See e.g. <a href="https://www.rogersathre.com/Sathre_2014_comparing_heat_combustion_GHGs.pdf">Sathre 2014</a>;
troublingly, my own {{CO2e|safe}} model doesn't seem to get the ratio right, and I've made a
<a href="https://github.com/jaberg/planzero/issues/39">github issue</a> as a reminder to investigate.)
</p>
<p>
This post is about venting emissions from oil and gas: deliberate or engineered releases of unburned greenhouse gases into the atmosphere,
from all sources across the oil and gas industry.
The casing gas discussed above is one source, but there are many more,
such as the release of gas from equipment and piping for maintenance purposes, the release of gas that evaporates from
oil in pipes and holding tanks, even the release of gas from oil production <i>sewage</i> flows and the tailings ponds to which the sewage drains.
The post is organized as a brief review of the definition of venting according to the IPCC (which isn't always identical to the 
definitions used in industry), a review of sources of venting emissions in Canada (and their accounting),
and then my own attempt to replicate the National Greenhouse Gas Inventory Report (NIR) venting emissions total.
I end up presenting an accurate estimator, but only by multiplying many of the emissions totals in source data
by a factor of 2.5 (spoiler: there are justifications, but they will not be totally satisfying).
The post closes with some thoughts on how to improve the estimator, and a look forward
to the next post in the series, which will be about emissions from stationary combustion within the oil and gas sector itself.
</p>


<h2 id="fugitive">Fugitive Emissions Relating to Oil and Natural Gas</h2>

<p>
The IPCC reporting guidelines
(<a href="https://www.ipcc-nggip.iges.or.jp/public/2006gl/pdf/2_Volume2/V2_4_Ch4_Fugitive_Emissions.pdf">2006</a>)
define fugitive emissions to mean "<i>all greenhouse gas emissions from oil and gas
systems except contributions from fuel combustion. Oil and natural gas systems comprise all infrastructure
required to produce, collect, process or refine and deliver natural gas and petroleum products to market. The
system begins at the well head, or oil and gas source, and ends at the final sales point to the consumer.
</i>" Fugitive emissions are the catch-all. They are are defined as all emissions from the oil and gas systems,
minus a few exceptions:
<ul>
    <li>Combustion for useful heat or energy by stationary or mobile sources
        (counted across many <a href="/blog/2026-02-12-public-electricity#ipcc_sectors">IPCC sectors</a> depending on the reason: driving cars, building heating, etc.)</li>
    <li>Fugitive emissions from carbon capture and storage projects
        (which are counted in relation {{CO2|safe}} management, <a href="/blog/2026-02-12-public-electricity#ipcc_sectors">the last category in the Energy category</a>)</li>
    <li>Fugitive emissions that occur at industrial facilities <i>other
            than oil and gas facilities</i> (which are counted in the <a href="/blog/2026-02-12-public-electricity#ipcc_sectors">Industrial Processes and Process Use</a> sectors, rather than within Energy)</li>
    <li>Fugitive emissions from waste disposal activities outside of
        the oil and gas industry (these are counted in <a href="/blog/2026-02-12-public-electricity#ipcc_sectors">Waste</a> sectors rather
        than within the Energy sector)
    </li>
</ul>
All other fugitive emissions from oil and gas systems are <i>included</i> in this category, including the oil
and gas production components of facilities that re-inject {{CO2|safe}} for the purposes of enhancing oil recovery.
The 2006 IPCC reporting guidelines further recommend summing up fugitive emissions from oil systems and natural gas systems separately,
as much as that makes sense, and reporting fugitive emissions relating to each as follows:
<ul>
    <li>IPCC code 1.B.2.{a,b}.i for <i>Venting</i> of emissions from oil systems (a) and natural gas systems (b)</li>
    <li>IPCC code 1.B.2.{a,b}.ii for <i>Flaring</i> of emissions from oil systems (a) and natural gas systems (b)</li>
    <li>IPCC code 1.B.2.{a,b}.iii for <i>All Other</i> fugitive emissions from oil systems (a) and natural gas systems (b) such as exploration, production, upgrading, transport, refining, distribution, and anything else along the way.</li>
</ul>
Canada's NIR has tracked emissions in this way, except, as we'll see in the next section, by combining the venting and flaring emissions
of oil systems and natural gas sytems.
</p>

<h3 id="venting">Venting Emissions</h3>

<p>
The previous section was about fugitive emissions generally, but this post is about a specific type of fugitie emissions called <i>vented</i> emissions,
so we need to go through a few more definitions.
Venting is an industry term for the controlled release of non-combusted gases into the atmosphere.
The 2006 IPCC reporting guideline defines venting as comprising
<i>all engineered or intentional discharges of waste gas streams and process by-products to the atmosphere, including emergency discharges.</i>
 These releases may occur on either a continuous or intermittent basis, and may include the following:
<ul>
    <li>The use of pressurized natural gas instead of compressed air in pneumatic devices</li>
    <li>Pressure relief and disposal of off-specification product during process upsets</li>
    <li>Purging and blowdown events related to e.g. maintenance</li>
    <li>Disposal of off-gas streams from oil and gas treatment units</li>
    <li>Gas released from drilling and well testing</li>
    <li>Disposal of waste-associated gas oil production facilities</li>
    <li>Solution gas emissions from storage tanks, evaporation losses from e.g. process sewers, tailings ponds, even biogenic gas formation from tailings ponds</li>
    <li>Discharge of {{CO2|safe}} extracted from refined gas</li>
</ul>
When some or all vented gas can be captured for storage and utilization, the 2006 IPCC guidance is that the inventory of vented emissions
should include only the net emissions to the atmosphere.
</p>
<p>
Venting does not include exhaust streams from combustion.
If there's been combustion for energy, then the exhaust is counted as a mobile or stationary combustion emission.
If there's been combustion that was not for energy then its exhaust is counted as a flaring emission.
Venting also does not include accidental releases due to e.g. leaks or catastrophic equipment failure.
Still, the IPCC guideline defines venting relatively broadly.
The definition is important for my purpose here,
because as we'll see in the next section, some of the data available regarding Canada's oil and gas activity also uses the term venting,
but in a narrower sense.
</p>

<p>
Also, Canada's 2025 National Greenhouse Gas Inventory (NIR)<!--HREF-->
enumerates fugitive oil and gas emissions in terms of four categories:
(1) Oil, (2) Natural Gas, (3) Venting, and (4) Flaring.
These categories do not seem to exactly match the meaning of the IPCC codes named above in regards to venting and flaring,
because there isn't e.g. venting-from-oil separately from venting-from-gas.
I believe what the NIR labels "Venting"
refers to the sum of the two IPCC categories relating to venting in oil and natural gas systems (1.B.2.a.i, and 1.B.2.b.i respectively).
The estimator that I have added to PlanZero is implemented with this assumption in mind;
I have not attempted to delineate the venting emissions of oil systems from natural gas systems.
</p>


<h2 id="estimating">Estimating Venting Emissions</h2>

<p>
I struggled to estimate the NIR Venting total from published data,
and this post reports on the use of three data sets, and one big hack.
The three public databases were
the Greenhouse Gas Reporting Program (GHGRP),
the Alberta Energy Regulator's ST60B report,
and Petrinex.
Details on how I used these data sets follows below, after the figure.
The hack is that I just multiplied many of the emissions in the data by 2.5,
but see the section below (<a href="#why2.5">Why I ...</a>) before dismissing the technique outright.
The result, below, is an estimator that accounts for about 90% of emissions in very-recent years (2022-2023),
about 50% venting emissions for less-recent years (e.g. 2004-2014),
and 0% of the emissions prior to 2004.
</p>

<p>
The following figure shows the PlanZero venting estimator.
<a href="/ipcc-sectors/Fugitive_Sources/Oil_and_Natural_Gas/Venting/">IPCC Sector / Fugitive Sources / Oil and Natural Gas / Venting</a>:
</p>

{{blog.est_nir.EstFugitive_OilandNaturalGas_Venting().echart_venting() | safe}}

<h3 id="ghgrp">Canada's Greenhouse Gas Reporting Program (GHGRP)</h3>

<p>
The first data set used to estimate Venting emissions was from the Greenhouse Gas Reporting Program (GHGRP).
Since 2004, this program has collected annual information from individual facilities
(see e.g. <a href="https://www.canada.ca/en/environment-climate-change/services/climate-change/greenhouse-gas-emissions/facility-reporting/overview-2023.html">2023 overview</a>).
It can be considered a large-emitters registry, because facilities that emit 10 kt {{CO2e|safe}} or more in any given year
must report those emissions via the program to Environment and Climate Change Canada (ECCC).
More recently, since 2022, facilities are further required to categorize emissions by source category:
Stationary Fuel Combustion, Industrial Process, On-site Transportation, Waste, Wastewater, Venting, Flaring, and Leakage.
Environment and Climate Change Canada (ECCC) collects the data, publishes a report, and fortunately for our purposes, also publishes the data itself
(<a href="https://data-donnees.az.ec.gc.ca/data/substances/monitor/greenhouse-gas-reporting-program-ghgrp-facility-greenhouse-gas-ghg-data/">site</a>).
</p>
<p>
What is called Venting in the categorization of the GHGRP
is not the same as what the IPCC categorizes as the Venting subset of fugitive emissions from the oil and gas sector.
The IPCC specifically includes the evaporation of greenhouse gases from tailings ponds for example,
but in the GHGRP taxonomy, Waste and Wastewater are distinguished from Venting.
The GHGRP's Industrial Processes emissions by facilities <i>within the oil and gas sector</i>
are also engineered emissions that arguably qualify them as Venting emissions according to the IPCC definition.  Trying to follow the IPCC guidelines' definition of venting rather than the GHGRP's definition,
venting emissions,
at least for years 2022 and 2023 for which this categorization data is available,
were estimated by summing up emissions categorized as Industrial Process, Venting, Waste, and Wastewater.
The other GHGRP categories clearly fall into other IPCC accounting sectors.
(A few GHGRP records have an unspecified category attribute, but I did not count these as venting emissions.)
</p>

<p>
In addition to categorizing emissions by source, GHGRP-registered facilities are also categorized by industry sector.
The North American Industry Classification System (NAICS) provides a taxonomy for areas of business,
and the GHGRP includes NAICS labels for all emissions records, dating back to the earliest published data from 2004.
Venting emissions for the oil and gas sector were calculated by summing up contributions across seven NAICS sectors:
oil and gas extraction (except oil sands)
conventional oil and gas extraction,
nonconventional oil and gas extraction,
in-situ oil sands extraction,
mined oil sands extraction,
pipeline transport of crude oil,
pipeline transport of natural gas.
</p>

<p>
For years prior to 2022, I backfilled GHGRP emission categories using a heuristic.
If a facility reported emissions in 2022 or 2023, then the proportions of the categorized 2022/2023 emissions were recorded, and applied
to prior years' facility-level emissions totals. This heuristic could have been applied on a gas-by-gas basis, rather than on the facility {{CO2e|safe}},
but this was not done.
For facilities with no categorized emissions in the post-2022 data, their emissions were assessed as the result of stationary combustion.
This historical heuristic could be improved, by e.g. re-assessing large uncategorized methane emissions as being from 
a more physically-plausible category, but this has also not been done.
</p>


<h3 id="st60b">Alberta Energy Regulator Statistical Report ST60B</h3>

<p>
The second data set used to build the PlanZero FOGV estimator was
the most recent Statistical Report 60 B from Alberta's Energy Regulator (AER-ST60B).
The "Upstream Petroleum Industry Emissions Report" for year ending Dec 31, 2024
(<a href="https://static.aer.ca/prd/documents/sts/ST60-B-2025.pdf">pdf</a>)
includes a spreadsheet with data from two industry reporting systems:
<a href="https://www.petrinex.ca/Pages/default.aspx">Petrinex</a> and
<a href="https://www.aer.ca/applications-and-notices/onestop">OneStop</a>.
The data in the spreadsheet covers years 2020-2023 inclusive on a facility-by-facility basis.
The Petrinex data includes facility volumes for production, receipt, fuel (used internally), flaring, and venting.
The OneStop data contains more information on the venting emissions,
such as whether they were the result of pneumatically powered equipment, or related to maintenance.
The data cover facilities that are smaller than the ones involved in the GHGRP.
In theory, Petrinex vent gas volumes include both routine and non-routine vent incidents,
and OneStop includes only routine ones, but with more detail.
In practice, the text of ST60B observes (and laments) that the sum of
OneStop-reported emissions is numerically larger than the sum of Petrinex-reported venting emissions by about 8%,
which should not be possible.
I understand that there are ongoing efforts to align these data sources,
and that starting in 2026 Petrinex will be recognized as the sole source of truth.
For now, the PlanZero FOGV estimator uses the OneStop emissions from AIR-ST60B as the source of truth
for venting emissions from non-GHGRP, Oil and Gas operations in Alberta.
</p>


<h3 id="petrinex">Petrinex</h3>
<p>
The third data set I used to build the FOGV estimator was Petrinex
(specifically the <a href="https://www.petrinex.ca/PD/Pages/SPD.aspx">Saskatchewan Public Data site</a>).
Petrinex is used by all upstream oil and gas operators in western Canada as a system of record for
how various substances move through their network of facilities and pipelines.
Petrinex offers monthly data as direct public downloads for the provinces of Alberta and Saskatchewan.
(The <a href="https://www.petrinex.ca/PD/Pages/APD.aspx">Alberta Public Data site</a>
has more information than the Petrinex tab of the AER's ST60B spreadsheet, an uncompressed one-month report for Alberta in csv format is about 125MB.)
Petrinex direct-download monthly data sets cover a larger set of activities than just venting
(see full <a href="https://www.petrinex.gov.ab.ca/bbreportsSK/PRAActivityCodes.htm">Activity Codes</a>)
and about 50 substances related to oil and gas (see full <a href="https://www.petrinex.gov.ab.ca/bbreportsSK/PRAProductCodes.htm">Product List</a>).
</p>

<p>
To use the Saskatchewan Petrinex data I had to identify which activities qualified as IPCC-Venting,
what the GHG impact of various products was, and which facilities weren't already counted by the GHGRP.
From the Petrinex activities list, I included "VENT" because it was literally venting.
(I elected not to include "SHR" (shrinkage) but admittedly, without much confidence.)
The various conversion factors for as methane mix, acid gas, condensate, entrained gas, gas, {{CO2|safe}}, {{CO2|safe}} mix, and crude oil are
 listed on github (<a href="https://github.com/jaberg/planzero/blob/c4ce75aab51752cace5edcc5a90f65f426e90695/planzero/est_nir.py#L625">est_nir.py permalink</a>).
To filter out GHGRP-registered facilities,
I queried an undocumented API hosted by Pollution and Waste Canada
that's normally used by the <a href="https://pollution-waste.canada.ca/national-release-inventory/">National Pollutant Release Inventory data search</a> and recorded all GHGRP-registered facilities that also had Petrinex identifiers, in order to skip these facilities in Petrinex data.
</p>


<h3 id="why2.5">Unreported Emissions: Why I multiplied data totals by 2.5</h3>
<p>
The vented emissions total that I extracted from GHGRP data, ST60B data, and Saskatchewan Petrinex data,
which all had data for 2023, totalled about 18Mt of the 42Mt {{CO2e|safe}} reported by Canada for the Vented Oil and Gas emissions sector in 2023.
The NIR total (42 Mt) is almost entirely from Alberta and Saskatchewan, just like my data, and
after adding up the facility-reported emissions I was simply only 40% of the way there.
As it happens, the factor you need to use to get from 40% to 100% is 2.5,
and 2.5 is the factor found by 
<a href="https://pubs.acs.org/doi/10.1021/acs.est.7b03525">Johnson et al. (2017)</a>
to get from facility-based fugitive emissions estimates (which the government was using circa 2016)
to atmospheric emissions estimates (measured by a spectrometer on an airplane, which those authors published in that paper).
So I went ahead and multiplied my emissions totals by 2.5.
</p>

<p>
It is, admittedly, not generally recognized as good accounting practice to multiply a number that you have, that you do not want,
by an arbitrary factor in order to get a number that you do want.
In this instance, however, there is some justification.
I expect there will always be some amount of unreported emissions from venting, leaking, and flaring,
and the question from an accounting perspective is how much.
The finding of <a href="https://pubs.acs.org/doi/10.1021/acs.est.7b03525">Johnson et al. (2017)</a>
was that unreported emissions were not only more than the reported emissions, but
were likely 2.5 times the total estimate of futigitive emissions that the government was using at the time,
which was based on facility counts, component-by-facility averages, and formation gas content on a township-by-township basis across Alberta and Saskatchewan.
Since 2017, the NIR has adopted the use of atmospheric estimates in their methodology for estimating fugitive emissions.
</p>
<p>
The PlanZero estimator does not yet implement a facility-count, and component-by-facility based estimator.
Such an estimator is used in the NIR (<a href="https://data-donnees.az.ec.gc.ca/data/substances/monitor/canada-s-official-greenhouse-gas-inventory/G-Additional-NIR-Annexes?lang=en">see methodology annex on fugitive emissions</a>).
I am not sure if there's public data to support such an estimator, but there is at least facility-type and facility-count via in Petrinex,
as well as processing volumes, and the 2006 IPCC guideline publishes coefficients to use in the absence of regional ones
(<a href="https://www.ipcc-nggip.iges.or.jp/public/2006gl/pdf/2_Volume2/V2_4_Ch4_Fugitive_Emissions.pdf">Ch 4, Fugitive Emissions</a>).
It's possible that such an estimator could offer an alternate, and better-justified account of
what I'm currently calling "Unreported" emissions, although it would be silly if it simply turned out to double-count the way
facilities were already submitting their emissions to Petrinex.
I've created a <a href="https://github.com/jaberg/planzero/issues/40">github issue</a> as a reminder to investigate.
</p>

<h2 id="summary">Summary</h2>

<p>
Vented fugitive emissions are a large contributor to the national GHG total,
and with this post, PlanZero now includes a vented emissions estimator.
That estimator is based on three data sets of reported emissions,
and a multiplicative factor of 2.5 to account for unreported emissions.
It estimates venting emissions for recent years well (37Mt of 42Mt in 2023),
although it completely misses the historical rise and fall of emissions that peaked at about 75Mt in 2014.
</p>

<h3 id="csfs">Critical Success Factors</h3>
<p>
The main factors contributing to emissions in this sector are now summarized on the 
PlanZero page <a href="/ipcc-sectors/Fugitive_Sources/Oil_and_Natural_Gas/Venting/">IPCC Sector / Fugitive Sources / Oil and Natural Gas / Venting</a>.
To reduce emissions, it is required to:
<ul>
    <li>Reduce the venting of casing gas from oil and gas wells</li>
    <li>Reduce the number of oil and gas wells</li>
    <li>Reduce the use of natural gas to drive pneumatic equipment</li>
    <li>Reduce the venting of gas during equipment maintenance activities</li>
    <li>Reduce the release of acid gas, which comprises mostly carbon dioxide</li>
    <li>Reduce exposure of oil sands to open atmosphere</li>
    <li>Reduce exposure of oil sands tailings and settling ponds to open atmosphere</li>
</ul>
</p>

<h3 id="barriers">Barriers</h3>
<p>
The challenges to making these reductions start with the reality that
domestic and international demand for oil and gas
<a href="https://ourworldindata.org/grapher/oil-consumption-by-country">continues to grow</a>,
and Canada's federal government is trying to somehow balance a
<a href="/blog/2026-02-02-cnzeaa">legislated commitment to net-zero</a>
with a desire to become a [not-necessarily-renewable] <a href="https://liberal.ca/wp-content/uploads/sites/292/2025/04/Mark-Carneys-Liberals-to-make-Canada-the-worlds-leading-energy-superpower.pdf">energy superpower</a>.
It's especially hard to convince Canadian operators to scale back production voluntarily
when their US counterparts are, at least currently, scaling up.
The next biggest challenge is cost:
where technologies exist to make the reductions listed above,
the reductions themselves require additional equipment
and/or operational complexity.
Presumably,
those costs would would have to be borne by some combination of customers,
company shareholders, and the citizens of various levels of government that
might provide subsidies.
</p>
<p>
There's also the challenge of scale.
The 2011 emissions inventory included over 300 000 capable oil and gas wells, 14 100 batteries producing gas into more
than 5000 gathering systems delivering to almost 750 gas plants, and 24 000 oil batteries delivering to 150 tank terminals,
all interconnected by tens of thousands of kilometres of pipeline carrying hydrocarbons from wells to batteries to plants
and ultimately markets (<a href="https://publications.gc.ca/collections/collection_2025/eccc/En81-4-2023-1-eng.pdf">2025 NIR, pg 98</a>).
Emissions are vented for various reasons at a large number of disparate facilities,
operated by a many independent operators, so the process of rolling out
emissions reduction changes can be expected to take many years.
</p>

<p>
Finally, there's the issue of unreported emissions in accounting, which probably contributes to uncertainty and doubt in decision-making.
The NIR emissions estimate for the sector is about 2.5 times higher
than the sum of reported emissions in Petrinex and the GHGRP.
At a high level, it's helpful to know, in aggregate, that actual emissions are greater than measured emissions. (It's a start!)
But when it comes to driving behaviour change, it's more helpful to be able to say with confidence from data, that e.g.:
<ul><li>a probably-bad-though-tempting choice is, in fact, definitely bad</li>
    <li>a maybe-highly-emitting venting process is, in fact, definitely emitting a specific and problematically large amount.</li>
</ul>
The present scale of unreported emissions is so large that it can cast legitimate doubt on the effectiveness of
policies aimed at reducing reported emissions.
</p>

<h3 id="strategies">Strategies</h3>

<p>
There are some relatively easy opportunities for reductions in this sector,
such as flaring casing gas that's currently vented,
and replacing gas-powered pneumatic equipment with electric equivalents.
These changes have helped drive the enormous drop in venting emissions from 75Mt/year in 2014 to 42Mt/year in 2023.
The Alberta Energy Regulator's Directive 060 has come into force in 2023, and, among other changes,
requires as of 2023 that pneumatic equipment be upgraded to electric equipment when repairs are required (replace on fail).
</p>

<p>Another huge, if contentious, strategy for reducing venting emissions,
is the practice of re-injecting the {{CO2|safe}} stripped from formation gas back into the ground
for the purpose of enhancing oil recovery.
From the perspective of short-term venting emissions, it's a clear win because the carbon dioxide is stored instead of vented.
The reason it is contentious is that from a longer-term and more holistic view of the environment,
it seems to encourage longer and greater use of fossil fuels by
decreasing the cost of extraction and increasing the accessible quantities of crude oil in reserve.
</p>

<p>
Other carbon storage approaches <i>without</i> enhancing oil recovery
could certainly reduce venting emissions, but they risk costing more
because their operations don't necessarily produce anything that can be sold (other than carbon credits).
It's unclear how technology could reduce venting emissions associated with
the surface of oil sands mines, or their tailings ponds. Perhaps 
direct air capture systems could help, or chemical treatments of the surface
soils,
but as far as I know the technology and products are at earlier stages of
technology and commercial readiness.
</p>

<h3 id="conclusion">Conclusion</h3>
<p>
This concludes the post and modelling update on the topic of vented fugitive emissions from the oil and gas sector.
I learned a lot, but I have to acknowledge that it certainly took me longer than the week-per-post time-boxing
budget
that I'm trying to maintain.
Next in this series will be a look at the Stationary Combustion of fuels within the oil and gas sector itself.
Maybe it will be quicker, since it will re-uses some of the data sources as were introduced for this post?
It may also require new data sources covering oil and gas operations in more provinces and territories.
We'll see.
</p>
<p>
Until then,
</p>
<p>
- James Bergstra
</p>


</section>
</div>
{% include "post-main.html" %}
