{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
        <span class="date">{{blog.date.strftime("%b %d, %Y")}}</span>
        <h1>{{blog.title}}</h1>
        <p>{{blog.about}}</p>
    </header>

<p>
Table of Contents:
<ul>
    <li><a href="#h2_intro">Introduction</a></li>
    <li><a href="#h2_ghg">Greenhouse gases</a></li>
    <li><a href="#h2_model">Planetary Heating Model</a></li>
    <li><a href="#h2_co2e">{{blog.equations["CO2e"] | safe }} and Model Validation</a></li>
    <li><a href="#h2_conclusion">Conclusion</a></li>
</ul>
</p>

<h2 id="h2_intro">Introduction</h2>

<p>
I was asked recently “why are you making Plan Zero, isn’t someone else already
doing this?” The quick answer is “probably, and in many ways yes” but I wanted
to be able to articulate what those other plans were in more detail, and who
was developing them, and where might there be gaps that could be addressed by
scientific research and tech entrepreneurship. As I began to review the
history of Canada’s climate commitments and actions, and the breadth of
responses across (a) many government agencies at all levels of Canadian
government and (b) the NGO and private sector, it became clear that no
reasonably-long blog post was going to provide a survey. Indeed one of the
reasons I wanted to make planzero is that iterative software development is
a good way to build and document complex systems. Planzero is meant to reflect
all of those different kinds of plans and responses, and be built
incrementally over time. So instead of one big survey, I hope this post will
be the first of a <i>series</i> about (1) what is being done in Canada to set and
achieve climate objectives and (2) how those actions are reflected in
planzero, at least as a software library, and possibly on this website.
</p>

<p>
For this first post, I’ll start with something that’s actually beyond Canada.
One of the things that the Canadian government has done, and continues to do,
is participate in the United Nations Framework Convention on Climate Change
(UNFCCC). The UNFCCC [secretariat] is the UN entity tasked with supporting the
global response to the threat of climate change. The UNFCCC has universal
membership (198 Countries) and is the parent treaty of the 2015 Paris
Agreement. The UNFCCC is also the parent treaty of the 1997 Kyoto Protocol.
The objective of the agreements under the UNFCCC is to “stabilize greenhouse
gas concentrations in the atmosphere at a level that will prevent dangerous
human interference with the climate system, in a time frame which allows
ecosystems to adapt naturally and enables sustainable development.”
(<a href="https:///unfccc.int">UNFCCC website</a>)
</p>

<h2 id="h2_ghg">Greenhouse Gases</h2>

<p>
One thing that the UNFCCC provides is a standard definition for what
“Greenhouse Gases” are. So-called greenhouse gases are gases in the atmosphere
that can absorb heat energy radiated by the earth’s surface (like the heat you
feel when your hand is close to something warm, like maybe a teapot) that
might otherwise be radiated into outer space. When these gases are present in
the atmosphere at elevated concentrations, their effect is to absorb more of
the radiated heat, which traps the heat within the earth’s atmosphere. Glass
has a similar effect when used as the roof of a greenhouse: sunlight radiates
in, but heat accumulates instead of radiating out (up until a new equilibrium).
This effect on a greenhouse is to warm it
up inside. The effect of greenhouse gases on the planet is complex in some
ways, but also does involve warming up (except that continued emissions keep making the roof a better and better insulator!)
</p>

<p>
Before we get into the effects of greenhouse gases, let’s repeat here that the official UNFCCC greenhouse gases are:
<ul>
    <li><b>Carbon Dioxide</b> ({{blog.equations["CO2"] | safe}}): naturally occurring, but concentrations have
    been trending upward since industrial revolution due to increasing fossil
    fuel combustion</li>
    <li><b>Methane</b> ({{blog.equations["CH4"] | safe}}): naturally occurring, but also about 80% of what’s
    marketed as “natural gas” fuel and often leaked during oil
    extraction.</li>
    <li><b>Nitrous Oxide</b> ({{blog.equations["N2O"] | safe }}): largely associated with fertilizer use</li>
    <li><b>“F-gases”</b> associated with industrial processes and manufacturing:
        <ul>
            <li>Hydrofluorocarbons (HFCs)</li>
            <li>Perfluorocarbons (PFCs)</li>
            <li>Sulfur Hexafluoride ({{blog.equations["SF6"] | safe}})</li>
            <li>Nitrogen Trifluoride ({{blog.equations["NF3"] | safe}})</li>
        </ul>
    </li>
</ul>
</p>

<p>
A note on plan zero software:
Plan Zero models emissions over time of these gases. Each is
a SparseTimeSeries object contained within the State object representing
a temporal simulation. The state contains a lot of SparseTimeSeries objects
but they all have unique names. The annual GHG emissions of carbon dioxide are
stored (at time of writing) in the one called
“Predicted_Annual_Emitted_CO2_mass”. The `AtmosphericChemistry` class defines
each of these SparseTimeSeries objects as the sum of annual sectoral emitted
{{blog.equations["CO2"] | safe }} masses, which are themselves defined as the temporal integral of sources
registered for each sector.
</p>

<h2 id="h2_model">Planetary Heating Model</h2>
<p>
The Planzero software includes a simple model of the relationship between greenhouse gas emissions and planetary heat and temperature.
Planzero doesn't model the atmosphere, or oceans, or land, except in an extremely simplified way.
It models how average gas concentrations in the atmosphere change over time (e.g. years),
and it models how excess trapped heat (relative to pre-industrial revolution trapped heat) raises the average shallow ocean temperature.
In slightly more detail:
<ul>
    <li>The ocean is modelled as a giant heat battery with a single uniform temperature, which is called the ocean temperature anomaly.</li>
    <li>The ocean is modelled as uniformly 200m deep, and therefore with heat capacity 1.5e23 Joules / Kelvin.</li>
    <li>Heat is assumed to be radiated at a rate that is proportional to the ocean temperature anomaly.</li>
    <li>The [global] atmosphere is modelled as being at all times uniformly mixed.</li>
    <li>The atmosphere is assumed to have no heat capacity, temperature, or internal dynamics.</li>
    <li>The land surface is not modelled at all in any physical sense.</li>
</ul>
</p>

<h3>Carbon Dioxide</h3>

<p>
Carbon dioxide
(<math display="inline">{{blog.equations["CO2"] | safe}}</math>)
is  modelled as a stable atmospheric mass and an emitted mass.
The atmospheric mass is considered indefinitely stable, with no assumption of a natural decay mechanism.
The emitted mass is considered to be partly absorbed into e.g. vegetation and shallow waters at a rate of 55%, with the remaining 45% taken up into the indefinitely stable atmospheric mass.
The 55% term models e.g. average surface alkalinity, and the amount of carbon dioxide required to change surface water concentration to match the changes in atmospheric concentration.
</p>
<p>
The remaining 45% of emissions of 
<math display="inline">{{blog.equations["CO2"] | safe}}</math>
are converted to an atmospheric concentration, and then converted to a partial radiative forcing contribution of
<math display="inline">{{blog.equations["CO2_df"] | safe}}</math>
<math display="inline">{{blog.equations["W_m2"] | safe}}</math>,
in which 
<math display="inline">{{blog.equations["C"] | safe}}</math> is the current
concentration of 
<math display="inline">{{blog.equations["CO2"] | safe}}</math>
in the atmosphere, and
<math display="inline">{{blog.equations["C0"] | safe}}</math> is the pre-industrial level
of 280 ppm.
This number of watts per unit area is multiplied by the surface area of the earth, and integrated over time to get a partial energy imbalance due to
<math display="inline">{{blog.equations["CO2"] | safe}}</math>.
That energy is modelled as being absorbed into the upper ocean, raising its temperature.
</p>


<h3>Methane</h3>
<p>
Methane is a naturally occurring gas in the atmosphere at low concentration,
but it also about 80% of what’s marketed as “natural gas” fuel and often
leaked during oil
extraction.
It is also produced in signifant quantity by
the digestive process of bovines, such as dairy and beef cattle.
</p>
<p>
Methane ({{blog.equations["CH4"] | safe}})
is modelled differently from carbon dioxide.
Methane emissions are modelled as completely mixing with the atmosphere
as soon as they are emitted,
and atmospheric methane is modelled as being continuously broken down into
carbon dioxide and hydrogen
at a rate proportional to the amount of methane currently present:
<math display="inline">{{blog.equations["delta_C_left"] | safe}}</math>
=
<math display="inline">{{blog.equations["CH4_delta_C_right"] | safe}}</math>.
This gives our atmospheric methane a half-life of about 8.5 years.
When a molecule of modelled methane breaks down,
it yields a molecule of carbon dioxide, which is counted as a carbon dioxide emission.
</p>

<p>
The radiative forcing math for methane is different from carbon dioxide as well.
Methane is modelled as contributing
<math display="inline">{{blog.equations["CH4_df"] | safe}}</math>
<math display="inline">{{blog.equations["W_m2"] | safe}}</math>,
where
<math display="inline">{{blog.equations["C"] | safe}}</math> is the current
and
<math display="inline">{{blog.equations["C0"] | safe}}</math>
are the current and pre-industrial atmospheric concentrations of methane respectively,
in units of parts-per-billion
(<math display="inline">{{blog.equations["C0"] | safe}}</math>
= 722 ppb).
As with the partial radiative forcing contributed from our modelled carbon dioxide,
this quantity is multiplied by the surface of the earth, integrated over time,
and used to heat the shallow water of our simulated ocean.
</p>

<h3>Nitrous Oxide</h3>
<p>
Nitrous oxide
(<math display="inline">{{blog.equations["N2O"] | safe}}</math>), largely associated with fertilizer use,
is modelled similarly to methane, but with a slower decay,
and a larger radiative forcing coefficient.
In reality, atmospheric nitrous oxide is broken down by UV light, but only once it reaches very high levels of the atmosphere. When that happens, it decays into
either (a) nitrogen and oxygen, 90% of the time or else (b) nitric oxide, 10% of the time.
Nitric oxide is notable because it breaks down ozone, but anyway planzero does not model that.
In the planzero simulation, nitrous oxide is modelled as simply disappearing,
at a rate proportional to the amount of it currently present:
<math display="inline">{{blog.equations["delta_C_left"] | safe}}</math>
=
<math display="inline">{{blog.equations["N2O_delta_C_right"] | safe}}</math>.
This gives our atmospheric nitrous oxide a half-life of about 80 years.
</p>

<p>
Radiative forcing due to nitrous oxide is similar to methane.
Nitrous oxide is modelled as contributing
<math display="inline">{{blog.equations["N2O_df"] | safe}}</math>
<math display="inline">{{blog.equations["W_m2"] | safe}}</math>,
where
<math display="inline">{{blog.equations["C"] | safe}}</math> is the current
and
<math display="inline">{{blog.equations["C0"] | safe}}</math>
are the current and pre-industrial atmospheric concentrations of nitrous oxide respectively,
in units of parts-per-billion
(<math display="inline">{{blog.equations["C0"] | safe}}</math>
= 270 ppb).
As for the other gases, this quantity is multiplied by the surface of the earth, integrated over time,
and used to heat the shallow water of our simulated ocean.
</p>

<h3>F-gases</h3>

<h4>Hydrofluorocarbons (HFCs)</h4>

<p>
Hydrofluorocarbons (HFCs) are synthetic chemicals used primarily as alternatives to ozone-depleting substances in refrigeration, air conditioning, and insulating foams.
According to the Montreal Protocol, there is a global phase-down of production
of these chemicals, as they can become potent greenhouse gases.
The only IPCC sector with which they are associated is called
"Production and consumption of Halocarbons, {{blog.equations["SF6"] | safe }}, and {{blog.equations["NF3"] | safe}}", but Canada has reported
non-zero emissions quantities in this area.
</p>
<p>
HFCs are modelled in planzero as having a pre-industrial reference concentration of 0.
They are modelled as simply disappearing according to linear process with a 14-year time constant.
<math display="inline">{{blog.equations["delta_C_left"] | safe}}</math>
=
<math display="inline">{{blog.equations["HFC_delta_C_right"] | safe}}</math>.
In terms of radiative forcing, they are modeled as  contributing
<math display="inline">{{blog.equations["HFC_df"] | safe}}</math>
<math display="inline">{{blog.equations["W_m2"] | safe}}</math>,
where
<math display="inline">{{blog.equations["C"] | safe}}</math> is the current concentration in parts-per-billion.

</p>

<h4>Perfluorocarbons (PFCs)</h4>
<p>
Perfluorocarbons (PFCs), like HFCs, are strictly man-made (mostly from
aluminum smelting and semiconductor manufacturing) and exist in the atmosphere
at very low concentrations (parts per trillion).
However, they differ from the gases above in one important way: they have
almost no natural sinks,
so their atmospheric lifetimes are estimated in the range of thousands of years.
They are also relatively potent greenhouse gases.
</p>

<p>
PFCs are modelled in planzero as having a pre-industrial reference concentration of 0.
They are modelled as never disappearing or decaying, but simply accumulating.
In terms of radiative forcing, they are modeled as  contributing
<math display="inline">{{blog.equations["PFC_df"] | safe}}</math>
<math display="inline">{{blog.equations["W_m2"] | safe}}</math>,
where
<math display="inline">{{blog.equations["C"] | safe}}</math> is the current concentration in parts-per-billion.
</p>

<h4>Sulfur Hexafluoride ({{blog.equations["SF6"] | safe }})</h4>
<p>
Sulfur Hexafluoride ({{blog.equations["SF6"] | safe }}) is used primarily as an electrical insulator in
high-voltage switchgear. It is modelled similarly to PFCs:
its decay time constant is estimate to be on the order of thousands of years,
and it is even more potent as a greenhouse gas than PFCs or HFCs.
</p>

<p>
Sulfur hexafluoride is modelled in planzero as having a pre-industrial reference concentration of 0.
It is modelled as never disappearing or decaying, but simply accumulating.
In terms of radiative forcing, it is modeled as  contributing
<math display="inline">{{blog.equations["SF6_df"] | safe}}</math>
<math display="inline">{{blog.equations["W_m2"] | safe}}</math>,
where
<math display="inline">{{blog.equations["C"] | safe}}</math> is the current concentration in parts-per-billion.
</p>



<h4>Nitrogen Trifluoride ({{blog.equations["NF3"] | safe}})</h4>
<p>
Nitrogen Trifluoride ({{blog.equations["NF3"] | safe}}) is the last of the "major" synthetic
greenhouse gases named by the UNFCCC, whose emissions member countries are required to track.
It is primarily used
in the manufacturing of liquid crystal displays (LCDs), solar panels, and
semiconductors.In terms of modeling, it behaves almost exactly like {{blog.equations["SF6"] | safe }}
and PFCs: it is a man-made, long-lived, and extremely potent gas
that operates in the linear radiative forcing regime.
</p>

<p>
Nitrogen hexafluoride is modelled in planzero as having a pre-industrial reference concentration of 0.
It is modelled as never disappearing or decaying, but simply accumulating.
In terms of radiative forcing, it is modeled as  contributing
<math display="inline">{{blog.equations["NF3_df"] | safe}}</math>
<math display="inline">{{blog.equations["W_m2"] | safe}}</math>,
where
<math display="inline">{{blog.equations["C"] | safe}}</math> is the current concentration in parts-per-billion.
</p>

<h2 id="#h2_co2e">{{blog.equations["CO2e"] | safe }} and Model Validation</h2>

<p>
In policy and reporting, it is awkward to continuously reason about time-trajectories of future heating, which are different for different emissions.
The concept of {{blog.equations["CO2"] | safe }}-equivalence ({{blog.equations["CO2e"] | safe }}) is a simplification that turns the emissions of all of the greenhouse gases into a single number, such that bigger the number is, the more heat is expected to be trapped.
A {{blog.equations["CO2e"] | safe }} value is nominally in kilograms, but it isn't really a thing with mass.
It is a mathematical shorthand computed by weighting
the sum of masses of different greenhouse gases,
by a so-called Greenhouse Warming Potential
(<math display="inline">{{blog.equations["GWP_100"] | safe}}</math>)
coefficient representing how much a certain mass of each gas has the potential to warm the planet over a 100-year period, relative to carbon dioxide.
</p>
<p>
Planzero uses standard UNFCCC-defined
<math display="inline">{{blog.equations["GWP_100"] | safe}}</math>
coefficients for greenhouse gases and computes {{blog.equations["CO2e"] | safe }}
for a set of GHG emissions as the following weighted sum:
<ul>
    <li>the mass of carbon dioxide emissions</li>
    <li>+ 28 times the mass of methane emissions </li>
    <li>+ 265 times the mass of nitrous oxide emissions </li>
    <li>+ 1,430 times the mass of HFCs </li>
    <li>+ 6,630 times the mass of PFCs </li>
    <li>+ 23,500 times the mass of {{blog.equations["SF6"] | safe }} </li>
    <li>+ 17,200 times the mass of {{blog.equations["NF3"] | safe}} </li>
</ul>
</p>

<h3>Validating the Modelling of Trapped Heat</h3>

<p>
The definition of {{blog.equations["CO2e"] | safe }} provides an important perspective on the validity of the radiative-forcing-based heating model described above.
It should be the case that IF we simulate adding each gas as an emission in the simulation,
such that the amount of {{blog.equations["CO2e"] | safe }} is the same (e.g. 1Mt) and the duration is the same, and short (e.g. 1 year),
THEN we should see from the simulation that the same amount of heat has been trapped over the following 100 year period.
The following figure shows what happens when this simulation is performed.
</p>
{{ blog.figure_svgs["co2e_v_heat_forcing"] | safe }}

<p>
In the figure above, we see that although different amounts of heat are trapped over the 100 year period,
they are within a relatively small range of 2.2x, which is much smaller than the
<math display="inline">{{blog.equations["GWP_100"] | safe}}</math> range which extends from from 1x to 23,500x.
As expected, we see
(a) that most of the heat from short-lived gases ({{blog.equations["CH4"]|safe}} and HFCs) is accumulated within the first few years
before those emissions are broken down in the atmosphere, and
(b) conversely, the longer-lived gases lead to steady heat accumulation over the simulated century.
</p>
<p>
It's worth asking why the range is still as large as 2.2x when the ideal would have been an even tighter match.
One reason why the 
<math display="inline">{{blog.equations["N2O"] | safe}}</math>
curve in particular is higher than the rest is because its
<math display="inline">{{blog.equations["GWP_100"] | safe}}</math> coefficient is defined deliberately low to compensate for
an overlap in the absorption spectrum with methane, which planzero's simulation does not include.
Also, the simulation is sensitive to the estimate of the current atmospheric concentration of nitrous oxide,
which continues to change from year to year.
Given these two factors, and the simplicity of the radiative forcing model
(ignoring e.g. where gases are in the atmosphere, and how sunlight interacts with the atmosphere and various planetary surfaces)
I am reassured by the tightness of fit in the 100-year simulation.
</p>

<h3>The Limitations of {{blog.equations["CO2e"] | safe }}</h3>

<p>
As helpful as {{blog.equations["CO2e"] | safe }} may be for streamlining communication about emissions, there is a risk that it is misleading.
There may be several reasons why this is so, but at least one reason,
is that when heat is trapped within earth's planetary system, it causes the temperatures of some things to rise
(especially, the surface water of the ocean) and those things then radiate more heat.
When the ocean radiates more heat, its temperature does not rise as much as
the trapped-heat curves in the figure above would suggest.
For every degree-Celcius that the water warms, it radiates an additional 1.3 watts per square metre to resist further warming.
When we account for this effect, of the ocean's resistence to ever-rising temperature, we get a different
view of the heat trapped within the earth's planetary systems, and not radiated out again, which is proportional to our modelled ocean temperature.
</p>

{{ blog.figure_svgs["co2e_v_heat_remaining"] | safe }}
<p>
In this view, we see that on the scale of 100 years,
short-lived gases methane and HFCs trap lots of heat in the first few years after a 1-year emissions pulse, but the heat does not last.
That heat accumulates quickly in the form of a warmer ocean, that warmer ocean radiates heat into outer space,
and then the overall planetary heat is back to about where it started after about 80 years.
The other gases have much longer atmospheric lifetimes, and
so even though they are emitted at the same magnitude in terms of of {{blog.equations["CO2e"] | safe }}, their impact in terms of heat (proportional to ocean temperature)
is different: these emissions pulses of long-lived greenhouse gases heat the ocean about half as much, but slower, and the ocean remains at an elevated temperature (proportional to heat) even after 100 years.
</p>


<h2>Conclusion</h2>

<p>
This concludes the first post about what Canada is doing toward net-zero emissions,
namely, participating in the UNFCCC, and using standard definitions of
greenhouse gases.
We validated a simple atmospheric heating model of the earth based on
radiative forcing and accumulating energy in the ocean by showing that it approximately reproduces the equivalence between GHG impacts that justifies the definition of {{blog.equations["CO2e"] | safe }}, but it also shows some of the limitations in the use of {{blog.equations["CO2e"] | safe }} to reason about the impacts of GHG emissions as if the gases were all the same.
The next post, will be about something the federal government has done in legislation, namely,
in 2021, committing Canada to net-zero emissions targets by year 2050, and organizing many institutions of the country to hit those targets.
</p>

<p>
Until then,
<p>

<p>
- {{blog.author}}
</p>

<h2>References and a Note on Methodology</h2>
<p>Unlike academic work I've done years ago,
this model and blog post was created almost through dialog with Google Gemini 3.
The validation I did do not prove soundness, and there is some chance that AI has fooled me more or less thoroughly (or I have misunderstood it).
</p>
<p>
Future work could look at reconciling it with the work of the IPCC, e.g.
Myhre, G., D. Shindell, F.-M. Bréon, W. Collins, J. Fuglestvedt, J. Huang, D. Koch, J.-F. Lamarque, D. Lee, B. Mendoza,
T. Nakajima, A. Robock, G. Stephens, T. Takemura and H. Zhang, 2013: <i>Anthropogenic and Natural Radiative Forcing. In: Climate Change 2013: The Physical Science Basis. Contribution of Working Group I to the Fifth Assessment
    Report of the Intergovernmental Panel on Climate Change</i> [Stocker, T.F., D. Qin, G.-K. Plattner, M. Tignor, S.K. Allen,
J. Boschung, A. Nauels, Y. Xia, V. Bex and P.M. Midgley (eds.)]. Cambridge University Press, Cambridge, United
Kingdom and New York, NY, USA. (<a href="https://www.ipcc.ch/site/assets/uploads/2018/02/WG1AR5_Chapter08_FINAL.pdf">link</a>)
</p>
<p>
2026-01-27: Future work might also look at reconciling this model with <a href="https://www.climateinteractive.org/en-roads/">En-ROADS</a> or including some/all of En-ROADS or C-ROADS.
These simulators are also non-spatial, but have been developed by experts and used in peer-reviewed work.
They are aimed at global simulation. Read more about the science behind En-ROADS <a href="https://www.climateinteractive.org/en-roads/en-roads-simulator-science/">here</a>.

</p>

</section>
</div>
{% include "post-main.html" %}
