{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
        <span class="date">{{blog.date.strftime("%b %d, %Y")}}</span>
        <h1>{% if not blog.published %}[DRAFT] {% endif %} {{blog.title}}</h1>
        <p>{{blog.about}}</p>
    </header>

<p>
Table of Contents:
<ul>
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#simulation">Simulation Framework</a>
        <ul>
            <li><a href="#timeseries">TimeSeries Objects</a></li>
            <li><a href="#dynelem">DynamicElement Objects</a></li>
    </li>
    <li><a href="#modelling">Scenario Modelling</a>
        <ul>
            <li><a href="#csfs">Modelling Critical Success Factors</a></li>
            <li><a href="#barriers">Modelling Barriers</a></li>
            <li><a href="#strategies">Modelling Strategies</a></li>
            <li><a href="#scenarios">Modelling Scenarios</a></li>
        </ul>
    </li>
    <li><a href="#scaling">The Scaling Scenario, Starting with Bovaer</a>
        <ul>
            <li><a href="#scaling_csfs">Critical Success Factors</a></li>
            <li><a href="#scaling_barriers">Barriers</a></li>
            <li><a href="#scaling_strategies">Strategies</a></li>
            <li><a href="#scaling_other">Other TimeSeries and DynamicElement Objects</a></li>
        </ul>
    </li>
    <li><a href="#conclusion">Conclusion</a></li>
</ul>
</p>

<h2 id="introduction">Introduction</h2>

<p>
This post takes a break from the series replicating  NIR sectoral totals,
to look to the future.
It brings new top-level tabs for the PlanZero modelling framework:
<!-- TODO -->
<ul>
    <li><b>CSFs</b> &mdash; formalized critical success factors in PlanZero </li>
    <li><b>Barriers</b> &mdash; formalized barriers</li>
    <li><b>Strategies</b> &mdash; formalized strategies</li>
    <li><b>Scenarios</b> &mdash; formalized scenarios</li>
</ul>

This post is the first in a new series
developing a scenario (the <i>Scaling</i> scenario, introduced below)
to model the effects of scaling the use of existing products
that address emissions in the various IPCC sectors used in the National Greenhouse Gas Inventory.
</p>

{{ planzero.sim.sim_scenario("scaling").by_ipcc_sector.as_html()|safe }}

<p>
This post also introduces the PlanZero scenario modelling framework itself.
The <a href="#simulation">Simulation Framework</a> Section introduces the key modelling data structures:
<i>time series</i> objects, that represent time-varying quantities;
and <i>dynamic elements</i>, that represent the rules for how time-varying quantities should change.
The <a href="#modelling">Scenario Modelling</a> Section explains how the concepts of
Critical Success Factors, Barriers, and Strategies can (at least sometimes) be formalized
as time series and dynamic elements. The ones that have been formalized can now
be found in the new tabs above: <a href="/csfs/">CSFs</a>, <a href="/barriers/">Barriers</a>, and <a href="/strategies/">Strategies</a>.
The <a href="#scaling">Scaling Scenario</a> Section uses these new mechanisms to model
a strategy for reducing enteric fermentation,
namely, the strategy of administering the Bovaer feed additive.
The post concludes with some observations regarding the modelled effectiveness of Bovaer,
some thoughts on how to develop the scaling scenario systematically,
and some ideas for other standard scenarios that might be of interest for the PlanZero site.
</p>


<h2 id="simulation">Simulation Framework</h2>
<p>
PlanZero's simulation framework involves a few types of thing:
<ul>
    <li>time series objects, which contain the data of time-varying quantities</li>
    <li>dynamic element objects, which implement rules for the evolution of time series</li>
    <li>scenario objects, which are sets of time series and dynamic elements. 
</ul>
This section introduces these object types, and later sections explain how they are used for
modelling.
</p>

<h3 id="timeseries">Time Series Objects</h3>
<p>
A time series object (sometimes written as a TimeSeries) represents a time-varying quantity.
PlanZero posts have used TimeSeries
objects already, to represent e.g. the various sectoral emissions of greenhouse gases for the NIR.
The key attributes of a TimeSeries are:
<ul>
    <li>a set of <i>what</i> numeric values the series takes</li>
    <li>a set of times marking <i>when</i> the series takes these values</li>
    <li>a unit of measure for the values</li>
    <li>an interpolation mode, indicating how to interpret the times and values.</li>
</ul>
A TimeSeries is a bit like two matched columns in a spreadsheet:
one column being the times, and the other being the values.
Relative to columns in a spreadsheet,
a TimeSeries restricts all of its values to be in a single common unit of measure,
and imposes <i>querying semantics</i> on the TimeSeries according to the interpolation mode.
</p>

<p>
The main purpose of PlanZero's TimeSeries objects is to support querying the value 
at particular times, in order to compute the values of other time-varying quantities required
to simulate scenarios.
The querying logic in PlanZero's TimeSeries objects depends on the interpolation mode.
As of writing, there are two interpolation modes:
<ul>
    <li>No interpolation: the series is only defined at the times listed explicitly, at which times the value is the corresponding value.</li>
    <li>Current interpolation: the series is defined at all times,
        to be the most-recent value prior to (or coincident with) time t.</li>
</ul>
The "No interpolation" mode is suitable for series such as an annual CO2e emission in the NIR.
In that kind of time series, there are amounts for e.g. years,
but there is no implied annual total for dates in between; the annual totals are only meant to apply to
whole years.
The "Current interpolation" mode is suitable for other kinds of time series, such as
e.g.  the number of cattle in Canada.
The nature of that time-varying quantity is different in that
the question of "how many cattle are there in Canada?" can be reasonably asked
of any date, regardless of what (time, value) pairs are being used to implement a TimeSeries
approximating that time-varying quantity.
Time-varying quantities such as emission factors, prices, and populations are
best-represented as "Current interpolation" TimeSeries objects.
Time-varying quantities such as quarterly or annual summaries are best-represented as "No interpolation".
</p>

<p>
The purpose of the units of measure and the interpolation modes in TimeSeries objects
is to prevent logic errors in modelling.
When adding TimeSeries using compatible units (e.g. pounds and kilograms), unit conversion is automatic
so that there's no chance of using an incorrect conversion factor by mistake.
When adding TimeSeries using incompatible units (e.g. kilograms and kilograms per year),
the library code raises an exception to indicate that there's an error in the model that needs correcting.
Similarly, the intention of the interpolation modes is to catch logical errors.
For example,
multiplying annual greenhouse gas totals (whose mode would be "no interpolation")
by emission factors (with mode "current interpolation")
would result in a timeseries with a mode of "no interpolation";
attempting to query that timeseries at arbitrary times would raise an exception
because it's likely a mistaken usage.
</p>

<p>
There are 1262 time series objects involved
in the current scaling scenario.
Most of the time series objects are indexed by year, although
the heads-of-cattle counts are indexed by half-years because statistics canada
reports headcounts at January 1 and July 1.
There isn't a single obvious way to group, or organize all of these time series objects;
techniques have been developed to help analysts explore such data, but
researching, selecting, and integrating
products for data visualization with PlanZero is left to future work.
Broadly speaking, I think of the timeseries in the scenario so far as follows:
<ul>
    <li>cattle headcounts, for each type of cattle, and for each province</li>
    <li>emissions of each greenhouse gas, for each IPCC category</li>
    <li>atmospheric timeseries related to energy forcing as described in this earlier post</li>
    <li>Bovaer-related timeseries, such as how many cattle are on it, and how many farmers might adopt it</li>
    <li>costs requiring subsidy: e.g. Bovaer purchase and monitoring</li>
</ul>
The full table of timeseries values is shown on the
<a href="/scenarios/scaling/#timeseries">scenario page</a> .
</p>


<h3 id="dynelem">Dynamic Element Objects</h3>

<p>
Whereas TimeSeries objects are just tables of numbers like what you can see in spreadsheet columns,
PlanZero's DynamicElement objects
provide something like the formulas that sometimes generate those numbers.
Dynamic elements define what the TimeSeries objects should be, and how they relate to each other.
A DynamicElement object is like a spreadsheet of a specific form:
<ul>
    <li>a single shared set of times runs down the first column</li>
    <li>each other column has the numeric values of a TimeSeries object</li>
    <li>the initial rows are initialized using custom logic</li>
    <li>the subsequent rows are computed recursively, each row from previous ones in the same way for each row</li>
</ul>
The DynamicElements that define a scenario can read each others' columns, but they can only write their own columns.
The PlanZero simulation engine simulates a scenario by updating the rows of the various spreadsheets in chronological order, and in order of dependency when there are ties in the chronological ordering.
</p>

<p>
By construction, are no more DynamicElement objects than TimeSeries.
In practice, there are far fewer. As of writing, the Scaling scenario
has over a thousand time series, but it has just eight dynamic elements (see also the <a href="/scenarios/scaling/#dynelem">current scaling scenario dynamic elements</a>):

<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Dynamic Element Name</th>
            <th>Role</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>

    <tr><td>1</td>
        <td>BovaerAdoptionLimit</td>
        <td>barrier</td>
        <td>Assume that no more than 5.0 percent / year of
        farmers will switch to administering Bovaer
        in any given year, but that adoption
        can ultimately go all the way to 100%.
        </td>
    </tr>

    <tr><td>2</td>
        <td>BovinePopulation</td>
        <td>barrier</td>
        <td>Assume cattle produce methane (although
    less-so if they are fed Bovaer) and they also produce milk and beef.
    The evolution of the cattle population is projected to remain constant.
    </td>
    </tr>

    <tr><td>3</td>
        <td>BovaerMonitoring</td>
        <td>barrier</td>
        <td>Assume paperwork and onsite monitoring costs to certify emission reductions.</td>
    </td>
    </tr>

    <tr><td>4</td>
        <td>EntericFermentation CSFs</td>
        <td>CSF</td>
        <td>All formalized CSFs related to Enteric Fermentation.</td>
    </td>
    </tr>

    <tr><td>5</td>
        <td>ScaleBovaer</td>
        <td>strategy</td>
        <td>Use as much Bovaer as farmers will take</td>
    </tr>

    <tr><td>6</td>
        <td>Other NIR Historical Actuals</td>
        <td>built-in</td>
        <td>Populate otherwise-missing IPCC Categories with historical actuals from NIR-2025
    </td>
    </tr>

    <tr><td>7</td>
        <td>AtmosphericChemistry</td>
        <td>built-in</td>
        <td>Combine GHG emissions into a <math xmlns="http://www.w3.org/1998/Math/MathML" display="inline"><mrow><msub><mrow><mi mathvariant="normal">C</mi><mi mathvariant="normal">O</mi></mrow><mn>2</mn></msub><mi mathvariant="normal">e</mi></mrow></math> estimate using GWP-100 emission factors,
    and also simulate a simple radiative forcing and planetary heating model.
    </td>
    </tr>

    <tr><td>8</td>
        <td>SubsidyAccounting</td>
        <td>built-in</td>
        <td>Tally up annual subsidy amounts required by barriers and strategies.</td>
    </tr>
    </tbody>
</table>

</p>


<h2 id="usage">Using the Framework</h2>

<p>
To date, PlanZero posts have talked about 
critical success factors, barriers, and strategies
informally.
I will make an effort, going forward, to reflect at least some of these as code objects.
</p>

<h3>Critical Success Factors</h3>

<p>
A Critical Success Factors (CSF), as I've been using the term in the sector-by-sector
NIR-reconstruction posts, can be formalized in terms of a triplet
of (a) a sector, (b) an optimal value, and (c) a TimeSeries object.
For example, a critical success factor such as "reduce the rate of methane emitted, per head"
which is currently listed as a 
<a href="/ipcc-sectors/Enteric_Fermentation/#csfs">factor for Enteric Fermentation</a>,
can be formalized in this general way as follows:
<table>
    <thead>
        <tr><th>Sector</th><th>Maximize / Minimize / Maintain</th><th>TimeSeries KPI</th></tr>
    </thead>
    <tbody>
        <tr><td>Enteric Fermentation</td><td>Minimize</td><td>[average] methane / head</td></tr>
    </tbody>
</table>
A CSF does not generally suggest a particular <i>mechanism</i> of achieving an emissions reduction,
it is just a callout as a potential indicator of progress:
emission reductions in an IPCC-sector should occur if, <i>and only if</i>, there is progress
on at least some of its CSFs.
CSFs are closely related to <i><a href="https://en.wikipedia.org/wiki/Performance_indicator">Key Performance Indicators</a></i> (KPIs);
the TimeSeries used in a CSF definition can be called a KPI.
</p>

<p>
Formalized CSFs in PlanZero are generally DynamicElement objects that also (additionally to what DynamicElement objects usually do)
<ul>
    <li>name CSF TimeSeries variables</li>
    <li>indicate whether each one should maximized, minimized, or maintained at a specific value</li>
    <li>indicate the IPCC sector(s) to which each CSF applies</li>
</ul>
Work remains to be done, but I hope eventually CSFs help visualize how strategies affect emissions,
and generally, what's happening in a scenario.
</p>

<h3>Barriers</h3>

<p>
What I've been calling barriers in PlanZero posts to date typically correspond to constraints or challenges.
The <a href="/ipcc-sectors/Enteric_Fermentation/#barriers">barriers currently associated Enteric Fermentation</a> include,
for example: "Owners of herds do not want to reduce their herds, and neither do their customers or suppliers."
</p>
<p>
A formalized Barrier in PlanZero is a dynamic element that
<ul>
    <li>is associated with any number (including zero) of IPCC sectors</li>
    <li>reads strategy TimeSeries objects (see below) with non-zero delay</li>
    <li>works with other Barrier DynamicElement objects to relate simulation inputs (e.g. StatsCan data regarding cattle headcounts) to simulation outputs (KPIs, e.g. annual sectoral {{CO2e|safe}} totals)</li>
</ul>
I expect typical CSF and Strategy elements to have relatively simple logic.
I expect Barrier elements to house the complexity.
The strategy supporting this post is simply "use as much Bovaer as possible."
It's not trivial to determine how much Bovear use is possible,
and the logic for determining in the model, how much Bovaer it is possible to use in any given year, is in a Barrier element;
it's fitting to call the element a "Barrier" because it isn't deemed possible
to use enough for the entire national herd right away.
Likewise, Bovaer usage doesn't immediately and completely eliminate methane;
this frustrating fact supports again the word "Barrier" for the dynamic element
that implements the modelling logic for how much methane is actually reduced, and at what cost.
</p>

<p>
We'll see below the documentation on the Barrier elements in the scaling scenario,
but taken together, they implement what I would call "the model" being simulated.
</p>

<h3>Strategies</h3>

<p>
Strategies are DynamicElement and TimeSeries objects that implement modelling assumptions,
and serve to provide values for the TimeSeries objects that are the inputs to the CSF and Barrier
DynamicElements.
</p>

<p>
Not all Strategies are well-enough developed to be included in a Scenario.
PlanZero includes Strategies that are quite speculative: all that's required to
create a Strategy in PlanZero is a brief description of the idea, and a URL to
learn more about it.
In order to be eligible to participate in a scenario, a Strategy must be fully
fledged as a DynamicElement: it must declare which TimeSeries variables it consults as inputs,
and which ones it defines as outputs, and what logic it uses to relate them.
</p>


<h3>Scenario</h3>

<p>
A Scenario Is a data structure that comprises all of the TimeSeries objects,
and all of the DynamicElement objects that make up a model of Canada's future,
with regards to emissions.
</p>

<h2 id="scaling">The Scaling Scenario, Starting with Bovaer</h2>

What is 3-NOP, how does it work?

https://pmc.ncbi.nlm.nih.gov/articles/PMC8603004

<h3 id="#scaling_csfs">Critical Success Factors</h3>
Methane emissions
CO2e
Dollars spent on carbon removal

<h3 id="#scaling_barriers">Barriers</h3>
<p>The following are now listed on a newly-created <a href="/barriers/">barriers</a> page.
</p>
Donors will only pay up to X dollars per tonne CO2e removed

Farmers will take a while to administer it even if it's paid-for and safe
The fraction of farmers administering bovaer can't exceed this envelope

<h3 id="#scaling_strategies">Strategies</h3>
administer bovaer (how exactly?)

<h3 id="#scaling_other">Other TimeSeries and DynamicElement Objects</h3>
heads of various types of cattle

<h2 id="conclusion">Conclusion</h2>

<p>
Future posts in the Scaling series will develop other product types,
and analyze their potential to reduce emissions, and their impact on the Scenario overall.
They will introduce at least one, and usually several DynamicElements to PlanZero.
These posts may look at products such as:
<ul>
    <li>Solar, wind, and tidal energy for grid-scale power generation</li>
    <li>EVs for road transportation</li>
    <li>Heat Pumps for residential and commercial/institutional heating</li>
</ul>
</p>

<h3>Dynamic Element: Bovaer Makers</h3>
Bovaer production emissions are assumed to be zero.

<h3>Dynamic Element: Cattle Operations</h3>
Cattle numbers, sizes, productivity etc. remain as in 2023.
Bovaer usage follows sigmoidal adoption curve if CCD will pay for it.


<h3>Dynamic Element: Carbon Capture Donor</H3>
The <code>Scale Current Products </code>
includes one especially notable dynamic element, which is called "Carbon Capture Donor",
and which functions to pay for infinite amounts of carbon capture at a parameterized price.
All dynamic elements can be parameterized, but this element in particular is important
because it allows us to compare diverse scenarios in terms of the cost to achieve net-zero.


parameterized by how much we are willing to pay to remove {{CO2|safe}} from the atmosphere.
which aims to model
what 

In introduces a set of modelling objects, foremost among them
the <code>Scenario</code>.


</section>
</div>
{% include "post-main.html" %}
