{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
        <span class="date">{{blog.date.strftime("%b %d, %Y")}}</span>
        <h1>{% if blog.draft or not blog.published %}[DRAFT] {% endif %} {{blog.title}}</h1>
        <p>{{blog.about}}</p>
    </header>

<p>
Table of Contents:
<ul>
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#motivation">Prediction with Quantified Confidence: the Motivation for Probabilistic Modelling</a></li>
    <li><a href="#static">Probabilistic Modelling of Harvested Wood Products' {{CO2|safe}} with Static Distributions</a>
        <ul>
            <li><a href="#static-gaussian">Modelling Harvested Wood Products with Static Normals</a></li>
            <li><a href="#inference-algorithms">Inference Algorithms and Probabilistic Programming</a></li>
            <li><a href="#constant-inference-fig">Inference of Latent Variables in the Static Model</a></li>
        </ul>
    </li>
    <li><a href="#ar2">Modelling of Harvested Wood Products {{CO2|safe}} with an Autoregressive Process</a></li>
    <li><a href="#conclusion">Conclusion</a></li>
</ul>
</p>

<h2 id="introduction">Introduction</h2>

<p>
PlanZero has used many kinds of data to date,
starting with the 2025 {{siteref("NIR")}},
it has visualized that data, and it has simulated
a strategy on the basis of that data and some additional assumptions,
but it has not employed probabilistic modelling.
Probabilistic modelling is the construction of probabilistic models
(relationships between random variables) and inference of how those
variables might correspond to actual data (observations).
Probabilistic modelling is good for prediction with quantified uncertainty:
prediction of the future, prediction of past statistics
that were not directly observed, or even prediction of past statistics
that were directly observed but with insufficient precision.
</p>

<p>
This post accompanies the introduction of probabilistic modelling to
the PlanZero site.
The glossary has been updated with several terms related to content in this post.
What used to be the "simulations" tab has been renamed "models",
and the previous content is now in a section of that page called
"Simulation-based models", beside a new section of "Probabilistic Models".
There is now also a "Predictions" tab offering a new perspective
on PlanZero modelling that is possible with probabilistic models.
The Predictions tab lists prediction challenges and the scores of
prediction models (for the two models introduced in this post,
on the prediction challenge that is also introduced in this post).
</p>

<p>
The post introduces probabilistic modelling via two models:
a straw-man "Constant" model,
and a demonstrably and qualitatively superior 2-step autoregressive "AR2" model.
The Constant model is simpler, and serves to explain how probabilistic modelling works
because its random variables are easier to visualize.
The AR2 model is more complex, but more realistic (it reflects that the 
rates of emission in a sector can change over time, which the Constant model ignores).
With two models at hand, the post explains how models can be compared
quantitatively for a particular task of future-emissions-prediction.
</p>

<p>
Before we get into the models and model comparisons though,
the first section introduces the technique of probabilistic modelling
by motivating <i>why</i> PlanZero would employ it, when after all,
probabilistic modelling is more mathematically and computationally demanding than the the
simulation-based modelling employed so far.
</p>

<!--
<p>
A probabilistic model (also statistical model, stochastic model, or graphical model),
can do any or all of the following things:
<ul>
    <li>assess the probability of data (typically higher is better)</li>
    <li>generate plausible data, by sampling</li>
    <li>support infererence of meaningful <i>latent variables</i>, such as the
        parameters of appropriately-chosen probability distributions over
        oberved data</li>
</ul>
This post focuses on basic concepts of probabilistic modelling,
applying all three capabilities above to the NIR-2025 data,
and numerically assessing whether one model is a better predictor of the future than another model.
It does this by first developing a very simple model.
Even though this first model is essentially just mean and variance (<a href="#constant">Modelling NIR-2025 with Constants</a>),
it still goes through the motions of Bayesian modelling because
those motions can be repeated to understand more elaborate models, such
as the two-step autogressive model that's developed in the following section (<a href="#ar2">Modelling NIR-2025 with an AR2 Process</a>).
</p>
-->


<h2 id="motivation">Prediction with Quantified Confidence: the Motivation for Probabilic Modelling</h2>

<p>
PlanZero's <a href="/about/#overview">mission</a> calls for
both short-, medium-, and long-term prediction capabilities suitable for the evaluation
of strategies. The credibility and usefulness of model predictions rests on three pillars:
<ol>
    <li>The structure and elements of the model are reasonable.</li>
    <li>The predictions refine people's prior beliefs, rather than contradicting them.</li>
    <li>The predictions agree with data, where data is available, while also being precise.</li>
</ol>
</p>

<p>
Simulation based-modelling is not generally great across all three areas.
What I mean by simulation-based modelling is what might be described
as spreadsheet-style modelling; from a computational perspective, the modelling
proceeds from data and initial numerical assumptions, through arithmetic and
statistical summaries, forward in time, and with one pass through the modelled
time period of the model, it arrives at a result.
This is the kind of modelling that PlanZero has employed to date.
Simulation-based modelling is good with regards to criterion (1) in that predictions can be
reasonably explained directly in terms of the computation of the model.
It is not great with regards to criterion (2) because simulation-based
modelling does not naturally express <i>how [un]likely</i> a person's current beliefs are,
the simulation just emits its own prediction.
Critically,
simulation-based modelling offers very little support for matching data.
Data matching is entirely at the discretion of the modeller,
and the result of simulation does not inherently characterize
whether data was either used or fit well.
</p>

<p>
Probabilistic modelling is a generalization of simulation-based modelling that
can produce more-credible models.
Probabilistic modelling (particularly so-called directed graphical modelling)
starts with random variables instead of numbers.
So for example, instead of starting with
e.g. the NIR data, a probabilistic model
starts with the idea that there are emission amounts
in such-and-such sectors of such-and-such gases (random variables), 
and that there are emissions for all years
we care to include in our model.
While we're at it, we make up broad
<i>a-priori</i> guesses at how much emissions there were in all these areas and for each year in question.
These initial beliefs have a name in probabilistic modelling, they are our <i>priors</i>.
For example, we might express a prior that {{CO2}} emissions from national electricity generation
are relatively big, but still smaller than e.g. global emissions.
As a contrasting example, we might express that the {{NF3}} emissions from a sector that
isn't known for producing that gas, in a province that isn't known for activity in that sector,
is probably zero, at least for most years.
</p>

<p>
The relationship between this probabilistic modelling and simulation-based modelling
is that if we combine the random variables with arithmetic and statistical expressions
(like we would do in a simulation-based model),
then drawing a sample from all the random variables in our prior looks a lot like running
a simulation-based model.
This computation has a name in probabilistic modelling:
<i>sampling from the prior</i>.
It's kind of fun, to see your prior beliefs transformed into
sets of numbers that look like hypothetical NIRs because they are our own predictions of the future!
Looking back at our list of criteria
for making credible predictions,
a probabilistic model is similar to a simulation-based one in terms of model structure (criterion 1),
and it's better than a single scenario from a simulation-based model
at refining rather than contradicting beliefs (criterion 2)
because it's natural to draw lots of scenarios from a probabilistic model,
and the spread of scenarios will include people's beliefs and communicate some degree of [dis]agreement.
Where probabilistic models really excel though,
is in their ability to make precise and accurate predictions (criterion 3),
which I'll explain in the next section.
</p>

<h3>Inference (also known as tuning, fitting, and training)</h3>

<p>
Where probabilistic modelling really go above and beyond simulation-based modelling,
is when it's possible to use some <i>data</i> to refine a model's
priors before making predictions.
Using data in this way can make a night vs. day difference to the quality of prediction.
To illustrate by way of the running example of 
{{CO2|safe}} from national electricity generation,
I mean something almost too obvious to state:
if we want our model to make predictions for e.g. year 2023 that agree with the data
(while also being precise)
it is helpful to incorporate reported historical emissions from
e.g. years 1990 to 2022 (not to mention other data sources that might be even more informative),
rather than to ignore that data and guess directly from our prior beliefs.
<i>Inference algorithms</i> can operate on a probabilistic model to incorporate data like this automatically,
in ways that respect rules of probability theory.
The result of inference is a <i>posterior</i> distribution over the random variables in a model,
which typically refines them from broad vague distributions, to more precise ones.
In the case that we had modelled emissions as coming from a
non-time-varying normal distribution with
a large a-priori variance, inference would refine that prior to be something like
the empirical mean and variance across years 1990 to 2022.
</p>

<p>
Probabilistic modelling, particularly paired with appropriate data sources
and the use of inference algorithms, is admittedly a broad family of approaches,
but it encompasses the the state of the art in accurate prediction.
The techniques for assessing and optimizing the fit of probalisitic models to
data are well established.
When it comes to making predictions that agree with data,
probabilistic modelling with inference is the way to go; simulation-based modelling is not.
</p>

<p>
The rest of this post is organized around the development and comparison of two probabilistic
models for a particular sector and greenhouse gas: Harvested Wood Products' {{CO2}} emissions.
The next section develops a baseline based on static normal distributions.
The following section develops a refinement based on the assumption of an underlying autogressive process.
The final section shows how an empirical model comparison can conclude that the autogressive-process-based
model is more precise and accurate.
</p>


<h2 id="static">Probabilistic Modelling of Harvested Wood Products {{CO2|safe}} with Static Distributions</h2>


<p>
A probabilistic model is a hypothesis about how some aspect of the world
works.
My mental model of the NIR, for example (hypothesis 1), is that for each
<ul>
    <li>year, from 1990 to 2023,</li>
    <li>province and territory (I'll call these "regions"),</li>
    <li>IPCC sector (I'll call these just "sectors"),</li>
    <li>and greenhouse gas,</li>
</ul>
there is a quantity, in units of e.g. kt{{CO2e}} that has been estimated in support of
Canada's reporting obligations under the Paris Agreement.
Furtheremore, I believe (hypothesis 2) that the national totals in the NIR are sums
of regional emissions.
</p>

<p>Alas, neither of these hypotheses is strictly true.
They are true for the majority of years, territories, sectors, and gases, but there are
counter-examples to both.
Counter to hypothesis 1, there are missing records in the data, such as 81 relating to stationary combustion in the construction industry.
Counter to hypothesis 2, regional totals do not always represent subtotals of the national one, such as harvested wood products' where sometimes only about 70% of the total (negative) emissions estimated
by provinces, a difference exceeding 50 Mt{{CO2e}} (almost 10% of the national total) in some years.
If we define discrepancy as the maximum difference over years and provinces,
there are 11 with a discrepancy over 1Mt{{CO2e|safe}}, which are listed in the table below (out of 486 sector and GHG combinations).
At the level of 100kt{{CO2e}} discrepancy, there are about twice as many records, and 
at the level of 10kt{{CO2e}} discrepancy, twice as many again.
I defined "Relative Discrepancy" as the discrepancy divided by the greater of itself and the root mean square of national totals,
as a way to relate discrepancies to the scale of numbers in their sectors.
<table id="gemini-sort-data-table">
    <thead>
        <tr><th>IPCC Sector</th><th>GHG</th><th>Max Discrepancy (kt{{CO2e}})</th><th>Relative Discrepancy</th></tr>
    </thead>
    <tbody>
        <tr><td>Petroleum Refining Industries</td><td>{{CO2}}</td><td>2430.85</td><td>14.4%</td></tr>
        <tr><td>Commercial and Institutional</td><td>{{CO2}}</td><td>1271.44</td><td>4.1%</td></tr>
        <tr><td>Cement Production</td><td>{{CO2}}</td><td>2421.59</td><td>36.7%</td></tr>
        <tr><td>Lime Production</td><td>{{CO2}}</td><td>1421.05</td><td>84.4%</td></tr>
        <tr><td>Ammonia Production</td><td>{{CO2}}</td><td>3090.34</td><td>100.0%</td></tr>
        <tr><td>Nitric Acid Production</td><td>{{N2O}}</td><td>1097.89</td><td>100.0%</td></tr>
        <tr><td>Petrochemical and Carbon Black Production</td><td>{{CO2}}</td><td>4398.65</td><td>100.0%</td></tr>
        <tr><td>Non-Energy Products from Fuels and Solvent Use</td><td>{{CO2}}</td><td>7395.02</td><td>67.7%</td></tr>
        <tr><td>Non-Energy Products from Fuels and Solvent Use</td><td>{{N2O}}</td><td>1068.83</td><td>100.0%</td></tr>
        <tr><td>Forest Land</td><td>{{CO2}}</td><td>1731.42</td><td>2.1%</td></tr>
        <tr><td>Harvested Wood Products</td><td>{{CO2}}</td><td>53296.13</td><td>100.0%</td></tr>
    </tbody>
</table>
For several modest-to-minor sectors, the size of the
discrepancy is sometimes at the same order of magnitude as the national total,
and even for large sectors such as harvested wood products and [static combustion in] commercial and institutional environments,
there are significant discrepancies.
</p>

<p>
Inference in probabilistic models is about finding values for unobserved random variables
that balance two competing objectives:
to find values that are probable according to the prior beliefs
which are also consisent with observation.
The data in the NIR-2025 is not meant to be interpreted too literally.
In fact, NIR-2025 includes per-sector estimates of uncertainty on national totals for the base year (1990) and the most-recent year (2023).
These uncertainties should be considered a <i>lower bound</i>on our uncertainty about the true sectoral emissions.
It can also happen, from time to time, that the protocols for estimating emissions are updated;
this happened a few years ago in the area of vented {{CH4}}, which causes a re-assessment of the past estimates,
and a change that went beyond the previously-estimated uncertainty.
Maybe there really was a set of territorial estimates that added up the published national totals,
it was just that one or more provinces and territories estimated the wrong values.
Or maybe the provinces used more appropriate data and the national estimate was off.
Or maybe they were both off.
A probabilistic model together with a Bayesian inference algorithm can produce
<i>posterior</i> estimates of what most-plausibly actually happened
given the data, its uncertainty, and a conviction that territorial
totals should add up to national ones.
</p>

<h3 id="static-gaussian">Modelling Harvested Wood Products with Static Normals</h3>

<p>
One greatly-simplifying modelling hypothesis we could make
is that sectoral emissions (per territory, per GHG)
aren't actually changing at all over time.
With this assumption we can go through
the steps of modelling and analysis for a model that
is relatively easy to illustrate, compute, etc.
Later we will compare it with a model that recognizes temporal trends.
This section expresses a probabilistic model of emissions.
</p>

<p>
Some background on probability notation is required, in order to express probability models.
<ul>
    <li> {{latex("P(X=0)")}} means there's a number we don't know, we're calling it {{latex("X")}}, and this is the probability it is actually 0.
        {{latex("X")}} is called a <i>random variable</i>.</li>
    <li> {{latex("P(X)")}} is the table (possibly infinitely large in theory) of all the values {{latex("X")}} might take, and their probabilities</li>
    <li> {{latex("P(0)")}} is sloppy shorthand for {{latex("P(X=0)")}} when it's clear from surrounding context we're talking about {{latex("X")}}</li>
    <li> {{latex("\\mathcal{N}(\\mu, \\sigma^2)")}} is a Normal distribution, which is non-negative function that sums (integrates) to 1. It is parameterized by two numbers:
        {{latex("\\mu")}} the mean, and {{latex("\\sigma^2")}} the variance. (Sometimes these are called <i>Gaussians</i> but I'm going to call them Normals to be consistent with the probabilistic programming libraries I'm aware of.)</li>
    <li> {{latex("X ~\\sim~ \\mathcal{N}(0, 1)")}} means {{latex("X")}} is
        a random variable, and its corresponding distribution
        {{latex("P(X)")}} is the thing to the right of the "{{latex("\\sim")}}"
        symbol, which is a mapping from values to probabilities (or densities if
        the values are continuous instead of discrete).</li>
    <li> {{latex("P(A=0, B=1)")}} means there's multiple numbers we don't know, and this is the probability that they <i>both</i> actually have these specific values.</li>
    <li> {{latex("P(A, B)=P(A)P(B)")}} means that the probability distributions for {{latex("A")|safe}} and {{latex("B")|safe}} are <i>independent</i>. A distribution over multiple random variables is called a <i>joint distribution</i> whether they are independent or not.</li>
    <li> {{latex("P(A=0| B=1)")}} is the probability that {{latex("A=0")}} if we make an additional assumption about {{latex("B")}}, namely that it is 1.
        If A and B are not independent, then knowing something about B tells us something about A; in other words, changes what would otherwise have been our {{latex("P(A)")}}.
    </li>
</ul>
Probabilistic modelling is a huge topic.
I think it's typically introduced in secondary
school, and covered in greater detail at various university levels,
often with application to areas of science, engineering, medicine,
social studies, mathematics etc. where probabilities are used.
For more information and orientation, see e.g. wikipedia (
<a href="https://en.wikipedia.org/wiki/Statistical_model">Statistical Model</a>,
<a href="https://en.wikipedia.org/wiki/Graphical_model">Graphical Models</a>),
many tutorials online specific to probabilistic programming software packages
(e.g. Stan, PyMC, Pyro; PlanZero is currently using NumPyro but that might change in the future)
or a textbook such as 
<a href="https://www.penguinrandomhouse.com/books/654485/probabilistic-graphical-models-by-daphne-koller-and-nir-friedman/">Probabilistic Graphical Models (Koller and Friedman, 2009)</a>
for greater depth.
</p>

<p>
With the two-paragraph crash course in probability out of the way,
the following table expresses the static (non-time-varying) probabilistic model model
that will be our subject for the rest of this section:
<table>
    <tr><td>{{latex("\\mu_{(s,g,r)} ~\\sim~ \\mathcal{N}(0, 1)")}}</td><td>
            Suppose the regional mean emissions are probably around 0, plus or minus 10.
            It is customary to scale data to be in this range before modelling them, so each emissions time series is scaled to have a mean squared value of 1.
            After this scaling, plus-or-minus 10 is a relatively un-opinionated prior as to
            what {{latex("\\mu")}} should be, relative to the NIR data, which will probably say that {{latex("\\mu")}} should be somewhere in the range of plus-or-minus 1.</td></tr>
    <tr><td>{{latex("\\sigma_{(s,g,r)} ~\\sim~ \\mathcal{LogNormal}(-1, 0.7)")}} </td><td>Suppose regional variances about the mean are never super-tiny, nor much larger than 1.</td></tr>
    <tr><td>{{latex("\\sigma_{(s,g)} ~\\sim~ \\mathcal{LogNormal}(-1, 0.7)")}} </td><td>Suppose national variance about the mean are never super-tiny, nor much larger than 1.</td></tr>
    <tr><td>{{latex("X_{(s,g,r,t)} ~\\sim~ \\mathcal{N}(\\mu_{(s,g, r)}, \\sigma_{(s,g, r)}^2)")}}</td>
        <td>Suppose that for each sector {{latex("s")}},
        greenhouse gas {{latex("g")}},
        region {{latex("r")}} (province or territory),
        and time {{latex("t")}} (annual total),
        suppose there's a number we don't know (random variable X)
        that's normally distributed about some regional mean {{latex("\\mu_{(s, g, r)}")}},
        and with some variance {{latex("\\sigma^2_{(s, g, r, t)}")}}.</td>
    </tr>
    <tr><td>{{latex("Y_{(s,g,t)} ~\\sim~ \\mathcal{N}(\\sum_{r \\in \\mathrm{regions}}\\mu_{(s,g, r)}, \\sigma_{(s,g)}^2)")}}</td>
        <td>Suppose further that for each sector {{latex("s")}},
        greenhouse gas {{latex("g")}},
        and time {{latex("t")}} (annual total),
        some number we don't know (random variable Y)
        is normally distributed about a mean that is the sum of the regional means,
        with a variance {{latex("\\sigma^2_{(s, g)}")}}.</td>
    </tr>
</table>
The prior densities for the {{latex("\\mu")}} and {{latex("\\sigma")}} terms
are illustrated below.
{{blog.figure_normal()|safe}}
That's it, that's a model of an NIR!
The next section is about how we can use inference to improve the model.
</p>

<p>
[TODO: show a sample from the prior.]
</p>

<h3 id="inference-algorithms">Inference Algorithms and Probabilistic Programming</h3>

<p>The prior model is not really meant to be very accurate,
even considering its structural limitation of being a static model.
To fix it up, the expectation is to perform some amount of inference.
The natural inference for this model is to
treat the actual NIR as observations of our
{{latex("X")|safe}} and
{{latex("Y")|safe}} random variables
and <i>infer</i> what 
{{latex("\\mu")|safe}} and
{{latex("\\sigma")|safe}} probably were, given both our prior about what they would be,
and the observation of X and Y (which depend on 
{{latex("\\mu")|safe}} and
{{latex("\\sigma")|safe}}).
<i>Bayesian inference</i>
addresses the question of
what {{latex("\\mu")}} and {{latex("\\sigma")}}
probably were in terms of a joint probabilility distribution:
</p>

<p>
{{latex("P(\\mu, \\sigma|X=\\mathrm{NIR^{(2025, regional)}}, Y=\\mathrm{NIR^{(2025, national)}})", "block")}}
</p>

<p>
This [joint] distribution is specifically a <i>posterior</i> joint distribution because it's
conditioned on data.
<i>Latent [random] variables</i> are the variables in our model that are not observed,
i.e. for which we don't have data.
Generally, the posterior distribution over a model's latent variables
is not a distribution with a neat and tidy formula such as a normal or exponential.
Typically the only practical way to work with these distributions is with
algorithms, such as the inference algorithms mentioned in the previous section.
Inference algorithms work on the basis of <i>Bayes' Theorem</i>.
In standard probability notation, Bayes' theorem looks like:
</p>

<p>
{{latex("P(A|B) = \\frac{P(A, B)}{P(B)} = \\frac{P(B|A)P(A)}{P(B)}", "block")}}.
</p>


<p>
Bayes' theorem shows how to relate
distributions of the form {{latex("P(A|B)")}},
to ones involving {{latex("P(B|A)")}} instead.
With the help of Bayes theorem,
it is possible to transform a posterior distribution we're interested in,
such as
{{latex("P(\\mu, \\sigma|X=\\mathrm{NIR^{(2025, regional)}},~Y = \\mathrm{NIR^{(2025, national)}})")}},
into a formula with the sorts of pieces with which we specified our model (just looking at the numerator, the terms here
don't look exactly like the ones in the table above, but can you spot the correspondence?):
</p>

<p>
{{latex(
"\\frac{P(X=\\mathrm{NIR_{(2025, regional)}},~Y = \\mathrm{NIR_{(2025, national)}}|\\mu, \\sigma)P(\\mu)P(\\sigma)}
{P(X=\\mathrm{NIR_{(2025, regional)}},~Y = \\mathrm{NIR_{(2025, national)}})}", "block")}}.
</p>

<p>
<i>Probabilistic programming systems</i> enable someone such as myself to write down
a generative sampling processes (such as the one in the left column of the table above) in a programming language,
and leverage standard algorithm implementations to inference.
Even with a Ph.D. in machine learning, I still find
these algorithms amazing (read up on e.g.
<a href="https://en.wikipedia.org/wiki/Markov_chain_Monte_Carlo">MCMC algorithms</a> or
<a href="https://pyro.ai/examples/svi_part_i.html">stochastic variational inference</a> if you're interested in how these algorithms work).
The implementation of these algorithms can involve relatively sophisticated software techniques
(e.g. tracing and runtime program transformations) and the algorithms themselves benefit from ongoing statistics research.
For our purposes we'll take their capabilities as given
(specifically via the use of
<a href="https://docs.jax.dev/en/latest/">Jax</a> and
<a href="https://num.pyro.ai/en/stable/">NumPyro</a>,
and the <a href="https://num.pyro.ai/en/stable/mcmc.html">NUTS</a> MCMC algorithm), and
apply them, in the next section, to draw <i>samples</i> from the posterior distribution
{{latex("P(\\mu, \\sigma|X=\\mathrm{NIR^{(2025, regional)}},
Y=\\mathrm{NIR^{(2025, national)}})")}} assuming the static model described above.
</p>

<h3 id="constant-inference-fig">Inference of Latent Variables in the Static Model</h3>
<p>
Running <a href="https://num.pyro.ai/en/stable/mcmc.html">NumPyro's NUTS</a> inference algorithm for the constant model above,
using the NIR-2025 emissions data regarding {{CO2|safe}} emissions
from the Harvested Wood Products sector, results in the following values
for
{{latex("\\mu")}} (shown as solid horizontal lines)
and {{latex("\\sigma")}} (shown via lightly-shaded 95% confidence intervals).
</p>

{{blog.foo_one_sector_ghg()|safe}}

<p>
Looking at the modelling results ({{latex("\\mu")}} and {{latex("\\sigma")}})
we see some good and some bad.
On the good side, the estimated mean
{{latex("\\mu")}} (solid horizontal line) looks to be fit reasonably,
in that it typically goes through the data points somewhere near the middle.
Likewise,
{{latex("\\sigma")}} has been estimated such that the data mostly fall within
the shaded regions, with a few points popping out above or below;
which is approximately we expect from a 95% confidence interval.
On the bad side, we see large blocks of shaded region without any data,
which is a symptom of temporal correlation in the data.
(We'll compare this quality of fit with a different model in the next sections.)
</p>

<p>
Note that the horizontal dashed lines (each region's sample mean)
and the horizontal solid lines (each region's {{latex("\\mu_{s,g,r}")}}) are different.
The darker shaded region helps put their difference into perspective,
it is the 95% <i>credibility interval</i> around {{latex("\\mu_{s,g,r}")}}
(the upper and lower limits of the central 95% of sampled values from the latent variable's posterior distribution).
For two regions, British Columbia and Quebec, the
data mean lies slightly outside of their regional {{latex("\\mu_{s,g,r}")}} credibility interval.
This means that it is hard to believe,
based on the model, and the data, that {{latex("\\mu_{s,g,r}")}} is exactly the data
mean for each of those provinces.
I chose Harvested Wood Products' {{CO2|safe}} emissions
because there were a number of years where the regional and national totals
are thousands of kt{{CO2|safe}} apart.
Perhaps unsurprisingly,
inference in this model reveals
that a discrepancy also exists terms of means-since-1990.
The regional latent {{latex("\\mu_{s,g,r}")}} values in the model are required to add up to the national total,
whereas regional totals in NIR-2025 are not. The inference algorithm
has estimated a sample of values for {{latex("\\mu_{s,g,r}")}} that
balances (a) fitting the regional emissions data, (b) fitting the national total emissions, and (c) respecting the prior distributions in the model.
</p>

<p>
That concludes PlanZero's first probabilistic model of a sector and gas
(Harvested Wood Products {{CO2|safe}}).
To say whether it is a good model requires an alternative and a basis for comparison.
The next two sections introduce a second probabilistic model
and an evaluation metric for comparing them.
</p>


<h2 id="ar2">An Alternative Model based on an Autoregressive Process</h2>

<p>
<!--
Another possible model of NIR emissions generally,
and of Harvested Wood Products' {{CO2|safe}} in particular 
is that 
Candidly,
I think that a fixed distribution, one that doesn't change from year to year,
is a poor model of many historical emissions
(including most of the ones above from the Harvested Wood Products sector).
I also think that 
there's a lot of temporal correlation from one year to the next.
One way to test these beliefs is to model them, fit that model to data with
an inference algorithm (just like we did in the previous section) and
see what kinds of inferences (and predictions) it makes.
This section develops an alternative model to the constant model discussed
in the previous section.
The next section compares the two models as predictors of future emissions.
</p>
-->

<p>
It is natural to view the emissions data in the NIR as time series.
A model should leverage the fact that emissions tend to change
slowly; the emissions from the year before are usually a good guess for the
current year, and probably a better guess than the overall mean since 1990.
There are many approaches and applications of
<a href="https://en.wikipedia.org/wiki/Time_series">time-series analysis</a>
but this section develops an emissions model based on
<a href="https://en.wikipedia.org/wiki/Autoregressive_model">autoregressive analysis</a>.
<!--
Bayesian autoregressive analysis results from fitting a model with a
latent time series (e.g. {{latex("Z")|safe}}, below)
that progresses according to a random walk.
-->
An auto-regressive process of order {{latex("p")|safe}},
called an AR-{{latex("p")|safe}} process, is a random walk that can be written like this:
</p>

<p>
{{latex(
"
\\begin{array}
Z_{1..p} & \\sim & \\mathcal{N}(0, \\sigma^2)  \\\\
Z_t & \\sim  & \\mathcal{N}(c_0 + c_1 Z_{t-1} + c_2 Z_{t-2} + ... + c_p Z_{t-p},
                          \\sigma^2)
\\end{array}
", "block").replace("<mtd>", '<mtd style="text-align: left;">')
}}
</p>

<p>
Such a random variable {{latex("Z")|safe}}
is said to be generated by an AR-{{latex("p")|safe}} process.
An autoregressive process proceeds by adding some combination of its previous
elements together with a constant offset, and then adding some randomness
according to {{latex("\\sigma^2")|safe}}.
The initial {{latex("p")|safe}} steps of the process need a different definition;
above they are defined to be independent variables.
</p>

<!-- TODO: show AR2 with different sigma, different c-->

<p>
The following time-varying graphical model for NIR data will be our subject
for the rest of this section.
(Indexes by {{latex("s,g")|safe}} are dropped here for brevity,
and because anyway all sectors and gases are considered to be independent.
So for example {{latex("\\mu_{(s,g, r, t)}")|safe}} is written
{{latex("\\mu_{(r, t)}")|safe}}.)
<table>
    <tr><td>{{latex("\\forall_{r}\\forall_{t\\in\\{1,2\\}} ~ \\alpha_{r,t} ~\\sim~ \\mathcal{Kumaraswamy}(1.25, 1.25)")}} </td>
        <td>Draw some numbers between 0 and 1, not too close to those limits, two for each region.</td>
    </tr>
    <tr><td>{{latex("c_{r,1} ~=~ .1 + 1.5\\alpha_{r,1}")}} </td>
        <td>Let the coefficient on the previous timestep range between .1 and 1.6.</td>
    </tr>
    <tr><td>{{latex("c_{r,2} ~=~ -.5 + \\alpha_{r,2}")}} </td>
        <td>Let the coefficient on the 2nd-previous timestep range between -0.5 and 0.5.</td>
    </tr>
    <tr><td>{{latex("\\forall_{r}\\forall_{t\\in\\{1,2\\}} ~ \\mu_{r,t} ~\\sim~ \\mathcal{N}(0, 1)")}} </td>
        <td>Let the first two steps of the autoregressive process for each region be independent normals.</td>
    </tr>
    <tr><td>{{latex("\\sigma_{r}=\\max(\\sqrt{\\frac{1}{T}\\sum_t^T e_{r,t}^2}, 1)")}} </td>
        <td>Even after scaling the whole emissions data set so that the national totals
            had a dynamic range of about 1, peek at the provincial and territorial emissions data to define a scale for each of these regions ("e" is for the regional emissions after scaling by the national factor.)</td>
    </tr>
    <tr><td>{{latex("\\mu_{r,t} ~\\sim~ \\mathcal{N}(c_{r,1} \\mu_{r,t-1} + c_{r,2} \\mu_{r,t-2},
            0.05^2 \\sigma_{r}^2)")}}</td><td>
            Suppose a latent {{latex("\\mu_{(r,t)}")|safe}} variable
            varies with time according to an AR-2 process.
            The {{latex(".05^2 \\sigma_r^2")|safe}} term here controls how quickly
            the AR-2 process can change course from where its previous values and
            weights {{latex("c")|safe}} would otherwise take it.
            Inference is quite sensitive to this parameter.
            </td>
    </tr>
    <tr><td>{{latex("X_{r,t} ~\\sim~ \\mathcal{N}(\\mu_{(r, t)}, (0.05\\sigma_{r, t})^2)")}}</td>
        <td>Similar to the static model, except that {{latex("\\mu_{(r, t)}")|safe}}
            is indexed by year {{latex("t")|safe}}, so that our model
            is time-varying. Variance in this model was fixed, based roughly on
            the uncertainty estimate in the NIR-2025, which was 19% for 1990 and 4% in 2023.
        </td>
    </tr>
    <tr><td>{{latex("Y_{t} ~\\sim~ \\mathcal{N}(\\sum_{r \\in \\mathrm{regions}}\\mu_{r,t}, 0.05^2)")}}</td>
        <td>Similar to the static model, except that we use a time-indexed
            {{latex("\\mu_{r, t}")|safe}} here too.  Variance in this model
            was fixed, based roughly on
            the uncertainty estimate for NIR-2025, which was 19% for 1990 and 4% in 2023.
        </td>
    </tr>
</table>
</p>

<h3 id="ar2-hwp">Modelling Harvested Wood Products with an AR2-based model</h3>

{{blog.figure_ar2_rhat()|safe}}

{{blog.figure_ar2_hwp()|safe}}


<h2 id="comparing">Comparing Models as Predictors of the Future</h2>

<p>
For every purpose to which a model might be put,
it is possible to ask how well-suited it is to that purpose,
and perhaps, which of two particular models is better-suited.
One way to decide which model is better is to assign each a score
and then compare the scores.
In machine learning, <i>evaluation metrics</i> are numerical
scores for models, as applied to a particular modelling task.
To the extent that the fitness of a model for some purpose can be estimated
accurately with an evaluation metric,
the job of finding a the best models for that purpose becomes an optimization
problem.
Framing an optimization problem can be helpful
because both people and computers are good at solving optimization problems;
optimization problem statements clarify what is important
and what can be ignored, at least within the context of that optimization.
The machine learning community has made great progress over recent
decades by focusing model development around standard problems.
I hope that this practice may serve to support emission-reduction efforts
as well, so long as standard, relevant problems can be identified.
</p>

<p>
As a first standard challenge,
this post introduces a prediction challenge
which if not necessarily of long-term importance,
can at least serve to show how the models above can be compared
numerically.
The challenge is slightly tricky to describe, so I've provided
the following diagram to support the explanation below.
The "Year-Out, Last-Year (YOLY-2025)" prediction challenge
is to predict,
on the basis of data that was available one year ahead of its publication, the
most-recent year's emissions that were covered of the NIR-2025 National Inventory Report, which was year 2023.
(Technically, I should use the NIR-2024 data for this evaluation,
but I'm cheating and using years 1990-2022 from NIR-2025 instead because
it's the data I have at hand.)
</p>


<b>The NIR-2025 Year-Out, Last-Year (YOLY-2025) prediction challenge (of year 2023):</b>
{{blog.figure_YOLY_2025()|safe}}

<p>
Both of our models (I'll call them "Const" and "AR2")
can predict 2023 emissions in NIR-2025 based on previous years' data.
When I ran inference on these models to make the figures above,
I generated a sample of 1000 possible assignments of the latent variables,
which were (ideally) distributed according
to each model's posterior distribution conditioned on data from years
1990-2022.
Every single one of these latent variable assignments can make a prediction for year
2023.
The distributions of these predictions for Canada and each province,
and territory, for {{CO2|safe}} emissions from Harvested Wood Products,
is shown in the figure below.
</p>

{{blog.figure_YOLY_2025_violinplots()|safe}}

<p>
Both models make good predictions, in that the range of values they predict
includes the actual 2023 emissions data (the solid dot on each violin plot).
However, the models are different in that the range of values predicted
by the Const model for each category is relatively large (e.g. 140 Mt{{CO2e|safe}})
in the case of the national total),
and by comparison the range of predictions from the AR2 model for each category
is smaller (e.g. only about 25 Mt{{CO2e|safe}} for the national total.)
Qualitatively, we can see that the AR2 model is making much bolder predictions,
and the data for this sector reveal that it also made reasonably correct
predictions.
The AR2 model is the better predictor, as
far as our data is concerned.
</p>

<p>
A standard way to to turn this qualitative assessment into a
model evaluation metric
is compute the predicted probability of the evaluation
data, according to the model.
In the case of this data,
I think the job is to predict all of the provincial and territorial totals and the national total
together, with one bad prediction ruining the whole lot. The YOLY-2025
evaluation metric {{latex("\\mathcal{L}")}} is the 
entire year's emission data,
as estimated by the model.
</p>

<p>
{{latex("
\\mathcal{L} =
\\log\\left(
P(X_{(t=2023)}=\\mathrm{NIR}^{(2023)})
\\right)
", "block")}}
</p>

<p>
To use this formula on our models
we must transform it into an expectation
over latent variables
({{latex("\\theta")}})
so that we can evaluate it
with the sample
({{latex("\\hat \\theta")}})
that we computed by inference of the posterior distribution.
</p>

<p>
{{latex("
\\mathcal{L} =
\\log\\left(
\\int_\\theta P(X_{(t=2023)}=\\mathrm{NIR}^{(2023)}|\\theta) P(\\theta)
\\right)

\\approx
\\log\\left(
\\frac{1}{n}
\\sum_{\\hat \\theta_i ~\\sim~ P(\\theta)}^n P(X_{(t=2023)}=\\mathrm{NIR}^{(2023)}|\\hat \\theta_i)
\\right)

", "block")}}
</p>

<p>
This expression can be computed for each model, at least
for {{CO2|safe}} from Harvested Wood Products.
The results are in the table below.
</p>
<table>
    <thead>
        <tr><th>Model</th><th>Evaluation Data Log-Probability {{latex("\\mathcal{L}")}} on {{CO2|safe}} from Harvested Wood Products</th></tr>
    </thead>
    <tbody>
        <tr><td>Const (non-time-varying)</td><td>{{"{:.3f}".format(blog.log_prob_2023_const())}}</td></tr>
        <tr><td>AR2-based model</td><td>{{"{:.3f}".format(blog.log_prob_2023_AR2())}}</td></tr>
    </tbody>
</table>

<p>
The log-probability of the 2023 data under both models is negative.
Each emission data point is modelled as Normal with a scale
spanning up to tens of Mt{{CO2e|safe}}, so
most of them are stretched pretty thinly (distributions always have to sum or integrate to 1.0).
The logarithm of a tiny positive number is a large negative number.
The logarithm of a product of tiny positive numbers (such as the probabilities
of the data points for each province and territory) is
the sum of the logarithm of each one, and with each logarithm being negative,
the sum is an even larger negative number.
The log probability of our evaluation data under the constant model
is about -107.
The log probability of our evaluation data under the AR-2 model
is about -103.
It may seem that -107 is close to -103 because they're separated by 4%,
but technically the results are that the actual 2023 emissions data are about {{latex("e^{-103.2-(-107)}\\approx50")}}
times more probable under the AR2 model than the Constant one.
The AR2 model predicted the 2023 emissions more precisely, and it turned
out to be right.
</p>

<p>
Log-probability isn't a perfect evaluation metric, but it's pretty good.
As one example of a shortcoming, it can be gamed
on Harvested Wood Products
by a model that makes
infinite confidence prediction that Nunavut's HWP emissions will be exactly 0.
That particular silliness can be avoided in a couple of ways (e.g.
make sure all models handle easy predictions similarly, or add noise to data
as part of the evaluation metric),
but in general,
it's important to use all the tools, cleverness, and data available to us
to recognize and prevent such silliness for ruining an evaluation
metric that's otherwise quite useful.
Log probability isn't a perfect evaluation metric, but
I believe with a little vigilence, it's a good one;
by iteratively incorporating models with superior
evaluation log-likelihood  on YOLY-202X prediction challenges, PlanZero models
can get quite good at year-out last-year NIR prediction.
</p>


<h2 id="conclusion">Conclusion</h2>

<p>
<ul>
    <li>Introduced hierarchical Bayesian modelling</li>
    <li>Introduced two models of a challenging sector, which features
        significant disagreement between provincial and national estimates.</li>
    <li>Illustrated them qualitiatively</li>
    <li>Introduced an evaluation metric reflective of 1-year-out prediction
        of forthcoming NIR publication, for year 2023 specifically.</li>
    <li>Compared the two models quantitatively as predictors of 2023
        emissions; the AR2 model was quantitatively superior, reflecting what
        I think was relatively obvious qualitative judgement.</li>
</ul>
</p>

<p>
The work in this post suggests re-working the modelling section of the site.
<ul>
    <li>New top-level tab "prediction" with prediction tasks.
        YOLY-205 to start, but others to follow.</li>
    <li>IPCC-Sector pages include forecasts from the best model</li>
    <li>Simulations renamed "Models"</li>
    <li>Glossary overhaul of computational level</li>
    <li>Glossary addition of probabilistic modelling terms</li>
    <li>Impl: Alternate SimulationResult class?</li>
    <li>Redefine strategy and barrier for probabilistic models</li>
    <li>Rename Driver to Activity to match NIR terminology (e.g. uncertainty report)</li>
</ul>
<ul>
</ul>
</p>

<p>
Probabilistic modelling is compatible with the scenario analysis used to
evaluate <i>strategies</i> (like e.g. Bovaer adoption), and for strategies
that are already active, inference algorithms
can even assess whether strategies are working as intended (at least relative to data and a model);
but illustrating how this can be done will wait for a future post.
</p>

<p>
<a href="https://arviz-devs.github.io/EABM/Chapters/Presenting_results.html">Chapter 14: Presenting Results</a>
of online book "<a href="https://arviz-devs.github.io/EABM/">Exploratory Analysis of Bayesian Models</a>"
accompanying the <a href="https://python.arviz.org/en/stable/">Arviz</a> software package.
</p>


<p>
It's interesting to consider a hypothetical YOLY-2027 challenge,
because the "prediction time" for that challenge has passed (April 2026)
but the NIR-2027 has not yet been published.
Despite not yet being able to score models on YOLY-2027, YOLY-2027
is perhaps the most interesting of the three because, it is possible
to make the models, and their predictions might have value precisely
<i>because</i> the actual NIR-2027 publication is not available yet.
(Strictly speaking, the YOLY-2025 challenge should use the
previously-published NIR-2024 to get data up to year 2022 for model development and posterior inference / training.
I'm using earlier years from NIR-2025 as a short-cut.
This short-cut isn't possible for NIR-2027 because indeed,
only NIR-2026 has been published at this time.)
</p>

<p>
On the topic of modelling harvested wood products specifically (among NIR-sectors)
this post represents a step back for the sake of two future steps forward.
The previous PlanZero post on Harvested Wood products summarized research
on how HWP emissions are calculated in terms of historical volumes of
logs and bolts, wood for pulp and paper and so on. This post ignores all of
that and models HWP emissions as a random walk.
The reconciliation of these two types of model is left to future work.
The broad outline of that future work is clear: model instead the volumes of e.g.
harvested logs and bolts as the random walk, and use the appropriate simulation-style
mathematical expressions to convert hypothesized volumes of bolts to HWP emissions
in subsequent years. The likely challenge lurking
within the broad outline of work is that inference in such a model may not
be effective in the first paramaterization I try.
Furthermore, I suspect this will not be a one-off challenge.
</p>

<p>
I believe that probabilistic modelling represents a new standard for what it
means to add an NIR sector model to PlanZero.
I expect the work for many future posts will be to find reasonable and useful priors
and model structures that reflect contributing factors to the various NIR sectors.
I will focus first on incorporating NIR sectors that I've written about in PlanZero already.
</p>




<p>
Until next time,
</p>
<p>
- James Bergstra
</p>


<ul class="actions special">
    {% if prev_url_filename %}
    <li><a href="/blog/{{prev_url_filename}}" class="button">Previous</a></li>
    {% endif %}
    {% if next_url_filename %}
    <li><a href="/blog/{{next_url_filename}}" class="button">Next</a></li>
    {% endif %}
</ul>
</section>
</div>
{% include "post-main.html" %}
