{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
        <span class="date">{{blog.date.strftime("%b %d, %Y")}}</span>
        <h1>{% if blog.draft or not blog.published %}[DRAFT] {% endif %} {{blog.title}}</h1>
        <p>{{blog.about}}</p>
    </header>

<div class="box">
    <strong>Contribution</strong>: A rewritten <a href="/about/">About</a> page
    brings a <a href="/about/#overview">project overview</a>, a <a href="/about/#contributors">contributors</a> section, and
    a <a href="/about/#posting-policy">guidance re: posts</a> section with guidelines on a few points: 
    <ul>
        <li>the purpose of posts, their role in providing focus, convenience, and accessibility</li>
        <li>the "Draft" status for posts</li>
        <li>how to interpret post dates</li>
        <li>how to interpret post authorship</li>
    </ul>
</div>

<p>
Table of Contents:
<ul>
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#overview">About this Project</a></li>
    <li><a href="#contributors">Contributors</a></li>
    <li><a href="#posting-policy">Guidance Re: Posts</a>
        <ul>
            <li><a href="#revision-control">Preface: Revision Control as Mechanism and Inspiration</a></li>
            <li><a href="#post-purpose">The Purpose of Posts</a></li>
            <li><a href="#draft-status">Draft Status</a></li>
            <li><a href="#post-dates">Post Dates</a></li>
            <li><a href="#post-authorship">Post Authorship and Acknowledgements</a></li>
        </ul>
    </li>
    <li><a href="#conclusion">Conclusion</a></li>
</ul>
</p>

<h2 id="introduction">Introduction</h2>
<p>This post takes a step back, reviews what PlanZero is trying to accomplish,
and how the development is working.
Not only does it "bring an update to the
<a href="/about/">About</a> page", but it also explains of what I mean by that sort of phrase
(variations of which I've used in many post introductions over the past months)
in terms of the role of posts relative to other facets of the project.
My intent is partly to prepare
for a future in which others may contribute to PlanZero,
and partly to keep myself focused by articulating a process that I believe I should follow.
This post re-articulates the project mission and vision, and recognizes the
contributors that are helping to bring it together.
This post supercedes the thinking in <a href="/blog/2026-01-06-contributing">"Contributing (even for myself)"</a>, from January 2026, and replaces the
previous content of the About page,
which I have moved to the bottom of this post for posterity.
</p>

<h2 id="overview">About this project</h2>
<p>
I've updated the About page with a new self-description:
PlanZero is an independent research project to model how Canada might achieve zero
net emissions. The long-term vision is that it can quantify the opportunities
associated with strategies &mdash;
such as public and private research and development efforts, and public policies &mdash;
and situate them in comprehensive long-term scenarios based on
projections of Canada's possible future
<a href="https://climate-scenarios.canada.ca/?page=main">climate</a>,
<a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1710005702">population</a>,
<a href="https://www.cerdialogue.ca/canada-s-energy-future">energy supply</a>,
and other macro trends that might influence future emissions. 
</p>

<!-- themes, guiding principles -->
<p>
There have been, and thankfully continue to be, many efforts to model future emissions in the world:
the effect they have on the climate, and the effect various technologies may exert on emission rates.
As I build up a bibliography (<a href="https://github.com/jaberg/planzero/issues/63">not yet started as of April 2026</a>) this PlanZero site will situate itself in the context of ongoing and previous work.
I believe that PlanZero is differentiated from other efforts in (a) focusing on Canada, and
(b) in being structured as an open-source software project.
I hope, over time, that because of this differentiation,
it may engage the community of Canadian students at
undergraduate and graduate levels:
<ul>
<li>to help some learn about the diverse challenges of transitioning to a net-zero economy
</li>
<li>to help some build compelling models of strategies that can and should be put into action</li>
<li>
    to help some learn about participating in distributed open projects
</li>
<li>
    to help some learn about software engineering, architecture, and statistical modelling
</li>
</ul>
</p>

<!-- mission -->
<p>
As the project matures in depth and breadth,
I hope it becomes a resource that can
help shape public policy, and guide capital investment into research and technology development.
</p>

<!--<h2 id="Glossary"></h2>-->

<h2 id="contributors">Contributors</h2>
<p>
I have updated the About page to list project contributors, of whom I feel there are three:
<ul>
    <li><b>Myself, James Bergstra</b>.
        James is the project's lead author and developer.
        James is supported by his long-suffering wife, who endures the first drafts of so many posts, provides invaluable feedback and support, and wishes to remain anonymous.</li>
    </li>
    <li><b><a href="https://uwaterloo.ca/geography-environmental-management/profiles/seth-wynes">Professor Seth Wynes, Ph.D.</a></b>,
        an Assistant Professor in the Department of Geography and Environmental
    Management at the University of Waterloo. Seth is guiding James'
    transition into the world of climate modelling and communication.</li>
    <li>The <b><a href="https://www.opt2refuture.org">Opt2Refuture team</a></b>.
        The group, of which James is a member, has provided research leads,
        post feedback, and a forum for discussion of issues related to
        emissions reduction in Canada.</li>
</ul>
</p>


<h2 id="posting-policy">Guidance Re: Posts</h2>
<p>
I have added to the About page a bit of guidance / reflection around the role
that posts play for the project, and the way they should be handled for them
to do their job.
</p>
<p>
I think of the PlanZero project in terms of the following facets:
<ol>
    <li>code (GitHub) - the state and history of all data, code, and content, in git</li>
    <li>issues (GitHub) - a set of likely next steps, a rough roadmap</li>
    <li>posts - a narrative history of the development of the PlanZero site</li>
    <li>about - project overview, direction, acknowledgements</li>
    <li>rest of PlanZero site - the summary of PlanZero modelling and research</li>
</ol>
Posts have emerged as the most engaging facet.
The guidelines in this section
aim to articulate why I think they are working, and ensure they continue to support
some project themes:
<ul>
    <li><strong>Focus</strong>: posts tie code changes to justifiable improvements to the site content</li>
    <li><strong>Convenience</strong>: posts make it convenient and comfortable for people to
        follow project developments without visiting the planzero site</li>
    <li><strong>Accessibility</strong>: provide a narrative history and onboarding tool so people
        can tune in as the project develops, even as the site content gets more complicated and elaborate</li>
</ul>
</p>

<h3 id="revision-control">Preface: Revision Control as Mechanism and Inspiration</h3>
<p>
As a preface to explaining how posts are supposed to work in PlanZero,
it is worth saying how revision control, and <a href="https://git-scm.com/">git</a> in particular, have at least revolutionized, if not fundamentally enabled,
 <a href="https://en.wikipedia.org/wiki/Open-source_software">open-source software</a>.
Open-source software is developed in many ways, but the most canonical style is
by a loosely-organized community
of contributors, each of whom has a copy of the software (called a <i>branch</i>, or <i>fork</i> of the code), and can develop it
however, and whenever they please (by making <i>commits</i> of changes to their <i>branch</i>).
Development would not be efficient,
if not for revision-control systems that
allow such developers to stitch their private improvements back together into
a coherent, improved, software system (this stitching is called a <i>merge</i> in git).
Despite challenges such as weak coordination and predictable governance issues,
open-source communities have developed and
maintained
some of the most complex and most stable software in the world,
including <a href="https://github.com/torvalds/libgit2">git itself</a> (of course),
the <a href="https://github.com/torvalds/linux">Linux operating system</a>,
<a href="https://github.com/pangeo-data/awesome-open-climate-science#general-purpose">simulation tools for mathematical modelling</a>,
and many
<a href="https://github.com/pangeo-data/awesome-open-climate-science">models used for atmospheric, ocean, and climate science</a>.
</p>

<p>
This pattern applies at two conceptual levels with regards to PlanZero.
As a lower level, PlanZero follows this pattern, by using git via GitHub.
As a higher level, PlanZero uses posts to mark significant changes
to the underlying project code, including the structure and visualizations
elsewhere in the site. At this higher level, the rest of the site is like the
"coherent, improved software system" with an ever-expanding set of models, visualizations,
analyses etc. that nevertheless remain internally consistent;
and the posts narrate the incremental changes that have lead from the start of the project to the current state.
PlanZero's git history also includes a sort of <a href="https://github.com/jaberg/planzero/commits/main/">narrative of commit messages</a>, but these messages are small, text-only, and not written for the audience of the site itself. 
</p>


<h3 id="post-purpose">The Purpose of Posts</h3>
<p>
With the preface stated,
the purpose of posts can be stated more succinctly:
it is to document why and how something elsewhere on the site has changed.
Typically both the post and the change-elsewhere are
part of a combined implementation effort (what might naturally be a branch, in git),
that is merged together into the main project branch.
Git commit messages should describe and justify the changes associated with
each git commit in language familiar to a project contributor.
A git pull request on GitHub should describe and justify an entire branch worth of changes
in language oriented to a project contributor.
Such a branch and pull request should include at least one new post that
describes and justifies the entire branch worth of changes to anyone visiting
the PlanZero site.
</p>
<p>
The following table compares and constrasts the various summaries that arise
in the course of working on PlanZero:
<table>
    <thead>
        <tr><th>summary</th><th>git association</th><th>scope</th><th>audience</th></tr>
    </thead>
    <tbody>
        <tr><td>GitHub pull request</td><td>branch</td><td>one per site improvement</td><td>contributor / developer</td></tr>
        <tr><td>PlanZero post</td><td>branch</td><td>at least one per branch</td><td>site visitor</td></tr>
        <tr><td>git commit message</td><td>commit</td><td>typically many per branch</td><td>contributor / developer</td></tr>
    </tbody>
</table>
</p>

<p>A corollary to this bit of guidance, is that if there is no visible change to the site other than the post itself,
then there is nothing beyond the post itself in need of explanation,
and arguably there should be no post at all.
For example, a communication of the form "Group of people X should do Y instead of Z"
should generally not be a post on PlanZero (unless e.g. the group of people is PlanZero contributors and the post is about a change to the About page).
The closest message might be something like
"Because of some new modelling or data added to PlanZero, we see that if group of people X did Y instead of Z,
it would change such-and-such impact from A to B."
In future there may be a "Perspectives" or "Recommendations" section with examples of using
PlanZero to weigh in on public debate, but there is <a href="https://github.com/jaberg/planzero/issues/66">not yet such a section</a>.
</p>

<h3 id="draft-status">Draft Status</h3>

<p>A post can have a status of "Draft".
This status determines how the post should be displayed, and how it may be revised.
The purpose of these policies
is to respect the PlanZero audience's time.
After someone has generously volunteered their time and
energy to understanding a post on PlanZero, it would be rude of us to confuse them
or devalue what they've understood by changing the content of a page after they've read it.
</p>

<p>
If a post is a draft, then
<ul>
    <li>the word "DRAFT" appears in large letters in the title, wherever it appears</li>
    <li>the text of the post is subject to change without notice</li>
    <li>the entire post may be hidden, withdrawn, removed, etc.</li>
</ul>
If a post is not in draft, then
<ul>
    <li>no such word such as "DRAFT" appears in the title</li>
    <li>it should never be materially changed</li>
    <li>if it is superceded, it should be amended to include a link to the new
        post introducing the superceding content</li>
</ul>
All such changes will be tracked in git in any event.
Git history should only be amended in order to remove accidentally committed
material, including sensitive or confidential material.
</p>
<p>
Moving a post from draft to non-draft status is the occasion for broader
communication.
In future a post leaving draft status may somewhat automatically lead to broadcast on e.g.
mailing list, substack, X (twitter), slackbot, facebook, LinkedIn, and/or
other ways of getting messages out, but I <a href="https://github.com/jaberg/planzero/issues/67">haven't decided how to handle that
    yet</a>.
For now I'll transmit posts manually, in an ad-hoc manner.
</p>
<h3 id="post-dates">Post Dates</h3>
<p>
Posts have dates, but those dates should be interpreted as approximate.
The dates of posts should be set to create a coherent narrative, and
reflect the approximate time that work was done.
The date of a post need not reflect the
time the work was started, completed, or last edited.
</p>
<p>
When a non-draft post is amended to include a link to a superceding post,
the amendment should mention a date e.g. "(Edited April 25, 2026: new post X covers this topic differently...)" but this date too can be approximate.
</p>
<p>
PlanZero's git history has a precise history
of which files were edited in what ways on which dates and times.
This history is
detailed and accurate, although it reflects the
development process commit-by-commit rather than the narrative presented by the
posts.
</p>
<h3 id="post-authorship">Post Authorship and Acknowledgements</h3>
<p>
Post authorship and acknowledgements should follow what I think of as academic
convention, which is to say that it's not easy to articulate a policy.
At one end of a spectrum: someone that has done all of the work and written
the post itself is typically an author.
At the other end of that spectrum: a funding agency with little knowledge of the
work is typically recognized via acknowledgement.
In between, it's case by case management of contributor and audience expectations, project precedent,
and community conventions.
</p>



<h2 id="conclusion">Conclusion</h2>

<p>
This post has brought a rewrite of the <a href="/about/">PlanZero About page</a>,
with a more concise vision and mission, a recognition of contributors,
and some guiding principles regarding posts.
The mission could be crisper still, but right now
it is to engage the community of Canadian students at
undergraduate and graduate levels.
As the project matures in depth and breadth,
it could help shape public policy, and guide capital investment into research
and technology development, but that will take time and significant effort.
Meanwhile, there are about 100 universities in Canada, and if a few students at each one
took an interest in PlanZero, they would make up a thriving contributor community.
They are the next generation of shapers-of-public-policy and allocators-of-capital-investments.
The guidance regarding posts is the beginning of a how-to-contribute onboarding document
aimed at this population.
</p>

<p>
The next post, also adding to the About page, will introduce a <a href="https://github.com/jaberg/planzero/issues/64">glossary</a>.
While a <a href="https://github.com/jaberg/planzero/issues/63">bibliography</a> is on the horizon,
a glossary represents a step forward: a place to consolidate the names of major sources,
and an implementation of a cross-referencing mechanism for html-authored content.
</p>

<p>
Before signing off,
I would like to include the original text of the "About" page, posted in December 2025.
It now feels a bit too individual for the project's About page.
I can't bring myself to completely remove it, so I'm moving it here.</i>
</p>

<h3 id="manifesto">Previous Content of PlanZero/About</h3>
<p>
Plan Zero is a project I'm undertaking to understand how I might, at least personally, best-contribute to
a more-sustainable way of life in Canada, and maybe beyond.
It's a grand challenge, and I've always liked grand challenges.
Hannah Ritchie observed in
<a href="https://www.amazon.ca/Not-End-World-Generation-Sustainable/dp/031653675X/">Not the End of the World: How We Can Be the First Generation to Build a Sustainable Planet</a> that it's never been done before:
that civilizations have historically thrived by living un-sustainably;
that people have time-and-again drawn down useful natural resources faster than those resources could replenish;
and that this activity of ours has redefined much of the surface of the earth.
</p>
<p>
Despite this activity of ours having served human civilization relatively well for millenia,
there seems to be a difference now, in that we may have gone too far.
An accumulation of greenhouse gases in the atmosphere prevents the earth from
radiating heat at the rate it has done for thousands of years, throughout the history of human civilization.
This accumulation seems to be the result of burning fossil fuels, especially over the last century.
Depending on how the global economy responds to their warnings,
climate scientists predict changes over the next century
that would disrupt life as usual for many people, perhaps all people.
It is true that the Earth's environmental conditions and climate are very complex: 
atmospheric scientists struggle to predict weather precisely beyond a few days,
and the accumulation of heat causes changes in dynamics without historical precedent.
However, as a student of statistical inference, and as a human being,
it seems to me we should slow down the pace of climate change, at least enough to be comfortable adapting to it and enough to understand the changes it brings.
If we could anticipate changes well enough in advance (perhaps a few generations out, say, seven)
and set up future generations for success, that'd be good enough for me.
However, I think that currently, we can't.
Therefore, I believe there is currently a credible threat of enormous disruption in my own lifetime, to say nothing of generations to come, because
the Earth is heating too quickly.
</p>
<p>
I am working on this site to quantify possible impacts on economics, emissions and accumulated heat,
that might come of various ideas to do something positive for the climate.
Some of the ideas are regulatory
(e.g. incentivize farmers to feed Bovaer to cattle,
reduce tariffs on fuel-efficient technology),
some of the ideas are entrepreneurial
(e.g. commercialize efficient technology, drive adoption),
and some of the ideas are oriented to consumers
(e.g. buy and use different things, live differently).
I am not an economist or a climate scientist. I have a Ph.D. in computer science,
with application to machine learning.
I would describe the climate and economic modelling methodology used in this site as ad-hoc,
but it's encoded in open-source software on github so it's at least open to both scrutiny and feedback.
I hope that over time, and through the process of sharing this work with others,
that the methodology can be brought in line with accepted best practice,
that the research can cover of all of Canada's IPCC sectors,
that the sets of ideas for reducing emissions in each sector grow to include sufficient good ones,
and that the analysis of promising ideas as "Strategies" starts to show a high-level picture,
in actionable terms for various stakeholder groups, of how Canada might achieve its net-zero emissions targets, with an economy that provides us with prosperity for generations to come.
And I hope that I can help make some of it happen.
</p>

<p>
- James Bergstra
</p>

<ul class="actions special">
    {% if prev_url_filename %}
    <li><a href="/blog/{{prev_url_filename}}" class="button">Previous</a></li>
    {% endif %}
    {% if next_url_filename %}
    <li><a href="/blog/{{next_url_filename}}" class="button">Next</a></li>
    {% endif %}
</ul>
</section>
</div>
{% include "post-main.html" %}
