{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
        <span class="date">{{blog.date.strftime("%b %d, %Y")}}</span>
        <h1>{% if not blog.published %}[DRAFT] {% endif %} {{blog.title}}</h1>
        <p>{{blog.about}}</p>
    </header>

<p>
Table of Contents:
<ul>
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#simulation">Simulation Framework</a>
        <ul>
            <li><a href="#timeseries">TimeSeries Objects</a></li>
            <li><a href="#dynelem">DynamicElement Objects</a></li>
    </li>
    <li><a href="#modelling">Scenario Modelling</a>
        <ul>
            <li><a href="#formalizing_csfs">Formalizing Critical Success Factors</a></li>
            <li><a href="#formalizing_barriers_strategies">Formalizing Barriers and Strategies</a></li>
            <li><a href="#scenario_simulation">Scenario Simulation</a></li>
        </ul>
    </li>
    <li><a href="#scaling">The Scaling Scenario, Starting with Bovaer</a>
        <ul>
            <li><a href="#enteric_csfs">Critical Success Factors and Strategies for Enteric Fermentation Emissions</a></li>
            <li><a href="#enteric_barriers">Barriers</a></li>
            <li><a href="#simulating_bovaer">Simulating Canada's Future with Bovaer</a></li>
        </ul>
    </li>
    <li><a href="#conclusion">Conclusion</a></li>
</ul>
</p>

<h2 id="introduction">Introduction</h2>

<p>
This post represents a break from the series replicating NIR sectoral totals.
It introduces <i>strategies</i> and <i>scenarios</i> as formal elements of the PlanZero
modelling framework, by way of first examples of Bovaer usage (as a strategy)
and scaling-of-current-products (as a scenario, aka "scaling").
The PlanZero site now includes top-level tabs for both types of entity:
<ul>
    <li><b><a href="/strategies/">Strategies</a></b> &mdash; code elements representing things that could be done</li>
    <li><b><a href="/scenarios/">Scenarios</a></b> &mdash; simulations of strategies, and their consequences</li>
</ul>
That said, PlanZero is just getting started.
For anyone that would like to see a more-developed pathways-to-net-zero tracker for Canada, check out <a href="https://dashboard.440megatonnes.ca/">440 Megatones Pathways Tracker</a>, and the research behind it. It's great work and I intend to replicate it to understand it better.
</p>

<p>
The post is organized as follows:
<ul>
    <li>The <a href="#simulation">Simulation Framework</a> section introduces how PlanZero simulates things
        like an enormous spreadsheet with time series objects (columns of numbers)
        and dynamic element objects (initialization and formulas).</li>
    <li>The <a href="#modelling">Scenario Modelling</a> section explains how the concepts of
        critical success factors, barriers, and strategies can be (a) formalized
        in terms of time series and dynamic elements, and (b) combined to form scenarios.</li>
    <li><a href="#scaling">The Scaling Scenario, Starting with Bovaer</a> section
        documents the dynamic elements of the new scaling scenario, including
        the strategy of scaling the usage of Bovaer (and its associated barriers).
    </li>
</ul>
</P
<p>
The post is maybe the most technical so far (or most theoretical?), but I hope it might offer a design introduction
to anyone interested in using this modelling framework.
I intend to follow up on this post with others that add strategies and fill out the scaling scenario;
with the technical foundation here, these future posts can be much shorter.
</p>


<h2 id="simulation">Simulation Framework</h2>
<p>
So far the posts have mostly been about trying to re-create data in the
National Greenhouse Gas Inventory Report from other data sources, which I was doing to get
started.
The vision for the PlanZero project is that it will <i>extend</i> those sectoral emissions into the future
with models that project how emissions might change in future.
This is the first post that does that kind of projection.
This section introduces the simulation engine used in PlanZero to run models
that work a bit like a large spreadsheet.
PlanZero's simulation framework involves two concepts:
<ul>
    <li>time series objects, which contain the data of time-varying quantities (such as e.g. temperature, or annual emissions)</li>
    <li>dynamic element objects, which implement rules for the evolution of time series data</li>
</ul>
The next two subsections explain each of these in more detail,
and the next section (Scenario Modelling) explains how these are used to define scenarios.
</p>

<h3 id="timeseries">Time Series Objects</h3>
<p>
A time series represents a time-varying quantity in some unit of measure.
PlanZero posts have used time series
objects already to represent just about everything that was plotted as a function of time,
e.g. both the various sectoral emissions of greenhouse gases in the NIR,
and the attempts to reconstruct them.
The key attributes of a time series are:
<ul>
    <li>a set of <i>what</i> numeric values the series takes</li>
    <li>a set of times marking <i>when</i> the series takes these values</li>
    <li>a unit of measure for the values</li>
    <li>an interpolation mode, indicating how to interpret the times and values.</li>
</ul>
A TimeSeries is a bit like two matched columns in a spreadsheet:
one column being the times, and the other being the values.
Relative to columns in a spreadsheet,
a time series object restricts all of its values to be in a single common unit of measure,
and imposes <i>querying semantics</i> on the TimeSeries according to the interpolation mode.
</p>
<p>
Time series are important in PlanZero because they are the basis of simulation.
PlanZero simulates scenarios by repeatedly figuring out what the next value in each time series should be.
The figuring-out of the next value is done by dynamic elements, which we'll talk about in the next sub-section.
</p>

<p>
Before we get to dynamic elements though - a brief defence for making a custom data type with units and an interpolation mode.
Unit conversion is a notorious source of error in systems that are difficult to test.
One recent high-profile example is the <a href="https://en.wikipedia.org/wiki/Mars_Climate_Orbiter">loss of the Mars Climate Orbiter in 1999</a>.
Time series objects in PlanZero are always in some unit of measure to try to avoid such errors,
and PlanZero has introduced additional units of measure (cattle, CAD, kg-of-CO2) to reduce the likelihood
of combining numbers inappropriately.
A second defence against modelling error is the use of an "interpolation mode" on time series.
There are currently two modes:
the value of the series at points in time that aren't explicitly represented is either (a) undefined,
or (b) defined to be the most-recent value.
Series with different modes can be combined, but bearing these semantics in mind has helped catch
modelling errors.
These mechanisms don't guarantee a model is good, but they do
help ensure that a simulation result reflects the intended modelling assumptions.
</p>


<h3 id="dynelem">Dynamic Element Objects</h3>

<p>
Whereas time series objects are tables of numbers like what you can see in spreadsheet columns,
PlanZero's dynamic element objects are more like the formulas that define spreadsheet cells.
Dynamic elements define how time series objects should be initialized,
and how they should be extended by iterative computation.
A dynamic element object is like a spreadsheet of a specific form:
<ul>
    <li>a single shared set of times runs down the first column</li>
    <li>each other column has the numeric values of a time series</li>
    <li>the initial rows (earlier times) are initialized using custom logic</li>
    <li>the subsequent rows (later times) are computed recursively, each row from previous ones, always re-applying the same formula</li>
</ul>
The dynamic elements that define a scenario can read each others' columns, but they can only write their own columns.
</p>
<p>
Dynamic elements are important to know about, because they encode the modelling assumptions
that make up a PlanZero scenario.
PlanZero simulation engine simulates a scenario by using the dynamic elements in a scenario
to update the rows of the various time series in chronological order, and in order of dependency when there are ties in the chronological ordering.
The next section explains how critical success factors, barriers, strategies, and scenarios
can be formalized as time series and dynamic elements.
</p>

<h2 id="modelling">Scenario Modelling</h2>

<p>The purpose of PlanZero is to model future scenarios,
and to explore strategies for how Canada might achieve a net-zero economy.
I think of this modelling as being a combination of
strategic management and numerical optimization.
<a href="https://en.wikipedia.org/wiki/Strategic_management">Strategic management</a>, to quote wikipedia,
"involves the formulation and implementation of the major goals and initiatives taken by an organization's managers on behalf of stakeholders, based on consideration of resources and an assessment of the internal and external environments in which the organization operates."
If we consider Canada as an organization, the federal government has,
among it's many goals and initiatives, set a goal to achieve net-zero by 2050 (<a href="/blog/2026-02-02-cnzeaa">earlier post</a>, <a href="https://www.canada.ca/en/services/environment/weather/climatechange/climate-plan/net-zero-emissions-2050.html">government site</a>).
As explained in the following sections,
a framework used in strategic management helps formalize this goal in terms of a few types of time series and dynamic element,
and numeric optimization can be used to search over strategies for desirable predicted futures.
I hope that invoking the terminology of goals, critical success factors, barriers, and strategies helps to make the modelling more accessible and engaging, and thereby solicits a greater quantity of constructive feedback.
</p>
<p>
The word "goal" has a common-sense definition, but in the context of governmental planning and legislation,
it is also appropriate to consider the term within the realm of strategic management.
Strategic management does not offer a single definition of what a goal is, 
or a canonical articulation of what good management looks like.
I have an extremely limited knowledge of that field,
but for what it's worth, the planning process of the federal government brings to my mind the framework articulated in
"<a href="https://www.amazon.ca/Executive-Guide-Facilitating-Strategy/dp/0972245812">The
    Executive's Guide to Facilitating Strategy</a>" by Michael Wilkinson (which I'll refer to as EGFS).
In the terminology of the EGFS, an organization's SMART goals (Specific, Measurable, Achievable, Relevant, and Time-bound)
should be broken down systematically during an implementation planning process.
The goal of net-zero by 2050 is questionably "Achievable" but otherwise qualifies as a SMART goal.
EGFS suggests breaking down such a goal into three sets of considerations and hypotheses, before developing detailed implementation plans for specific strategies:
<ul>
    <li><strong>Critical Success Factors</strong> are key conditions that must be created to achieve one or more objectives.</li>
    <li><strong>Barriers</strong> are existing or potential challenges that hinder the achievement of one or more objectives. </li>
    <li><strong>Strategies</strong> are broad activities required to achieve a goal, create a critical condition, or overcome a barrier.</li>
</ul>
PlanZero posts focused on replicating NIR emissions estimates (such as <a href="/blog/2026-03-31-enteric">"Enteric Fermentation: Emissions Calculations"</a>) have included sections with these names,
and informal thoughts aligned with these definitions.
The scenario modelling introduced in this post involves formalizing these notions
as code objects that can be simulated and compared numerically to determine if, e.g.
a particular strategy is a good idea.
</p>
<p>
The next subsections explain how the EGFS concepts of critical success factor, barrier, and strategy
can be formalized in terms of time series and dynamic elements,
and used in that way to structure and interpret scenario simulations for the purpose of evaluating strategies.
</p>

<h3 id="formalizing_csfs">Formalizing Critical Success Factors</h3>

<p>
Critical success factors are introduced in EGFS as "key conditions that must be created to achieve one or more objectives."
In PlanZero, the objective is, for each IPCC sector, to reduce emissions as much as possible, even producing negative emissions when that's possible.
Therefore PlanZero's success factors can be defined for each IPCC sector to reflect the numeric drivers of emissions in that sector.
For example, in the case of enteric fermentation, the emissions calculation (see this <a href="">earlier post approximating the enteric fermentation emissions</a>)
could be articulated as the product of two terms (ignoring ruminants other than cattle): number of cattle, and average methane emitted per head of cattle.
These two terms suggest two critical success factors:
<ul>
    <li>Minimize the number of cattle.</li>
    <li>Minimize the average amount of methane emitted per head of cattle.</li>
</ul>
Minimizing either or both of these terms would, mathematically, reduce enteric fermentation emissions.
Without minimizing one or the other, enteric fermentation emissions will not be reduced.
Therefore, it's fair to say these are two "key conditions that must be created to achieve one or more objectives" of emissions reduction in this sector.
</p>

<p>
The two metrics mentioned in the critical success factors (number of cattle, and average amount of methane emitted) are also
time series in PlanZero, because that's how I computed the NIR estimate for that sector.
This has, in fact, been my motive in replicating the NIR estimates.
I think the EGFS framework is useful, and I wanted to find critical success factors for each of the sectors.
I believe these, at least in the context of PlanZero, can be formalized in terms of a triplet
of (a) a sector, (b) an optimal value, and (c) a TimeSeries object, which can be called a
<a href="https://en.wikipedia.org/wiki/Performance_indicator">Key Performance Indicators</a> or KPI.
This triplet of information is attached, in PlanZero, to special dynamic elements which carry the following information pertaining to a set of critical success factors:
<ul>
    <li>the names of the KPI time series variables</li>
    <li>whether each one should ideally be maximized, minimized, or maintained at a specific value</li>
    <li>which IPCC sector(s) are affected by the critical success factors</li>
</ul>
Scenarios will be discussed below, but the critical success factors identified by these dynamic
elements serve as default indicators to characterize each IPCC sector when
visualizing scenario simulations.
</p>

<h3 id="formalizing_barriers_strategies">Formalizing Barriers and Strategies</h3>

<p>
Barriers are introduced in EGFS as "existing or potential challenges that hinder the achievement of one or more objectives"
and strategies as "broad activities required to achieve a goal, create a critical condition, or overcome a barrier."
In PlanZero, these two concepts are formalized hand-in-hand:
EGFS strategies are formalized as relatively simple dynamic elements that reflect an
approach, such as "feed as many cattle Bovaer as possible";
and EGFS barriers are formalized as all of the dynamic elements required to model
the effect of such a strategy on critical success factors,
such as "how many cattle can be fed Bovaer", "what would it cost", and "how much good would it do?"
</p>
<p>
With both barriers and strategies being formalized as dynamic elements
that are moreover developed "hand-in-hand", it's worth clarifying in terms of dynamic elements
where one ends and the other begins.
For greater clarity, a PlanZero Strategy should be an optional dynamic element that
puts a trajectory in motion, and can be omitted to mean "not doing it".
Omitting a strategy should not compromise the validity of a scenario simulation.
In contrast, PlanZero barriers implement logic that is integral to the validity of the scenario;
with regards to enteric fermentation for example,
cattle produce methane at certain rates (which depend on e.g. Bovaer consumption)
regardless of whether any cattle are fed Bovaer.
The logic and assumptions that PlanZero uses to estimate methane emissions from cattle
is implemented in a dynamic element, and that dynamic element is a barrier.
This logic should always be included in simulation in order to estimate emissions for the sector.
</p>
<P>
Barrier dynamic elements model
<ul>
    <li>how fast strategies will take effect</li>
    <li>what costs / profits are expected</li>
    <li>what will happen in the meantime before / as they work</li>
</ul>
Strategy dynamic elements model
<ul>
    <li>when a strategy should start</li>
    <li>how to use investment (if applicable)</li>
</ul>
Barrier objects in PlanZero have the job of predicting the future.
I hope, over time, to build up and refine the library of barriers in PlanZero,
because I believe that this library will become the most valuable component of the project.
Strategy objects are meant to reflect policy changes or product / project development efforts that could be undertaken;
my vision is, at some point, to apply numerical optimization algorithms to tune the timing and degree of investment in strategies, but for now they are simply included all-or-nothing.
</p>


<h3 id="scenario_simulation">Scenario Simulation</h3>

<p>
Scenarios have been mentioned several times in this post already, but
this subsection explains what I've meant in more detail.
In the terms of the previous section (<a href="#simulation">Simulation Framework</a>)
a PlanZero scenario is a set of dynamic elements, and the time series objects they define.
In the terms of this section (<a href="#modelling">Scenario Modelling</a>)
a PlanZero scenario is a set of critical success factors, barriers, and strategy elements, as well as
a few built-in dynamic elements that, together, are capable of simulating
the evolution of the emissions sectors used in Canada's 2025 NIR.
The built-in dynamic elements are capable of simulating future emissions even without
any critical success factor, barrier, or strategy elements:
<ul>
    <li><strong>Other NIR Historic Actuals</strong> defines time series objects for IPCC-sector emissions that haven't been modelled by other dynamic elements.
        It initializes them with values from the NIR, and projects that they remain constant in the future.</li>
    <li><strong>Atmospheric Chemistry</strong> combines sectoral GHG emissions into sectoral and national {{CO2e|safe}} totals, and simulates the effect on a simple planetary heat model.</li>
    <li><strong>Subsidy Accounting</strong> totals any subsidy requirements across barriers. At some point this may include estimated impacts in e.g. healthcare, insurance, climate mitigation projects, and disaster relief; currently it does not.</li>
</ul>
Scenario simulation is probably best illustrated by example.
Without further ado, let's continue to the next section, which describes PlanZero's first scenario:
a simulation of possible futures with and without scaling the use of the bovine feed additive Bovaer.
</p>

<h2 id="scaling">The Scaling Scenario, Starting with Bovaer</h2>

<p>
Bovaer a brand name for a novel feed additive for cattle and sheep, also known as <a href="https://en.wikipedia.org/wiki/3-Nitrooxypropanol">3-Nitrooxypropanol, also known as 3-NOP</a>.
It is a synthetic organic compound that, when added to ruminant livestock feed in the correct manner,
has the effect of inhibiting methane production in their first stomach.
Bovaer is <a href="https://www.dsm-firmenich.com/anh/news/press-releases/2024/2024-01-31-canada-approves-bovaer-as-first-feed-ingredient-to-reduce-methane-emissions-from-cattle.html">approved for use in Canada</a>.
This section explains how PlanZero can simulate aspects of Canada's future to
estimate the consequences of using Bovaer, and of not using it.
This post does not establish a position on the question of whether Canada should fund Bovaer
for a number of reasons, foremost among them being that Bovaer is the only strategy in the model
(and running a close second would be that the scenario makes no attempt to model government decision-making).
What the post does do,
is estimate that Bovaer costs about $175/t{{CO2e|safe}} according
to the modelling assumptions in the barriers below.
</p>

<p> This section is organized as follows:
<ul>
    <li>Critical success factors and strategies for enteric fermentation emissions</li>
    <li>Barriers</li>
    <li>Simulating bovaer uptake</li>
    <li>The scaling scenario</li>
</ul>
</p>

<h3 id="#enteric_csfs">Critical Success Factors and Strategies for Enteric Fermentation Emissions</h3>

<p>
We've already seen the currently-modelled critical success factors and strategies for enteric fermentation
in the examples given above.
As of writing they are code objects, and rendered automatically as part of the
new scaling scenario page:
<a href="/scenarios/scaling/#csfs">critical success factors</a>,
<a href="/scenarios/scaling/#strategies">strategies</a>.
Reproducing them here, as that page is expected to change in future:
</p>
<h4>Strategies</h4>
<table>
    <thead>
        <tr><th>Sector</th><th>Strategy</th><th>Description</th></tr>
    </thead>
    <tbody>

        <tr><td>Enteric Fermentation, Other Product Manufacture and Use</td>
            <td><a href="/scenarios/scaling/strategies/ScaleBovaer/">ScaleBovaer</a></td>
            <td>Use as much Bovaer as farmers will take</td></tr>

    </tbody>
</table>


<h4>Critical Success Factors</h4>
<table>
    <thead>
        <tr><th>Sector</th><th>Maximize / Minimize / Maintain</th><th>TimeSeries KPI</th></tr>
    </thead>
    <tbody>


        <tr><td>Enteric Fermentation</td>
            <td>Minimize</td>
            <td>bovine_methane_per_head</td></tr>

        <tr><td>Enteric Fermentation</td>
            <td>Minimize</td>
            <td>bovine_headcount</td></tr>


    </tbody>
</table>

<p>
The strategy of using as much Bovaer as farmers are prepared to take is called "ScaleBovaer"
and it is defined, as of writing, by its <a href="https://github.com/jaberg/planzero/blob/1f424d7824c8038e2f5952a61928c74889003482/planzero/strategies/strategy2.py#L57">Python language implementation</a> to work by
setting elements of the time series called "bovine_population_fraction_on_bovaer" to equal
those of another time series called "max_fraction_of_cattle_on_bovaer".
The KPIs for enteric fermentation emission reduction are called "bovine_headcount"
and "bovine_methane_per_head".
These time series are related by the barrier elements described in the next section.
</p>

<h3 id="#enteric_barriers">Barriers</h3>

<p>
We've seen some of the currently-modelled barriers for enteric fermentation emissions
in the examples given above, but not all of them.
As of writing, the following are code objects, and rendered automatically
in the <a href="/scenarios/scaling/#barriers">Barriers</a> section of the new scaling scenario page.
Reproducing them here (as that page is expected to change in future):
</p>

<h4 id="barriers">Barriers</h4>
<table>
    <thead>
        <tr><th>Sector</th><th>Barrier</th><th>Description</th></tr>
    </thead>
    <tbody>

        <tr><td>Enteric Fermentation</td>
            <td>BovaerAdoptionLimit</td>
            <td>Assume Bovaer will only be adopted by, at most, 5.0 percent / year of cattle operations</td>
        </tr>
        <tr><td>Enteric Fermentation, Other Product Manufacture and Use</td>
            <td>BovinePopulation</td>
            <td>Model cattle population, production of methane (considering Bovaer), milk and beef (TODO)</td>
        </tr>
        <tr><td>Enteric Fermentation</td>
            <td>BovaerMonitoring</td>
            <td>Assume monitoring Bovaer usage costs 1000.0 CAD / farm / year for paperwork and 3000.0 CAD / farm / year for on-site inspection</td>
        </tr>
    </tbody>
</table>

<p>
The "BovaerAdoptionLimit" barrier defines the "max_fraction_of_cattle_on_bovaer" time series
by implementing an assumption that whenever Bovaer starts being completely subsidized by e.g. the government,
that farmers might adopt its usage at a rate of at most 5% of all farmers per year.
Further, it assumes that organic farmers (estimated to be 1% of farmers) will never adopt Bovaer,
because Bovaer is incompatible with the production of organic milk and beef.
The details of the Python implementation as of writing are available on <a href="https://github.com/jaberg/planzero/blob/1f424d7824c8038e2f5952a61928c74889003482/planzero/barriers.py#L28">github</a>.
</p>
<p>
The "BovinePopulation" barrier defines a large number of time series: all of the cattle headcounts per cattle type (calves, beef vs. dairy vs. slaughter heifers, beef vs. dairy cows, bulls),
per province and territory, and per whether they are on Bovaer or not.
It estimates the methane produced by each of these sub-populations of cattle, and adds them up to get a total.
Cattle on Bovaer are modelled as producing 30% less if they are dairy cows, 45% less if they are beef cows,
and similar numbers that I guessed if they are other kinds of cattle (I could not find data).
It also estimates the cost of the Bovaer required &mdash; from $0.20/day for calves to $0.50/day for adults &mdash; and registers this cost as requiring a subsidy.
It also estimates the {{CO2e|safe}} required to produce Bovaer;
I couldn't find a reference for this number, but I'm guessing it is about 5% of the greenhouse gas reduction delivered by the Bovaer usage.
The {{CO2e|safe}} is attributed to the IPCC Sector "Industrial / Other Product Manufacture and Use" as {{CO2|safe}} until I have a better model of how Bovaer is produced.
The details of the Python implementation as of writing are available on <a href="https://github.com/jaberg/planzero/blob/1f424d7824c8038e2f5952a61928c74889003482/planzero/barriers.py#L135">github</a>.
</p>
<p>
The "BovaerMonitoring" barrier defines a single time series called "bovaer_monitoring_cost_annual" that is registered as requiring a subsidy.
The subsidy amount is calculated based on guesses of $1000 / farm /year for administrative overhead,
and $3000 / farm / year for onsite inspection.
Confidence intervals are not yet supported in PlanZero, but if they were, I would use large ones around these figures as I did not find references
(<a href="https://github.com/jaberg/planzero/issues/52">github issue here</a>).
This barrier uses a rough estimate of 160 cattle / farm on average, rather than the
<a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210015101">actual farm data available from Statistics Canada</a> which has hovered around 160 in recent years.
The details of the Python implementation as of writing are available on <a href="https://github.com/jaberg/planzero/blob/1f424d7824c8038e2f5952a61928c74889003482/planzero/barriers.py#L359">github</a>.
</p>


<h3 id="simulating_bovaer">Simulating Canada's Future with Bovaer Usage</h3>
<p>
The combination of all of the critical success factors, barriers, and strategies is a set of
<! TODO: the CSF defined above is clearly the tuple per timeseries, not the dynamic element -- restrict CSF to have a single metric? -->
8 dynamic elements (3 built-in, 1 critical success factor, 1 strategy, and 3 barriers), and 1267 time series objects
(the ones named above, plus many others, such as emissions of each GHG for each province and territory, for each of 71 IPCC sectors,
and per-province per-cattle-type headcounts).
The whole set is listed on the
<a href="/scenarios/scaling/">scaling scenario</a> page
(see sections on <a href="/scenarios/scaling/#dynelem">dynamic elements</a> and 
<a href="/scenarios/scaling/#timeseries">time series</a>), although the set of elements listed there will grow as more barriers and strategies are added in future.
Running this simulation for 100 years lets us visualize a future trajectory of emissions
according to the IPCC sectors currently used in the NIR.
</p>
{{ planzero.sim.sim_scenario("scaling").by_ipcc_sector.as_html()|safe }}
<p>
For most sectors, the figure shows historical actuals until 2023, followed by constant projections
as expected when using the "Other NIR Historic Actuals" dynamic element.
For the <a href="/scenarios/scaling/ipcc-sectors/Enteric_Fermentation/">"Enteric Fermentation" sector (scaling scenario)</a>, we see a steady reduction in emissions as
our simulated farmers adopt Bovaer at 5% / year.
At the same time, we see a steady rise in emissions in the <a href="/scenarios/scaling/ipcc-sectors/Other_Product_Manufacture_and_Use/">"Other Product Manufacture and Use"</a> sector.
After all eligible farms have adopted Bovaer annual emissions are reduced by 9.5 Mt {{CO2e|safe}}.
The magnitude of subsidy required is shown in dark red, and plotted against the right vertical axis, in billions of dollars.
As farmers adopt Bovaer it rises to a total just over 1.6 billion dollars per year.
Since Bovaer usage and cost is proportional and synchronous, the cost of emissions reduction from
using Bovaer can be computed directly by dividing these two numbers: 1.6 billion dollars / 9.5 Mt {{CO2e|safe}} equates to $175.36 / t{{CO2e|safe}}.
Ablative analysis (looking at the results by comparing with the removal of each strategy one at a time)
is available for the <a href="/scenarios/scaling/strategies/ScaleBovaer/">ScaleBovaer</a>.
</p>

<h2 id="conclusion">Conclusion</h2>

<p>
This post has introduced PlanZero's simulation framework in terms of computational elements (time series and dynamic elements)
and in terms of strategic management concepts (critical success factors, barriers, strategies, scenarios).
The post brings two new tabs to the top of the PlanZero website:
<a href="/strategies/">strategies</a> lists the strategies implemented in PlanZero, which scenarios include them, and which IPCC Sectors they impact;
<a href="/scenarios/">scenarios</a> lists the scenarios that are implemented in the software.
Currently, there is just one strategy (ScaleBovaer) and one scenario (scaling) but it is my intention
to add more.
I would like to get into a cadence of alternating between NIR-sector posts and
scaling-strategy posts.
I imagine, over time, that PlanZero may grow to include a small number of standard scenarios
(perhaps "do nothing", "no-subsidies", "what about counting on a few speculative technologies...")
but I'd concede I'm a bit hazy on how scenarios will be used, so I won't worry about it yet.
More urgently than scenarios, PlanZero needs strategies (and associated critical success factors and barriers), starting with products and technologies that are closest to mass adoption.
For anyone that would like to see a more-developed pathways-to-net-zero tracker for Canada, check out <a href="https://dashboard.440megatonnes.ca/">440 Megatones Pathways Tracker</a>, and the research behind it. It's great work and I intend to replicate it to understand it better (<a href="https://github.com/jaberg/planzero/issues/60">github issue</a>).
The next strategy posts, in no particular order, should probably cover at least some of the following (the links in the list are to github issues reminding me to implement them):
<ul>
    <li><a href="https://github.com/jaberg/planzero/issues/53">Solar</a>,
        <a href="https://github.com/jaberg/planzero/issues/54">wind</a>,
        <a href="https://github.com/jaberg/planzero/issues/55">tidal</a>,
        and/or <a href="https://github.com/jaberg/planzero/issues/56">nuclear energy</a>
        for grid-scale power generation</li>
    <li> <a href="https://github.com/jaberg/planzero/issues/57">EVs for light-duty vehicles</a></li>
    <li>Heat Pumps for <a href="https://github.com/jaberg/planzero/issues/58">residential</a> and
        <a href="https://github.com/jaberg/planzero/issues/59">commercial/institutional</a> heating
    </li>
</ul>
</p>
<p>
Until next time,
</p>
<p>
- James Bergstra
</p>


</section>
</div>
{% include "post-main.html" %}
