{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
		<span class="date">Jan 6, 2026</span>
        <h1>Contributing (even for myself)</h1>
        <p>Coming back from the winter break, I thought I'd write about how I myself should contribute to this site; partly to get back in gear, and partly to encourage collaboration. Four things come to mind: sectoral emissions research, ideation, modelling, and communication/engagement.
        </p>
    </header>

<p>
After the winter break, I somewhat forgot what I was doing.
It was a good break! But to get back in gear,
I took a few minutes to write down explicitly what it is that I think I'm doing with this site, this project.
I wrote it as the <a href="https://github.com/jaberg/planzero/blob/main/README.md">root README</a> on the github project, and
I thought I'd also include it here.
Full disclosure: I would like to structure a bit of a deal with a not-for-profit I'm working with (<a href="https://www.opt2refuture.org">Opt2Refuture</a>) in which they provide some research to this project, and I help them use PlanZero as content for the digital immersive experience they're working toward.
If a collaboration with them emerges, fantastic, but either way, I'll continue to seek collaboration elsewhere as well.
</p>

<p>
I think there are four ways to contribute to this project:
<ol>
    <li><a href="#research"><b>Research</b></a> into how the <i>public problem</i> of sectoral emissions translates to <i>private problems</i> of decision-making stakeholders,</li>
    <li><a href="#ideation"><b>Ideation</b></a> of things those stakeholders could do differently,</li>
    <li><a href="#modelling"><b>Modelling</b></a> of what the impact of implementing those ideas might be, and</li>
    <li><a href="#engagement"><b>Engagement</b></a> with folks to make the best ideas happen.</li>
</ol>
</p>

<h2 id="research">Research how the public problems of sectoral emissions relate to private problems</h2>

<p>
The highest-level work in this site is basic social-science research into how the public problems of sectoral emissions
relate to the private problems faced by stakeholders such as e.g. individuals and businesses.
My hope is this site accumulates and maintains up-to-date assessments for all seventy-one IPCC sectors, as of writing there are probably about sixty-five still to go.
</p>

<p>
To contribute this sort of research,
pick an IPCC sector from <a href="/ipcc-sectors/">here</a> that doesn't have analysis yet.
Click its curve on the stacked area chart, to trigger a page lookup.
I just did it and I see the url is
<code>https://www.planzero.ca/ipcc-sectors/Stationary_Combustion_Sources/Commercial_and_Institutional/</code>.
If I pull out the end part of the url without including the trailing slash,
it's a category name that I've called a "catpath" (mnemonic: for CAT-egory PATH) in the source code, and it's
where you should put the analysis page for this IPCC sector within the git source tree:
<code>html/ipcc-sectors/<catpath>.html</code> so e.g. <code>html/ipcc-sectors/Stationary_Combustion_Sources/Commercial_and_Institutional.html</code>.
Make that page (probably starting from another research page by copying it), and fill it with the results of your research.
</p>

<p>
The <b>definition-of-done</b> for such a page is that it breaks down the sources or
drivers of sectoral emissions in such a way as to turn it from a **public problem into
private problems**. The public problem is always the same: too much sectoral
emissions. The private problems are always different: the work is to identify
relevant stakeholders, the decisions they make, the interactions they have with one
another, the size of the stakeholder populations and so on, with enough granularity to do two things:
<ul>
    <li>Go and talk to these stakeholders to confirm that they do indeed make such
   decisions and have such interactions</li>
    <li>Come up with ideas for emission reduction that resonate with these
        stakeholders</li>
</ul>
</p>


<h2 id="ideation">Contribute ideas for emissions reduction</h2>

<p>
For IPCC-Sectors with research, it's possible to proceed with the next kind of contribution, which is the ideation of Things That Could Be Done. There are many!
You can think of some yourself and/or find suggestions from others.
More come up every day as
technology possibilities continue to evolve.
</p>

<p>
Have a read through any of the <a href="/ipcc-sectors/">IPCC Sectors</a>) that have analysis (scroll down to the table, and sort by "Have Analysis")
and think about what might be done to reduce those emissions.
As this is managed as a software project, submit ideas in one of two ways:
<ul>
    <li><a href="(https://github.com/jaberg/planzero/issues?q=state%3Aopen%20label%3A%22Emission%20Reduction%20Idea%22)">Github Issue</a> tagged as "Emissions Reduction Idea"</li>
    <li>Code change as an idea in the e.g. <code>planzero/strategies/ideas.py</code> file. See that file for examples.</li>
</ul>
</p>

<p>
The <b>definition-of-done</b> for these ideas is that their cost or financial
feasibility and environmental impact can be modelled reasonably.
The modelling itself is the next step. This definition of done is vague, but
if no one can see how to model an idea, then it needs more work.
</p>

<h2 id="modelling">Model a strategy for addressing emissions</h2>

<p>
Pick an idea for emissions reduction, and modify the Python simulation
implemented in the `planzero` directory to be able to run with and without
a `Project` that implements the strategy in terms of simulation variables.
</p>


<p>
The <b>definition-of-done</b> for a strategy model is that leverages the best
available information and serves to support
a decision about whether to implement that strategy. Does it convince
a company to start an internal project, a project developer to invest time and
effort, an entrepreneur to start a business, a customer to buy differently,
a policy-maker to draft new policy?
If not, why is it not effective and what might make the model more compelling?
</p>

<h2 id="engagement">Engagement: change the course of things reduce emissions</h2>

<p>
The types of contribution above are about funneling information and feedback
<i>into</i> the model, but the purpose of the model is to focus emission reduction
efforts <i>out in the world</i>. For yourself: start a business, change your business, buy differently,
live differently, etc. Beyond yourself: use this model in your own work, tell
others about it. And if there are changes to this project that would make it
more useful or useable, let us know! (via e.g. <a href="https://github.com/jaberg/planzero/issues/new">github issue</a> to start).
</p>

<p>
The <b>definition-of-done</b> for engagement is that a strategy model is
implemented as a real life project, and reduces emissions.
</p>

<p>
Looking forward to collaboration with like-minded folks at some point!
</p>


<p>
- James Bergstra
</p>

</section>
</div>
{% include "post-main.html" %}
