{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
        <span class="date">{{blog.date.strftime("%b %d, %Y")}}</span>
        <h1>{% if blog.draft or not blog.published %}[DRAFT] {% endif %} {{blog.title}}</h1>
        <p>{{blog.about}}</p>
    </header>

<p>
Table of Contents:
<ul>
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#enteric-fermentation">Recall Emissions Calculation for Enteric Fermentation</a></li>
    <li><a href="#model">A Model of Bovaer Adoption</a></li>
    <li><a href="#simulation">Simulating the Model</a></li>
    <li><a href="#conclusion">Conclusion</a></li>
</ul>
</p>

<h2 id="introduction">Introduction</h2>

<p>
This post represents a break from the series replicating 2025 National
Inventory Report sectoral totals, to do some relatively simple modelling, of
what the impact might be
if beef and dairy farmers were to gradually transition to administering Bovaer.
Bovaer is a brand name for a feed additive for cattle and sheep, also known as
<a href="https://en.wikipedia.org/wiki/3-Nitrooxypropanol">3-Nitrooxypropanol,
    also known as 3-NOP</a>.
It is a synthetic organic compound that, when added to ruminant livestock feed
in the correct manner,
has the effect of inhibiting methane production in their first stomach.
Bovaer is <a href="https://www.dsm-firmenich.com/anh/news/press-releases/2024/2024-01-31-canada-approves-bovaer-as-first-feed-ingredient-to-reduce-methane-emissions-from-cattle.html">approved for use in Canada</a>.
The modelling presented in this post codifies assumptions about what Bovaer does,
how much it costs, which kinds of cattle would consume it,
how long it would take farmers to adopt it (and how many might might never adopt it),
how much it might cost to verify that farmers are administering it
correctly, and what fraction of purchased Bovaer is actually making it
into cattle as intended.
The results of the modelling are now visible as part of a
"<a href="/simulations/Scaling">Scaling</a>" simulation,
looking at the "<a href="/simulations/Scaling/strategies/Scale_Bovaer/">Scale Bovaer</a>" strategy.
</p>

<p>
This post does not establish a position on the question of whether Canada
should fund Bovaer.
There are a number of reasons for not leaping to conclusions, foremost among them being
(1) that Bovaer is the only strategy implemented in the PlanZero model at this
time so there's no less-expensive or more-expensive alternatives with which to compare,
and
(2) that anyway the model makes no attempt to anticipate government decision-making.
What the post does do,
is calculate that Bovaer usage represents a strategy that costs about $222/t{{CO2e|safe}} according
to the modelling assumptions below.
</p>

<p>The post is organized as follows:
<ul>
    <li><a href="#enteric-fermentation">Recall how the Enteric Fermentation Calculation Works</a>:
        what factors drive enteric fermentation emissions,
        and how does the strategy aim to help?</li>
    <li><a href="#model">A Model Bovaer Adoption</a>:
        what intermediate things relate our strategy
        to the critical success factors?</li>
    <li><a href="#simulation">Simulating the Model</a>:
        when we simulate a model with these assumptions, what happens?</li>
    <li><a href="#conclusion">Conclusion</a>: what can we conclude from this simulation,
    and what's next for PlanZero?</li>
</ul>
</p>


<h2 id="csfs">Enteric Fermentation Emissions Key Performance Indicators</h2>

<p>
Recall from this
<a href="/blog/2026-03-31-enteric">earlier
    post approximating the enteric fermentation emissions</a>,
that the {{siteref("NIR", "NIR-2025")|safe}} enteric fermentation emissions were well approximated by a sum
over
(a) provinces and territories and
(b) cattle types (dairy cows, beef cows, dairy heifers, beef heifers, slaughter heifers, steers, bulls, calves),
of an emissions contribution;
in which the emissions contribution was itself calculated as the product of
how many heads of each type of cattle there were (of that type, and in that region), and how much methane
each type of cattle emitted per year (called an {{siteref("Emission Factor", "emission factor")|safe}}).
These quantities are the {{siteref("Key Performance Indicator", "Key Performance Indicators (KPIs)")|safe}} related
to Enteric Fermentation in PlanZero.
</p>

<p>
The next section explains a hypothetical Bovaer adoption process that
affects these KPIs and lowers emissions.
</p>

<h2 id="#model">A Model of Bovaer Adoption</h2>
<p>
This post imagines how Bovaer adoption might occur in Canada.
Bovaer is approved for use in Canada, but there is not yet widespread adoption.
Bovaer costs money after all, and it can presumably be harmful if administered
improperly (e.g. too much at once) and it confers no economic benefit to farmers.
This post supposes that some unspecified balance of federal
and provincial governments decide to drive Bovaer adoption with subsidies.
</p>
<p>
The PlanZero model of this adoption process works technically by re-defining
some of the KPIs of Enteric Fermentation.
Not the number of cattle &mdash; Bovaer is considered safe and the subsidy is
not expected to be so large that it drives a significant number of farmers
into or out of the farming business.
But the emission factors regarding the rate of methane emission per head are
redefined as falling to some degree,
proportional to published methane reduction rates from the manufacturer
(i.e. 30% for dairy cows, and 45% for beef cows, <a
href="https://www.dsm-firmenich.com/anh/products-and-services/products/methane-inhibitors/bovaer.html">link</a>).
The constant of proportionality is
a new time series introduced for this model, which is a single
time-varying number for the whole of Canada: the fraction of cattle
on Bovaer.
</p>

<p>
The fraction of cattle on Bovaer starts at zero, and is modelled as
either remaining constant, or increasing by some amount up to 5% of farmers per year.
I chose this number as providing a rate of change
on a similar time scale to equipment turnover.
I imagined I was modelling the effect of a hypothetical farm subsidy program
that paid farmers to administer Bovaer.
It allows for a transition to nearly 100% Bovaer usage between 2030 and 2050.
As the fraction of cattle on Bovaer starts at zero, and rises nearly to 100%
over time, it drives several effects:
<ul>
    <li>methane emissions from dairy cows drop by 30%, as per <a href="https://www.dsm-firmenich.com/anh/products-and-services/products/methane-inhibitors/bovaer.html">manufacturer claim</a></li>
    <li>methane emissions from beef cows drop by 45%, as per <a href="https://www.dsm-firmenich.com/anh/products-and-services/products/methane-inhibitors/bovaer.html">manufacturer claim</a></li>
    <li>methane emissions from other cattle drop by 40% (I guessed this number)</li>
    <li>carbon emissions rise by 45 kg {{CO2e|safe}}/head/year to account for
        the production of Bovaer (I guessed this number)</li>
    <li>subsidy payments to farmers rise to an average of $5000/farm/year (I chose this number for a hypothetical subsidy program)</li>
    <li>on-site monitoring costs rise to an average of $3000/farm/year (I chose this number)</li>
    <li>offsite-site monitoring costs rise to an average of $1000/farm/year (I chose this number)</li>
    <li>Bovaer purchase costs rise to an average of $182/head/year for adult cattle,
        $127/head/year for steers and heifers, and $73/head/year for calves
        (based on estimates from <a href="https://www.producer.com/livestock/new-methane-feed-additive-pleases-producers/">this article on producer.com</a>)</li>
</ul>
The fraction of cattle on Bovaer only rises to 99% instead of 100% to account
for the fraction of farms that produce organic milk and dairy. That fraction is
currently about 1%, and organic certification does not permit Bovaer usage.
The model assumes a constant 160 cattle / farm on average, rather than the
<a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210015101">actual farm data available from Statistics Canada</a> which has hovered around 160 in recent years.
The production capacity of Bovaer is not modelled; it is assumed that sufficient production
could be ramped up over this period of time to meet demand at the prices in the model.
The model also doesn't model any change to the insurance landscape for farmers,
although there may be some cost there as well that would add cost to the program.
</p>



<h2 id="simulation">Simulating the Model</h2>
<p>
The PlanZero software can simulate this model, and roll out the year-by-year consequences
of the modelling assumptions above.
Note that the model implicitly assumes that it is complete,
and that nothing else changes in the National Greenhouse Gas Inventory
after 2026 except the gradual adoption of Bovaer.
Assuming farmers actually go for the $5000/year deal they're offered,
the following figure  is what the inventory would look like out to 2050 and
beyond.
</p>

{% include "blog/2026-04-03-bovaer_by-ipcc-sector.html" %}

<p>
For most sectors, the figure shows historical actuals until 2023,
followed by constant projections.
For the <a
    href="/simulations/Scaling/ipcc-sectors/Enteric_Fermentation/">"Enteric
    Fermentation" sector (scaling scenario)</a>, we see a steady reduction in
emissions as
our simulated farmers adopt Bovaer at 5% / year.
At the same time, we see a steady (although smaller) rise in emissions in the <a
    href="/simulations/Scaling/ipcc-sectors/Other_Product_Manufacture_and_Use/">"Other
    Product Manufacture and Use"</a> sector.
After all eligible farms have adopted Bovaer, annual emissions are reduced by
9.5 Mt {{CO2e|safe}}.
The magnitude of subsidy required is shown in dark red, and plotted against
the right vertical axis in billions of dollars.
As farmers adopt Bovaer it rises to a total of about 2.1 billion dollars per
year.
Since Bovaer usage and cost is proportional and synchronous, the cost of emissions reduction from
using Bovaer can be computed directly by dividing these two numbers: 2.1 billion dollars / 9.5 Mt {{CO2e|safe}} equates to $222.94 / t{{CO2e|safe}}.
</p>
<p>
The impact of the strategy on the overall national picture is
significant, but still relatively small (about 1.3%).
Ablative analysis (looking at the results with and without the strategy)
can visualize the effects of a single strategy more clearly.
The following two strategy-specific figures plot the impact on emissions, and required subsidies.
</p>

{% include "blog/2026-04-03-bovaer_strategy-emissions.html" %}
<p>
In this first strategy-specific figure, the difference between the scenarios
with and without Bovaer adoption is shown in terms of emissions. Two IPCC sectors
are affected: "Enteric Emissions" and "Industrial / Other Product Manufacture and Use".
Enteric emissions are reduced by a little over 10 Mt{{CO2e|safe}},
and the emissions associated with Bovaer production are modelled as rising by
a smaller amount, of 510 kt{{CO2e|safe}}.
The net effect is a reduction by about 9.5 Mt{{CO2e|safe}}.
</p>

{% include "blog/2026-04-03-bovaer_strategy-subsidies.html" %}

<p>
In this second strategy-specific figure, the difference between the scenarios
with and without Bovaer adoption is shown in terms of subsidy amounts.
Here, we see the relative quantities of the four types of subsidy modelled as
being required:
purchasing Bovaer, offsite and onsite monitoring activities, and compensating
farmers for the work and risk of administering Bovaer.
The cost is modelled as rising to about $2.1 billion per year, without
factoring in any currency inflation.
The subsidy program here is hypothetical, there is no current subsidy program
at the federal level or in any province or territory that aims to work in this way.
</p>



<h2 id="conclusion">Conclusion</h2>

<p>
With this post,
PlanZero now includes a strategy for emission reduction
(<a href="/simulations/Scaling/strategies/Scale_Bovaer/">Scale Bovaer</a>),
and a model of the
impact of that strategy.
In this model,
the strategy of paying farmers an average of $5000 / year to administer Bovaer
is estimated
to deliver up to 9.5Mt {{CO2e|safe}}/year of emissions reductions by 2050 at a
cost of about $222/t{{CO2e|safe}}.
</p>
<p>
Writing this post, and thinking of these numbers &mdash;
9.5Mt {{CO2e|safe}}/year by 2050 for $222/t{{CO2e|safe}} &mdash;
I feel like a blind person first setting foot on an unexplored world of possible
futures. I am surrounded by potential issues and unknowns; now what?
I must really like making models.
I know others have done this sort of modelling before, so perhaps I should
imagine instead that I've blind-folded myself and landed on a crowded beach.
Either way, if the reader will indulge me, I will articulate the potential issues and
unknowns that come to my mind, as many possible directions for next steps:
<ul>
    <li>How does this estimate compare with conventional wisdom on the price
        of Bovaer in Canada?</li>
    <li>What other technologies are on the table at a hypothetical budget of $222/t?</li>
    <li>Could e.g. drones or flyovers monitor enteric emissions at lower cost?
        How much would the cost of this strategy need to come down for it to
        be viable?</li>
    <li>I think people ultimately want to hear positions on matters of debate,
        not simulation results and model predictions. How might PlanZero take
        positions while remaining rooted in data and open source modelling?</li>
    <li>PlanZero needs to include more strategies, such as, at minimum:
        <ul>
            <li><a href="https://github.com/jaberg/planzero/issues/53">Solar</a>,
                <a href="https://github.com/jaberg/planzero/issues/54">wind</a>,
                <a href="https://github.com/jaberg/planzero/issues/55">tidal</a>,
                <a href="https://github.com/jaberg/planzero/issues/71">geothermal</a>,
                and/or <a href="https://github.com/jaberg/planzero/issues/56">nuclear energy</a>
                for grid-scale power generation</li>
            <li><a href="https://github.com/jaberg/planzero/issues/57">EVs for light-duty vehicles</a></li>
            <li>Heat pumps for <a href="https://github.com/jaberg/planzero/issues/58">residential</a> and
                <a href="https://github.com/jaberg/planzero/issues/59">commercial/institutional</a> heating
            </li>
            <li><a href="https://github.com/jaberg/planzero/issues/70">Carbon Capture and [Utilization] and Storage</a></li>
        </ul>
    </li>
    <li>How can I relate PlanZero to other modelling efforts more generally?
        (see <a href="https://github.com/jaberg/planzero/issues/63">gh issue re: Bibliography</a>)</li>
    <li>I can't always write one post at a time. There was too much information
        in the first version of this post, and it was a jumble.
        I really like the
        linearity and typical scope of the posts so far, how can
        I work my way through big chunks when required?
        (<i>Edit: this has been addressed for now through introducion of
            <a href="/about/#draft-status">"Draft Status"</a>
        as described in subsequent post <a href="/blog/2026-04-12-about">"About this project..."
            April 12, 2026</a>.</i>)
    </li>
    <li>If the strategy analysis in this post is any indication,
        modelling many strategies across many sectors is going to get
        complicated.
        How should this complexity be managed in terms of communication,
        and in terms of implementation?
        I've used the terminology of {{siteref("CSF", "critical success factor")|safe}},
        {{siteref("Barrier", "barrier")|safe}},
        {{siteref("Strategy", "strategy")|safe}},
        {{siteref("Model", "model")|safe}},
        and {{siteref("Scenario", "scenario")|safe}} in this post; time will tell how much it helps.
        (<i>Edit: these terms have been removed from this post,
            and introduced instead via a design documentation post
            <a href="/blog/2026-04-19-glossary">"New: The PlanZero Glossary", April 19, 2026</a>
            and the <a href="/glossary/">glossary</a> page on the PlanZero site.</i>)
    </li>
    <li>Probabilities and uncertainty is critical to this sort of modelling,
        and is completely absent from all PlanZero posts to date, including
        this one.</li>
    <li>PlanZero assumes decision-making entities will decide things in certain ways,
        such as farmers adopting Bovaer at $5000/year, and voters supporting governments
        that offer certain programs. How might this decision-making be
        modelled rather than assumed?</li>
</ul>
</p>

<p>
All that said, I intend to work toward
a forecast of the National Greenhouse Gas Inventory.
I would like to use a best-guess forecast as the baseline for ablative
analysis of strategies, rather than simply extending most-recent data as if
the future will most-likely be a snapshot of the latest year in the latest {{siteref("NIR")|safe}}.
At the same time, there is at least some interest in short-term
forecasts of the {{siteref("National Greenhouse Gas Inventory")|safe}},
as evidenced by e.g.
<a href="https://440megatonnes.ca/early-estimate-of-national-emissions/">
440 MegaTonnes' Early Estimate of National Emissions</a>.
I'm curious where that interest comes from.
The next two posts after this one take a step back from modelling to reflect on
my development process and to document what exactly is a model in PlanZero.
After those, I'll return to modelling,
and introduce a generic baseline statistical model for
national inventory forecasting.
It will predict something, and force some discussion of probabilities and
uncertainty.
Beyond that, I'll be interested in being able to say something about whether that baseline
is more accurate or less accurate than the early estimator presented by 440 megatonnes.
Now that NIR-2026 has been released, we can score its predictions.
</p>

<p>
Until then,
</p>
<p>
- James Bergstra
</p>


<ul class="actions special">
    {% if prev_url_filename %}
    <li><a href="/blog/{{prev_url_filename}}" class="button">Previous</a></li>
    {% endif %}
    {% if next_url_filename %}
    <li><a href="/blog/{{next_url_filename}}" class="button">Next</a></li>
    {% endif %}
</ul>
</section>
</div>
{% include "post-main.html" %}
