{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
        <span class="date">{{blog.date.strftime("%b %d, %Y")}}</span>
        <h1>{{blog.title}}</h1>
        <p>{{blog.about}}</p>
    </header>

<p>
Table of Contents:
<ul>
    <li><a href="#h2_intro">Introduction</a></li>
    <li><a href="#paris">Paris Accords</a></li>
    <li><a href="#cnzeaa">Canada's Net-Zero Emissions Accountability Act</a></li>
    <li><a href="#targets">Canada's Latest Emissions Targets</a></li>
    <li><a href="#summary">Summary</a></li>
</ul>
</p>

<h2 id="h2_intro">Introduction</h2>
<p>
The <a href="./2026-01-21-unfccc">previous post</a> introduced greenhouse gases and CO2e, the standard-if-imperfect way to compare impact across different gases.
This post introduces Canada’s net-zero commitments and objectives:
the signing of the UN Paris Accords (developed with input from the International Panel on Climate Change, IPCC), the
passing of the Canadian Net-Zero Emissions Accountability Act (CNZEAA), and the aim for net-zero CO2e by 2050.
Discussion of the CNZEAA motivates an upgrade to the IPCC sector emissions figure from this blog's <a href="./2025-12-05-first-post">first post</a>:
namely adding Canada's Net-Zero commitments and targets under the CNZEAA, and visualizing the sink sectors in addition to the source sectors.
</p>
<p>
This post sets up a series of future posts about replicating (if sometimes approximating)
the sector-by-IPCC-sector totals that, together, make up Canada's national greenhouse gas inventory.
I would like to use PlanZero someday to evaluate product and project ideas from an emissions perspective, and
the computation of the greenhouse gas inventory is the gold standard of how business and individual actions affect Canada's emissions.
</p>

<h2 id="paris">Paris Accords</h2>
<p>
Some of Canada’s Indigenous peoples practiced a “<a href="https://en.wikipedia.org/wiki/Seven_generation_sustainability">seven-generations</a>” doctrine,
which emphasized the consideration of future generations in decision-making.
However, Canada’s federal constitution, laws and governance mechanisms have
historically not included mechanisms or principles to look and plan far-enough
ahead to consider the long-term negative impacts of greenhouse gas emissions.
The starting point for PlanZero’s modelling of Canada’s current federal commitments to net-zero greenhouse gas
emissions is Canada's signing of the Paris Agreement in 2016, as part of the United Nations Framework Convention on Climate Change (UNFCCC).
</p>

<p>
From <a href="https://en.wikipedia.org/wiki/Paris_Agreement">wikipedia</a>:
<i>The Paris Agreement (also called the Paris Accords or Paris Climate Accords) is an international treaty on climate change that was signed in 2016.
The treaty covers climate change mitigation, adaptation, and finance.
The Paris Agreement was negotiated by 196 parties at the 2015 United Nations Climate Change Conference near Paris, France.
The Paris Agreement has a long-term temperature goal which is to keep the rise in global surface temperature to well below 2 °C (3.6 °F) above pre-industrial levels.
The treaty also states that preferably the limit of the increase should only be 1.5 °C (2.7 °F).
These limits are defined as averages of the global temperature as measured over many years.
The lower the temperature increase, the smaller the expected effects of climate change.
To achieve this temperature goal, greenhouse gas emissions should be reduced as soon as, and by as much as, possible.
They should even reach net zero by the middle of the 21st century.
To stay below 1.5 °C of global warming, emissions need to be cut by roughly 50% by 2030.
</i>
</p>

<p>
Under the Paris Agreement, each country must determine its own emissions targets (exceeding its previous targets), plan, and <a href="https://en.wikipedia.org/wiki/Enhanced_Transparency_Framework">regularly report</a> to the Secretariat of the UN Framework Convention on Climate Change (UNFCCC) on its greenhouse gas (GHG) contributions.
Countries are not legally obligated by the Paris Accord to set particular targets, nor to hit those targets, but countries are obliged
to have targets on emissions as measured in particular ways,
to communicate those targets, and then
to report on their progress using standard methodology.
This activity is the foundation of what might colloquially be called a name-and-shame system, or what has semi-officially been called a “<a href="https://web.archive.org/web/20151213054835/http://www.cbsnews.com/news/cop21-climate-change-conference-final-draft-historic-plan/">name and encourage</a>” system.
The Paris Accords exist within a realm of international relations that already includes a range of mechanisms for such encouragement to be applied between countries.
The Paris Agreement creates transparency so that other kinds of political and economic mechanisms can exert aligned encouragement toward the global net-zero goals of the UNFCCC.
</p>


<h2 id="cnzeaa">Canadian Net-Zero Emissions Accountability Act</h2>

<p>
Canada passed the Canadian Net Zero Emissions Accountability Act (CNZEAA, 2021) in order to implement the changes required to meet its responsibilities under the Paris Accords.
The implications of the CNZEAA are far-reaching.
For a few introductions to the act, see e.g.
the <a href="https://laws-lois.justice.gc.ca/eng/acts/c-19.3/fulltext.html">full text</a>,
the <a href="https://www.canada.ca/en/services/environment/weather/climatechange/climate-plan/net-zero-emissions-2050/canadian-net-zero-emissions-accountability-act.html">overview maintained by the civil service</a>, and
the Honourable Senator Rosa Galvez’s “<a href="https://rosagalvez.ca/en/initiatives/climate-accountability/short-guide-to-the-cnzeaa">Short Guide to the Canadian Net-Zero Emissions Accountability Act</a>”).
</p>

<p>
The Paris Accords are primarily about standardizing how countries report emissions and plans.
The CNZEAA makes the Ministry of the Environment and Climate Change Canada (ECCC, sometimes pronounced "E-triple-C") accountable for planning and reporting on Canada’s behalf.
The ECCC reports on both its own work and the work of many other areas of the public and private sectors.
The CNZEAA directly and indirectly added responsibilities across many areas of federal and provincial government.
For a few examples:
</p>
<table>
    <tr><td>Environment and Climate Change Canada (ECCC)</td><td>Ultimately accountable for reporting to the UNFCCC</td></tr>
    <tr><td>Natural Resources Canada (NRCan)</td><td>Reporting and planning in some sectors, especially energy, industrial, and land use</td></tr>
    <tr><td>Statistics Canada (StatsCan)</td><td>Collecting and reporting many economic statistics that supporting emissions estimates</td></tr>
    <tr><td>Department of Finance Canada</td><td>Reporting and planning for government agencies' internal operations and the same for crown corporations</td></tr>
    <tr><td>Provinces and Territories</td><td>Jurisdictional reporting and planning, especially natural resources, energy, land use, buildings, transportation</td></tr>
    <tr><td>Net-Zero Advisory Body</td><td>Newly-created scientific advisory group created by CNZEAA</td></tr>
</table>

<p>
The CNZEAA required the ECCC to publish a 2030 emissions
reduction plan by 2023, and to update it with progress reports in 2025 and
2027, leading up to a major replanning iteration in 2029-2030.
The ECCC has done so:
it maintains 2030 targets via the ECCC <a href="https://www.canada.ca/en/services/environment/weather/climatechange/climate-plan/climate-plan-overview/emissions-reduction-2030.html">website</a>, and last year published the <a href="https://publications.gc.ca/site/eng/9.954865/publication.html">2025 progress report</a>.
The 2030 plan is substantial, and will drive many future blog-updates to PlanZero.
</p>

<h2 id="targets">Canada's Latest National GHG Targets</h2>
<p>
The ECCC has set national targets for the years 2030, 2035, and 2050:
<ul>
    <li>2030: 40% below 2005 levels</li>
    <li>2035: 40-45% below 2005 levels</li>
    <li>2050: 100% below 2005 levels</li>
</ul>
As of this blog post, PlanZero includes these federal targets as a curve overlayed on the IPCC Sectors page.
</p>

<a href="/ipcc-sectors/">
<img src="/images/2026-02-02-national-emissions-targets.png" alt="" class="image main"/>
</a>


<p>
Also overlayed now are two other curves: the total net emissions with and without the Land Use, Land Use Change, and Forestry (LULUCF) sectors.
Two net emissions totals (with and without LULUCF) are plotted because LULUCF sector presents complications and is excluded from totals in some circumstances.
Canada's National Inventory is prepared by the ECCC for the United Nations (compiled strictly according to the IPCC guidelines),
and the IPCC requires that LULUCF be included as an Annex to the core submission. I expect LULUCF is treated differently for at least the following reasons:
<ul>
    <li>Few nations have large forested areas.</li>
    <li>It is not currently possible to characterize LULUCF impacts with as much precision as other sectors.</li>
    <li>The amplitude of specific emission events from e.g. forest wildfires can be large relative to other sectors.</li>
    <li>The timing of these large-amplitude emissions is somewhat random, and they can distract from the emissions from other sectors when displayed together.</li>
    <li>Forest wildfire emissions in particular are naturally cyclic and historically sustainable, unlike emissions from combustion of fossil carbon.</li>
</ul>
That said, Canada's vast land mass is a unique resource that can help achieve Canada's net-zero goal.
Perhaps for that reason, Canada has adopted Net-Zero targets in terms of the total national emissions <i>inclusive</i> of LULUCF emissions.
Still, in keeping with IPCC reporting guidelines, the number labelled "Total" in Canada's National Inventory Report is <i>exclusive</i> of LULUCF emissions.
</p>


<h2 id="summary">Summary</h2>
<p>
The UNFCCC's Paris Accords, established in 2015, seem to be holding strong as an international agreement to
(a) define greenhouse gases (GHGs),
(b) recognize the role of anthropogenic greenhouse gas emissions in affecting the global climate, and
(c) standardize methodology for collecting and reporting nation-by-nation data on global emissions.
Canada signed the Paris Accords,
and subsequently passed the Canadian Net-Zero Emissions Accountability Act (CNZEAA) in order to establish the programs and responsibilities across many areas of government, that ultimately
allow ECCC to fulfil Canada's reporting obligations to the UNFCCC.
Canada has set CO2e emissions targets in terms of total net IPCC sectoral emissions inclusive of LULUCF: 40% below the 2005 total by 2030, 45-50% below by 2035, and 100% below by 2050.
PlanZero's <a href="/ipcc-sectors/">IPCC Sectors page</a> has been updated to show these targets.
</p>
<p>
Coming up over the next several posts will be the development of an estimate of the national inventory on the basis of public data from StatScan and NRCan.
StatsCan and NRCan data are largely the basis for the national inventory calculation, although I'm not sure that I can exactly replicate the calculation with public data.
I would like for PlanZero to be able to evaluate business and product ideas in terms of their ability to support Canada's net-zero targets,
so it seems to me I should do this by
(1) implementing a close approximation to the official national inventory calculation, and then
(2) estimating the effect of hypothetical business and product ideas on those foundational StatsCan and NRCan statistics.
Over the coming weeks, I intend to develop this approximation by going through the IPCC Sectors in order of decreasing magnitude in the 2005 emissions baseline,
making time-boxed efforts to estimate each one as well as possible.
First up: Public Electricity and Heat.
</p>

</section>
</div>
{% include "post-main.html" %}
