{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
        <span class="date">{{blog.date.strftime("%b %d, %Y")}}</span>
        <h1>{% if not blog.published %}[DRAFT] {% endif %} {{blog.title}}</h1>
        <p>{{blog.about}}</p>
    </header>

<div class="box">
    <p><strong>Note on NIR:</strong> In the context of this post, the acronym "NIR" refers to the 2025 version of Canada's National Inventory Report. While new reports are released annually and PlanZero modelling will incorporate these future releases over time, the content of this post is left as is in reference to the 2025 version of the report.</p>
</div>

<p>
Table of Contents:
<ul>
    <li><a href="#h2_intro">Introduction</a></li>
    <li><a href="#extraction">Oil and Gas Extraction</a>
        <ul>
            <li><a href="#conventional">Conventional Extraction</a></li>
            <li><a href="#surface">Oil Sands Mining</a></li>
            <li><a href="#in-situ">In-Situ Oil Sands Extraction</a></li>
        </ul>
    </li>
    <li><a href="#estimation">Estimating Emissions</a>
        <ul>
            <li><a href="#ghgrp">Greenhouse Gas Reporting Program (GHGRP)</a></li>
            <li><a href="#petrinex">Petrinex for Alberta and Saskatchewan</a></li>
        </ul>
    </li>
    <li><a href="#summary">Summary</a>
        <ul>
            <li><a href="#csfs">Critical Success Factors</a></li>
            <li><a href="#barriers">Barriers</a></li>
            <li><a href="#strategies">Potential Strategies</a></li>
            <li><a href="#conclusion">Conclusion</a></li>
        </ul>
    </li>
</ul>
</p>

<h2 id="h2_intro">Introduction</h2>

<p>
The extraction of oil and gas from under the ground requires energy.
Historically, that energy has been provided by the combustion of some fraction of the extracted oil and gas.
The bitumen in oil sands requires more processing (and energy)
than crude oil from wells before it is ready for refining.
This post is about the use of fossil energy to produce the electricity and heat required to
extract oil and gas.
Emissions from stationary combustion sources for extracting oil and gas
have risen sharply in recent years, and now exceed 100 Mt annually.
This series has been progressing in descending order of 2005 emissions; the sector was fourth
in 2005, but as of 2023 this is Canada's largest single reporting sector, accounting for about 15% of the total
national emissions.
</p>

<p>
This is the fourth post in the sector-by-sector series developing a replica of 
Canada's National Greenhouse Gas Inventory Report (NIR).
It introduces PlanZero's first estimator for this sector,
and refreshes the <a href="/ipcc-sectors/Stationary_Combustion_Sources/Oil_and_Gas_Extraction">IPCC / Stationary Combustion / Oil and Gas Extraction</a>
to feature this estimator.
It also updates critical success factors and barriers to emissions reductions in this area.
There is some preliminary thinking about strategies but I do not believe there is clarity or concensus on decarbonization pathways for this sector.
</p>

<p>
This IPCC sector excludes emissions related to oil and gas extraction that are not
from stationary combustion sources,
such as the trucks and excavation equipment used in mining (those emissions 
are categorized as Mobile Combustion / Off-Road Mining)
and the upgrading of crude oil to e.g. gasoline, kerosene, and diesel (categorized as Industrial Processes / Petroleum Refinement).
This sector also excludes fugitive emissions, such as emissions from flaring and the
<a href="/ipcc-sectors/Fugitive_Sources/Oil_and_Natural_Gas/Venting/">venting emissions</a>
covered in a
<a href="./2026-03-02-venting/">previous post</a>.
</p>


<h2 id="extraction">Stationary Combustion in Oil and Gas Extraction</h2>

<h3>Conventional Oil Extraction</h3>

<p>
<em>Stationary Combustion</em> in the context of oil and gas extraction refers
to burning fossil fuels (usually natural gas or diesel) in fixed equipment to generate
heat, mechanical power and sometimes electricity
necessary for extraction operations.
Conventional wells and oil sands operations use this energy differently.
In conventional wells, the work to be done is for <i>pumps</i> to raise oil to the surface
and for <i>heaters</i> to ensure the crude oil remains fluid.
If some of this equipment is electric and the electricity is
generated by the producer's own oil or gas as fuel,
then the emissions from that fuel combustion are counted toward the total for
oil and gas extraction.
</p>

<p>
Energy is also used by <i>heat treaters</i> and <i>separators</i>.
These are large vessels with a fire-tube inside (burning natural gas).
Oil and water comes up from a well mixed together as an emulsion;
heat helps break the emulsion so that the water can be removed.
Natural gas typically also comes up "wet", that is, saturated with water.
Glycol dehydrators use a gas-powered burner to boil water out of a glycol solution so the glycol
can be recycled to absorb more moisture from the flow of wet gas from the well.
</p>

<h3>Surface Oil Sands Mining</h3>
<p>
In surface oil sands operations, the process of getting oil is different from a conventional oil well.
The oil in oil sands is <a href="https://thecanadianencyclopedia.ca/en/article/bitumen">bitumen</a>,
which is chemically similar to crude oil but different in two important ways:
it is typically higher in various impurities (nitrogen, sulfur, heavy metals),
and it does not flow at room temperature.
Mined oil sands normally contain
<a href="https://www.oilsandsmagazine.com/technical/mining">7 to 13%</a> bitumen by weight.
Making useful fuel from oil sands generally requires two major steps:
extracting relatively pure bitumen from the sandy rock in which it is found,
and then upgrading that bitumen to <i>synthetic crude oil</i> (SCO) that can be
processed by petroleum refineries.
The sub-steps of getting from oil sands to bitumen is illustrated by this graphic from Oil Sands Magazine:
</p>
<a href="https://www.oilsandsmagazine.com/technical/mining">
<img
    src="https://static1.squarespace.com/static/52abb9b9e4b0cb06a591754d/t/57fbeb3bcd0f68d0e17f66fa/1476127547969/bitumen-production-mined-oilsands.png"
    width="100%" />
</a>

<p>
Some bitumen can be processed directly by refineries, but if it is too rich in carbon (poor in hydrogen),
then the bitumen needs to be upgraded to SCO first.
This upgrading is energy-intensive and emission-intensive.
Chemically speaking, there are two ways to upgrade bitumen: remove carbon, or add hydrogen.
There are methods for doing both.
Carbon can be removed by <i>coking</i>: heating the bitumen to over 400 {{degrees|safe}}C, at which point
the carbon starts to form <i>petroleum coke</i> and drop out of the fluid.
Petroleum coke is valued as a fuel in its own right; it can be used in place of coal.
Hydrogen can be added by <i>hydroconversion</i>: at high pressures, hydrogen gas can break down
bitumen molecules into smaller ones with greater relative hydrogen content.
Both coking and hydroconversion are energy intensive,
and in practice, the required energy typically comes from the combustion of natural gas.
Hydroconversion requires about twice as much gas as coking per volume of bitumen,
partly because gas is also the source of the hydrogen (via steam methane reforming).
</p>
<p>
According to the NIR methodology (see <a href="https://data-donnees.az.ec.gc.ca/data/substances/monitor/canada-s-official-greenhouse-gas-inventory/G-Additional-NIR-Annexes?lang=en">Methodologies Fuel Combustion</a>)
"combustion emissions that support crude oil and natural gas production and upgrading of
oil sands bitumen are allocated to 1.A.1.c.ii – Oil and Gas Extraction."
So, with regards to bitumen upgrading, I understand this sector accounts for the emissions from burning fuel
to create heat, including heat for the creation of steam for steam methane reforming;
this sector does <i>not</i> include the {{CO2|safe}} byproduct of the steam methane reforming process
because it isn't the result of combustion, instead this {{CO2|safe}} is counted as
a <a href="/ipcc-sectors/Fugitive_Sources/Oil_and_Natural_Gas/Venting/">vented</a> emission if it is released to the atmosphere.
</p>

<h3>In-situ Extraction of Bitumen from Oil Sands</h3>
<p>
When oil sands are found deep underground, open pit mining is not a practical excavation method,
and instead the bitumen can be extracted from oil sands <i>in-situ</i>.
To extract bitumen in-situ, steam is injected into the oil sands to add water and heat to the deposit, so that the
bitumen starts to flow.
This is called <i>steam-assisted gravity drainage</i> (SAGD).
An in-situ bitumen flow is like the slurry of sand, warm water, and bitumen that moves
by pipe in the "hydro transport" step in the figure above for open pit operations.
The subsequent steps are the same for surface and in-situ operations,
as illustrated in the diagram above.
In-situ operations conventionally rely on the stationary combustion of natural gas
to produce heat for steam, and electricity for pumps.
</p>


<h2 id="estimation">Estimating Stationary Combustion Emissions from Oil and Gas Extraction</h2>

<p>
To estimate the NIR emissions for this sector I gathered data from two sources:
<ol>
    <li>Canada's Greenhouse Gas Reporting Program for larger emitters nationwide</li>
    <li>Petrinex for smaller emitters in Alberta and Saskatchewan</li>
</ol>
This is different from the methodology described in
<a href="https://data-donnees.az.ec.gc.ca/data/substances/monitor/canada-s-official-greenhouse-gas-inventory/G-Additional-NIR-Annexes?lang=en">Annex 3.1 to the NIR</a>
which is based on Statistics Canada tables
<a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=2510003001">25-10-0030-01 Supply and demand of primary and secondary energy</a>,
<a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=2510002601">25-10-0026-01 Supply and demand of natural gas liquids</a>,
and <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=2510008501">25-10-0085-01 Estimated additions to still gas, diesel and petroleum coke</a>
but it seems to get the same result, at least for recent years.
The advantage of the methodology presented here is that the Petrinex data and GHGRP data is
updated more frequently, and the Petrinex data may be more actionable in that emissions are listed
by facility type, and even by specific facility.
The disadvantage of the methodology here is that it does not
extend as far back in time: Petrinex downloads are only available as far back as 2022.
Future work on PlanZero could extend the estimator to use the Statistics Canada tables, especially for older data
(<a href="https://github.com/jaberg/planzero/issues/46">github issue</a>).
For now, Petrinex emission estimates for prior years are simply copied from 2022.
</p>

{{blog.est_nir.Est_Energy_SCS_OilAndGas_Extraction().echart() | safe}}

<h3 id="ghgrp">Greenhouse Gas Reporting Program (GHGRP)</h3>

<p>
Facilities that emit more than 10 kt {{CO2e|safe}} annually
are required to report annual emissions of each of the seven greenhouse gases via
<a href="https://www.canada.ca/en/environment-climate-change/services/climate-change/greenhouse-gas-emissions/facility-reporting.html">Canada's Greenhouse Gas Reporting Program (GHGRP)</a>, 
and have been required to do so since 2004.
Since 2022, such facilities have furthermore been required to report their emissions in terms of
the reason, or source, such as on-site transportation, waste, leakage, or &mdash; of particular relevance
to the emission estimate developed for this post &mdash; stationary fuel combustion.
The GHGRP component of this sector's estimator for years 2022 and 2023 was
formed by adding the stationary fuel combustion emissions
from facilities whose NAICS6 codes started with 2111, which meant any of
"Oil and Gas Extraction (except oil sands)",
"Conventional Oil and Gas Extraction",
"Non-Conventional Oil Extraction",
"In-situ oil sands extraction",
and "Mined oil sands extraction".
These category labels overlap because the nomenclature changed in 2017:
the two-way Conventional vs. Non-conventional distinction was replaced
with the three-way differentiation of conventional extraction vs. in-situ vs. mined oil sands.
</p>

<p>
For years prior to 2022, the GHGRP-reported emissions are not listed by emission source.
Facility totals are reported back to 2004, but emissions from stationary combustion
prior to 2022 are not listed separately from e.g. on-site transportation, waste, leakage, or any of the other reasons.
Since this sector is only supposed to be stationary combustion, a backfilling heuristic
was implemented to estimate the stationary combustion emissions of these prior years 2004-2021.
The heuristic was to look up the facility's stationary combustion emissions as a proportion of total emissions in 2022,
and then apply that same proportion to the facility's total emissions from each of the prior years.
Some facilities were no longer operating in 2022; for these, the proportion was assumed to be 80%.
Future work could use data to estimate this proportion from data on similar facilities
(<a href="https://github.com/jaberg/planzero/issues/48">github issue</a>).
</p>

<p>
Using this method of counting, GHGRP-registered emitters in the business of oil and gas extraction
contributed over 90 Mt {{CO2e|safe}} in recent years from stationary combustion alone. This 90Mt is about 85%
of the emissions from this IPCC sector, and over 10% of the entire national GHG emissions total.
</p>

<h3 id="petrinex">Petrinex</h3>

<p>
Petrinex is used in both Alberta and Saskatchewan, but is used differently in the two provinces. 
The databases records have slightly different semantics.
</p>

<h4>Petrinex: Alberta</h4>

<p>
<a href="https://www.petrinex.ca/PD/Pages/APD.aspx">Alberta's Petrinex data</a>
makes all upstream oil and gas facilities' monthly movements of material (by Product ID)
and by activity (Activity ID) available for public download.
Facility names and addresses are in the data files, as well as their type and subtype.
Alberta used four facility types as of January 2023:
<ul>
    <li> battery &mdash; a single accounting unit corresponding to a well or group of wells,
        co-located physical tanks, and related equipment;
    </li>
    <li> gas gathering system &mdash; a set of pipelines, pumps, and compressors that aggregate gas from gas batteries;
    </li>
    <li> gas plant &mdash; a facility for e.g. separating and sweetening the gas received from a gas gathering system;
    </li>
    <li> injection/disposal facility &mdash; a site that primarily disposes of product from the network, rather than e.g. re-selling it.
    </li>
</ul>
</p>

<p>
For the "Small facilities (Alberta)" component of this sectoral estimator,
I added up the monthly Petrinex records relating to "FUEL"
for all of these facility types.
Monthly totals were combined into annual totals, and the annual totals
were multiplied by the emissions factors from the NIR (annex 6, Tables 1-2 and 1-3),
and then the standard GWP multipliers to get a single annual total in {{CO2e|safe}}.
</p>

<p>
Alberta's Petrinex data covers some facilities that also appear in the GHGRP data,
but each system has its own set of identifiers: GHGRP lists facilities by GHGRP Identifier,
and Petrinex lists facilities by Petrinex identifier.
The boundaries of a single "facility" aren't necessarily the same for Petrinex and the GHGRP,
and the best alignment table I found was the undocumented API hosted by
Pollution and Waste Canada that's intended for the National Pollutant Release Inventory data search.
Cross-referencing facilities by their pollution registry ID accounted for most GHGRP facilities,
but 71 remained un-accounted-for.
In order to skip over about 71 facilities I ignored Petrinex facilities in Alberta and Saskatchewan that emitted over 5 kt {{CO2e|safe}}/mo.
The result of this filtering procedure was to filter about 60-70 facilities from each monthly data dump
that were not already identified as being GHGRP-registered facilities.
Facilities that emit even 1 kt {{CO2e|safe}} monthly are required to register with the GHGRP,
so these facilities emitting over 5 kt should certainly have been registered;
I hope these &gt;5kt facilities are indeed the ones that have registered as GHGRP facilities and
and I just don't have their corresponding Petrinex IDs.
Details of this heuristic can be found in the source code of
<a href="https://github.com/jaberg/planzero/blob/5c3b0b744a02331c6567b9cc9a073e841688d109/planzero/est_nir.py#L863">est_nir.py</a>
and 
<a href="https://github.com/jaberg/planzero/blob/5c3b0b744a02331c6567b9cc9a073e841688d109/planzero/petrinex.py#L347">petrinex.py</a>.
</p>

<h4>Petrinex: Saskatchewan</h4>
<a href="https://www.petrinex.ca/PD/Pages/SPD.aspx">Saskatchewan's Petrinex data</a> is similar to
Alberta's in structure, but not identical.
Saskatchewan uses a taxonomy of six facility types instead of the four used in Alberta:
<ul>
    <li>battery &mdash; a single accounting unit corresponding to a well or group of wells,
        co-located physical tanks, and related equipment;
    </li>
    <li>gas gathering system &mdash; a set of pipelines, pumps, and compressors that aggregate gas from gas batteries;
    </li>
    <li>gas plant &mdash; a facility for e.g. separating and sweetening the gas received from a gas gathering system;
    </li>
    <li>custom treating &mdash; a mid-stream hub that processes oil-water-sand emulsions on behalf of nearby wells; Alberta's Energy Regulator might classify the whole set of these things as a single battery, perhaps a "large multiwell proration battery"</li>
    <li>tank terminal &mdash; a facility for loading crude oil onto rail cars</li>
    <li>fresh formation water source &mdash; a facility that extracts ground water for e.g. steam or hydraulic fracturing</li>
</ul>

<p>
The "Small facilities (Saskatchewan)" component of the sectoral estimator was formed by adding all "FUEL" records in Saskatchewan data for all of these facility types,
and ignoring facilities with emissions &gt;5kt for the same reason as this was done for Alberta.
For most months, the heuristic to avoid double-counting skipped 6-10 facilities that were, I hope,
the ones that actually had GHGRP identifiers, but for which I didn't know the corresponding Petrinex IDs.
</p>


<h2 id="summary">Summary</h2>

<p>
Stationary combustion emissions from the oil and gas sector itself are enormous, and rising.
In recent years, this has become Canada's largest single reporting sector.
Although it is based on different methodology from the NIR (which uses data from Statistics Canada)
the estimator developed here is very accurate, at least for recent years.
(I hope it's accurate for the right reasons!)
This estimator is based on fuel rows from Petrinex facility reporting data, and emission
factors from the NIR annex 6.
</p>

<h3 id="csfs">Critical Success Factors</h3>

<p>To reduce stationary combustion emissions from oil and gas extraction,
it seems required to do some combination of the following:
<ul>
    <li>Reduce the rate of oil and gas extraction (reduce demand, reduce price, or cap production)</li>
    <li>Increase the rate of exhaust capture to long-term {{CO2|safe}} storage.</li>
    <li>Reduce emissions related to process heat for e.g. creating steam,
        upgrading bitumen to synthetic crude oil, drying gas, and maintaining fluidity in cold weather.</li> 
    <li>Reduce emissions related to mechanical energy, powering e.g. compressors and pumps.</li>
</ul>
</p>

<h3 id="barriers">Barriers</h3>
<p>
It is challenging to make progress on the critical success factors above for several reasons:

<ul>
    <li><b>Alignment</b>: Oil and gas continue to see enormous, and
        <a href="https://ourworldindata.org/grapher/oil-consumption-by-country?tab=line&country=USA~AUS~GBR~CAN~ZAF~NOR~CHN~OWID_WRL">still-rising</a>, market demand at prices well above the break-even point of oil and gas extraction operations in Canada.</li>
    <li><b>Geopolitics</b>: Comparable oil and gas operators in the US are scaling <i>up</i> under policies of the Trump administration.</li>
    <li><b>Geopolitics</b>: Canadian federal ambition is to position Canada as an energy superpower by exporting fossil fuels.</li>
    <li><b>Lock-in</b>: Extraction facilities, especially for oil sands,
        are high-capital (billions) that require decades of operation to pay off.</li>
    <li><b>Cost</b>: Carbon capture technologies exist, but it's costly and unproductive (carbon capture and utilization is less-unproductive, so to speak).
        The cost for deploying this technology must be borne by some combination of customers,
        investors, and citizens of various levels of government, without benefit.
    </li>
    <li><b>Cost</b>: electric components exist that could replace e.g. gas-powered ones,
        but they are not cheaper to buy or operate.
    </li>
    <li>
        <b>Maturity</b>: The energy efficiency of oil and gas extraction has been
        improved by decades of engineering.
        For example, the heat required to melt bitumen to oil already sometimes comes from a co-generation process
        in which gas turbines generate electricy and their heat exhaust melts the oil.
        Not only does this power the site's operations, such sites also sell electricity via the provincial grid.
    </li>
    <li><b>Scale</b>: Emissions in this sector are over 100Mt/yr, and rising.
        The sector involves thousands of facilities and connecting pipelines,
        especially in western provinces.
        For perspective, the carbon capture and storage projects in Alberta
        have been operating at just <a href="https://www.aer.ca/data-and-performance-reports/statistical-reports/alberta-energy-outlook-st98/carbon-capture-utilization-and-storage-ccus">1-2 Mt/yr since 2016.</a>
    </li>
</ul>
</p>

<h3 id="strategies">Strategies</h3>

<p>
The most net-zero-aligned strategy to reduce emissions in this sector is to reduce
production, because of course the produced oil and gas is mostly destined to be burned as fuel and release greenhouse gases.
Production may be reduced either by
reducing demand, reducing price, or capping production via regulation.
Canada's <a href="https://www.canada.ca/en/environment-climate-change/services/climate-change/pricing-pollution-how-it-will-work/output-based-pricing-system.html">output-based pricing system</a> (aka industrial carbon tax) reduces the take-home price
for the products from facilities whose emissions are higher than others producing the same product;
International and domestic electrification may reduce demand eventually;
and capping production has been tried, and proved politically infeasible so far.
</p>

<p>That said, it should be possible to reduce the emissions associated with oil and gas extraction,
without reducing the quantity of extracted oil and gas. Indeed, if less gas is used to drive extraction equipment,
perhaps even more gas could be brought to market.
Maybe energy sources such as firewood, sunlight, wind, nuclear,
or even alternative non-combustion energy extraction methods from fossil fuels,
such as the pyrolysis of methane, could power extraction operations.
These alternate energy sources are, at least in principle, capable of providing process heat and mechanical energy.
Maybe it can even be cost-effective, especially if some operations could be intermittent, following the availability of e.g. wind and solar power.
Research into the feasibility and viability of such alternative energy sources for oil and gas extraction is left for future work.
</p>


<h3 id="conclusion">Conclusion</h3>

<p>
This post has introduced a relatively accurate estimator of emissions from Stationary Combustion Sources related to the extraction of oil and gas, at least for recent years.
The <a href="/ipcc-sectors/Stationary_Combustion_Sources/Oil_and_Gas_Extraction">IPCC / Stationary Combustion / Oil and Gas Extraction</a>
page has been refreshed to feature this estimator, as well as updated
critical success factors,  barriers to those success factors, and a handful of as-yet-undeveloped strategies to address those factors and barriers.
I had hoped this post would be quicker to put together because I had already incorporated the key data sources,
but it wasn't because I ended up using a different version of Petrinex,
dealing with missing data, and I had a lot to learn about oil and gas extraction.
The next post in this series replicating the NIR will look at a more familiar source of emissions to the general public: residential stationary combustion sources, namely heating.
I think it will be a fun one!
</p>
<p>
Until then,
</p>
<p>
- James Bergstra
</p>

<ul class="actions special">
    {% if prev_url_filename %}
    <li><a href="/blog/{{prev_url_filename}}" class="button">Previous</a></li>
    {% endif %}
    {% if next_url_filename %}
    <li><a href="/blog/{{next_url_filename}}" class="button">Next</a></li>
    {% endif %}
</ul>
</section>
</div>
{% include "post-main.html" %}
