{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
        <span class="date">{{blog.date.strftime("%b %d, %Y")}}</span>
        <h1>{% if not blog.published %}[DRAFT] {% endif %} {{blog.title}}</h1>
        <p>{{blog.about}}</p>
    </header>

<p>
Table of Contents:
<ul>
    <li><a href="#h2_intro">Introduction</a></li>
    <li><a href="#extraction">Oil and Gas Extraction</a>
        <ul>
            <li><a href="#conventional">Conventional Extraction</a></li>
            <li><a href="#surface">Oil Sands Mining</a></li>
            <li><a href="#in-situ">In-Situ Oil Sands Extraction</a></li>
        </ul>
    </li>
    <li><a href="#estimation">Estimating Emissions</a>
        <ul>
            <li><a href="#ghgrp">Greenhouse Gas Reporting Program (GHGRP)</a></li>
            <li><a href="#petrinex">Petrinex for Alberta and Saskatchewan</a></li>
            <li><a href="#bcnir">British Columbia's Greenhouse Gas Inventory</a></li>
        </ul>
    </li>
    <li><a href="#summary">Summary</a>
        <ul>
            <li><a href="#csfs">Critical Success Factors</a></li>
            <li><a href="#barriers">Barriers</a></li>
            <li><a href="#strategies">Potential Strategies</a></li>
            <li><a href="#conclusions">Conclusions</a></li>
        </ul>
    </li>
</ul>
</p>

<h2 id="h2_intro">Introduction</h2>

<p>
The extraction of oil and gas from under the ground requires energy.
Historically, that energy has been provided by the combustion of some fraction of the extracted oil and gas.
The bitumen in oil sands requires more processing (and energy)
than crude oil from wells before it is ready for refining.
This post is about the use of fossil energy to produce the electricity and heat required to
extract oil and gas.
Emissions from stationary combustion sources for the purpose of extracting oil and gas
have risen sharply in recent years, and now exceed 100 Mt annually.
This is now Canada's largest single reporting sector, accounting for about 15% of the total
national emissions.
According to Canada's National Greenhouse Gas Inventory,
nearly all oil and gas extraction takes place in Alberta and Saskatchewan.
</p>

<p>
This is the fourth post in the sector-by-sector series developing a replica of 
Canada's National Greenhouse Gas Inventory Report (NIR).
It introduces PlanZero's first estimator for this sector,
and refreshes the <a href="/ipcc-sectors/Stationary_Combustion_Sources/Oil_and_Gas_Extraction">IPCC / Stationary Combustion / Oil and Gas Extraction</a>
to feature this estimator, as well as updated
critical success factors and barriers to those success factors.
</p>


<h2 id="extraction">Stationary Combustion in Oil and Gas Extraction</h2>

<h3>Conventional Oil Extraction</h3>

<p>
<em>Stationary Combustion</em> in the context of oil and gas extraction refers
to burning fossil fuels (usually natural gas or diesel) in fixed equipment to generate
<em>heat</em>, <em>mechanical power</em> and sometimes <em>electricity</em>
necessary for extraction operations.
Conventional wells and oil sands use this energy differently.
In conventional wells, the work to be done is for pumps to raise oil to the surface
and for heaters to ensure the crude oil remains fluid.
Even if some of this equipment is electric, if the electricity is
generated by the producer's own oil or gas as fuel,
then the emissions from that fuel combustion are counted toward the total for
oil and gas extraction.
</p>

<p>
Energy is also used by <i>heat treaters</i> and <i>separators</i>.
These are large vessels with a fire-tube inside (burning natural gas).
Oil and water comes up from a well as an emulsion, a bit like salad dressing;
Heat helps break the emulsion so that the water can be removed.
Natural gas typically also comes up "wet", that is, saturated with water.
Glycol dehydrators use a gas burner to boil water out of the glycol solution so it
can continuously absorb more moisture from the flow of gas.
</p>

<h3>Surface Oil Sands Mining</h3>
<p>
In surface oil sands operations, the process of getting oil is not like a conventional oil well.
The oil in oil sands is <a href="https://thecanadianencyclopedia.ca/en/article/bitumen">bitumen</a>,
which is chemically similar to crude oil but different in two important ways:
it is typically higher in various impurities (nitrogen, sulfur, heavy metals),
and it does not flow at room temperature (viscosity can range from peanut butter to hockey puck rubber).
Mined oil sands normally contain
<a href="https://www.oilsandsmagazine.com/technical/mining">7 to 13%</a> bitumen by weight.
Making useful fuel from oil sands generally requires two major steps:
extracting relatively pure bitumen from the sandy rock in which it is found,
and then upgrading that bitumen to <i>synthetic crude oil</i> (SCO) that can be
processed by petroleum refineries.
The sub-steps of getting from oil sands to bitumen is illustrated by this graphic from Oil Sands Magazine:
</p>
<a href="https://www.oilsandsmagazine.com/technical/mining">
<img
    src="https://static1.squarespace.com/static/52abb9b9e4b0cb06a591754d/t/57fbeb3bcd0f68d0e17f66fa/1476127547969/bitumen-production-mined-oilsands.png"
    width="100%" />
</a>

<p>
Some bitumen can be processed directly by refineries, but if it is too rich in carbon (poor in hydrogen),
the bitumen needs to be upgraded to SCO first.
This upgrading is energy-intensive and emission-intensive.
Chemically speaking, there are two ways to upgrade bitumen: remove carbon, or add hydrogen.
There are methods in practice for doing both.
Carbon can be removed by <i>coking</i>: heating the bitumen to over 400 {{degrees|safe}}C, at which point
the carbon starts to form <i>petroleum coke</i> and drop out of the fluid.
Petroleum coke is valued as a fuel in its own right, it can be used in place of coal.
Hydrogen can be added by <i>hydroconversion</i>: at high pressures, hydrogen gas can break down
bitumen molecules into smaller ones with greater relative hydrogen content.
</p>
<p>
Both coking and hydroconversion are energy intensive,
and in practice, the required energy typically comes from the combustion of natural gas.
Hydroconversion requires about twice as much energy as coking per volume of bitumen;
while it produces more oil per volume of bitumen, it is considered more expensive than coking.
This upgrading may sometimes be classified in terms of IPCC sectors
as part of the extraction process,
and sometimes as part of a subsequent Petroleum Refinement step, I'm not sure yet
what delineates the two, but to the extent that upgrading is classified as part of extraction,
it helps explain the rapid rise in emissions from this sector as oil sands production has ramped up.
</p>

<h3>In-situ Extraction of Bitumen from Oil Sands</h3>
<p>
When oil sands are found deep underground, open pit mining is not a practical excavation method,
and instead the bitumen can be extracted from oil sands <i>in-situ</i>.
In-situ extraction, as the name suggests, does not involve transporting oil sands to the surface.
Instead, steam is injected into the oil sands to add water and heat to the deposit, so that the
bitumen starts to flow.
This is called <i>steam-assisted gravity drainage</i> (SAGD).
An in-situ bitumen flow is like the slurry of sand, warm water, and bitumen that moves
by pipe in the "hydro transport" step in the figure above for open pit operations.
The subsequent steps are the same for surface and in-situ operations.
In-situ operations conventionally rely on stationary combustion of natural gas
to produce heat for steam, and electricity for pumps.
</p>

<p>
This IPCC Sector excludes other emissions related to oil and gas extraction,
such as the trucks and excavation equipment used in mining (those emissions 
are categorized as Mobile Combustion / Off-Road Mining)
and the upgrading of crude oil (categorized as Industrial Processes / Petroleum Refinement.
This sector also distinct from fugitive emissions, such as the
<a href="/ipcc-sectors/Fugitive_Sources/Oil_and_Natural_Gas/Venting/">venting emissions</a>
covered in a
<a href="./2026-03-02-venting/">previous post</a>.
</p>


<h2 id="estimation">Estimating Stationary Combustion Emissions from Oil and Gas Extraction</h2>

<p>
To estimate the NIR emissions for this sector I gathered data from three sources:
<ol>
    <li>Canada's Greenhouse Gas Reporting Program for larger emitters nationwide</li>
    <li>Petrinex for smaller emitters in Alberta and Saskatchewan</li>
    <li>British Columbia's provincial greenhouse gas inventory report</li>
</ol>
</p>

{{blog.est_nir.Est_Energy_SCS_OilAndGas_Extraction().echart() | safe}}

<h3 id="ghgrp">Greenhouse Gas Reporting Program (GHGRP)</h3>

<p>
Facilities that emit more than 10 kt {{CO2e|safe}} annually
are required to report annual emissions of each of the seven greenhouse gases via
<a href="https://www.canada.ca/en/environment-climate-change/services/climate-change/greenhouse-gas-emissions/facility-reporting.html">Canada's Greenhouse Gas Reporting Program (GHGRP)</a>, 
and have been required to do so since 2004.
Since 2022, such facilities have furthermore been required to report their emissions in terms of
the reason, or source, such as on-site transportation, waste, leakage, or &mdash; of particular relevance
to the emission estimate developed for this post &mdash; stationary fuel combustion.
The GHGRP component of this sector's estimator for years 2022 and 2023 was
formed by adding the stationary fuel combustion emissions
from facilities whose NAICS6 codes started with 2111, which meant any of
"Oil and Gas Extraction (except oil sands)",
"Conventional Oil and Gas Extraction",
"Non-Conventional Oil Extraction",
"In-situ oil sands extraction",
and "Mined oil sands extraction".
These category labels overlap because the nomenclature changed in 2017:
the two-way Conventional vs. Non-conventional distinction was replaced
with the three-way differentiation of conventional extraction vs. in-situ vs. mined oil sands.
</p>

<p>
For years prior to 2022, the GHGRP reported emissions are not listed by emission source.
Facility totals are reported back to 2004, but emissions from stationary combustion
prior to 2022 are not listed separately from e.g. on-site transportation, waste, leakage, or any of the other reasons.
The PlanZero estimator for these prior years is based on a backfilling heuristic:
that the proporation of each facility total that should be counted as coming from stationary combustion,
can be taken to be the same in prior years as it was in 2022 (if the facility was still operating in 2022).
If a facility was no longer running in 2022, then the proportion of each year's facility total to be counted
as stationary combustion was estimated &mdash; admittedly arbitrarily &mdash; to be 80%.
</p>

<p>
Using this method of counting, GHGRP-registered emitters in the business of oil and gas extraction
contributed over 90 Mt CO2e in recent years from stationary combustion alone. This 90Mt is about 85%
of the emissions from this IPCC sector, and over 10% of the entire national GHG emissions total.
</p>

<h3 id="petrinex">Petrinex</h3>

<p>
Petrinex is used in both Alberta and Saskatchewan, but is used differently in the two provinces. 
The databases records have slightly different semantics.
</p>

<h4>Petrinex: Alberta</h4>

<p>
In <a href="https://www.petrinex.ca/PD/Pages/APD.aspx">Alberta's Petrinex data</a>,
all upstream oil and gas facilities' monthly movements of material (by Product ID)
and by activity (Activity ID) are available for public download.
Facility names and addresses are in the data files, as well as their type and subtype.
Alberta used four facility types as of January 2023:
<ul>
    <li> battery &mdash; a single accounting unit corresponding to a well or group of wells,
        co-located physical tanks, and related equipment;
    </li>
    <li> gas gathering system &mdash; a set of pipelines, pumps, and compressors that aggregate gas from gas batteries;
    </li>
    <li> gas plant &mdash; a facility for e.g. separating and sweetening the gas received from a gas gathering system;
    </li>
    <li> injection/disposal facility &mdash; a site that primarily disposes of product from the network, rather than e.g. re-selling it.
    </li>
</ul>
</p>

<p>
</p>

<h4>Petrinex: Saskatchewan</h4>
In <a href="https://www.petrinex.ca/PD/Pages/SPD.aspx">Saskatchewan's Petrinex data</a>

<h3>British Columbia Provinvial Greenhouse Gas Inventory</h3>


<h2 id="summary">Summary</h2>

<h3 id="csfs">Critical Success Factors</h3>
<p>
<ul>
    <li>Reduce oil and gas production, especially from oil sands (reduce demand, reduce pricec, or cap production)</li>
    <li>Increase rate of exhaust capture to long-term {{CO2|safe}} injection and storage</li>
    <li>Reduce emissions from energy to provide process heat for e.g. extracting bitumen,
        processing crude oil, drying gas, and maintaining fluidity in cold weather.</li> 
    <li>Reduce emissions from electric energy to power compressors and other
        processing equipment.
    </li>
</ul>
</p>

<h3 id="barriers">Barriers</h3>

<h3 id="strategies">Strategies</h3>

<h3 id="conclusion">Conclusion</h3>

</section>
</div>
{% include "post-main.html" %}
