{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
        <span class="date">{{blog.date.strftime("%b %d, %Y")}}</span>
        <h1>{{blog.status_title_html}}</h1>
        <p>{{blog.about}}</p>
    </header>

{% if blog.status == BlogStatus.Planned %}
<div class="box">
    <p>This post is "<a href="/about#planned-status">Planned</a>".
    Please bear in mind that it is materially incomplete.
    </p>
    <p>
    It was drafted in late-spring 2026 and feedback was that it was
    confusing, and made the reader want to stop reading and encourage me to go find some machine learning people to talk to.
    The plan for fixing it is, broadly, to
    <ul>
        <li>Move the introduction and motivation to several posts.</li>
        <li>Move the static model to its own post
            (<a href="{{planzero.blog.registry['StaticNormals'].siteref}}">
                {{planzero.blog.registry['StaticNormals'].title}}</a>)
        </li>
        <li>Rearrange the AR-2 content into an Abstract / Appendix presentation, especially to move details of model description out of the Abstract</li>
        <li>Ensure the AR2 model works with the <a href="{{planzero.blog.registry['ProbabilisticBovaer'].siteref}}">Bovaer Strategy</a></li>
    </ul>
    </p>
</div>
{% endif %}

<p>
Table of Contents:
<ul>
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#motivation">Prediction with Quantified Confidence: the Motivation for Probabilistic Modelling</a></li>
    <li><a href="#static">Probabilistic Modelling of Harvested Wood Products' {{CO2|safe}} with Static Distributions</a>
        <ul>
            <li><a href="#static-gaussian">Modelling Harvested Wood Products with Static Normals</a></li>
            <li><a href="#inference-algorithms">Inference Algorithms and Probabilistic Programming</a></li>
            <li><a href="#constant-inference-fig">Inference of Latent Variables in the Static Model</a></li>
        </ul>
    </li>
    <li><a href="#ar2">Modelling of Harvested Wood Products {{CO2|safe}} with an Autoregressive Process</a>
        <ul>
            <li><a href="#ar2-hwp">Inference of Harvested Wood Products {{CO2|safe}} emissions with an AR2-based model</a></li>
            <li><a href="#ar2-all">Inference of All Emissions with an AR2-based model</a></li>
        </ul>
    </li>
    <li><a href="#conclusion">Next Steps and Conclusion</a></li>
</ul>
</p>

<h2 id="introduction">Introduction</h2>

<p>
If I were to predict that the Canadian national emissions
total for 2025 would be exactly 690.395 Mt{{CO2e|safe}},
it would be silly because (a)
how could the total be that exact, specific number, and
(b) who would care about that degree of precision when
there are a few percentage points worth of error on those
totals anyway?
</p>

<p>
If I were to claim instead that they <i>might</i>
be exactly that amount, then again
it would be a silly statement because
of course it's possible; why not?
</p>

<p>
The way people have learned to make predictions about such things
is to use the language of probability.
A {{siteref("Probability Distribution", "probability distribution")|safe}} is a table (or function) of 
the relative probabilities of all the possible values of an
unknown quantity (a <i>{{siteref("Random Variable", "random variable")|safe}}</i>), such as the 2025 emissions total in the future 2027
National Inventory Report.
The emissions total has to be <i>some value</i> so the probabilities
of all of it's <i>possible values</i> add up to 1.
A non-silly prediction about the 2025 emissions in the 2027 report
might be that "there's a 15% chance the total will be between
690 and 700 Mt{{CO2e|safe}}."
That prediction would be the result of adding up
the probabilities of values from 690 to 700
according to a probability distribution.
</p>

<p>
PlanZero has not, until this post,
produced probability distributions
for e.g. future emission quantities.
The post introduces probabilistic modelling via two models:
a trivial baseline model that ignores any temporal trends in the data whatsoever
(the <i>static model</i>),
and non-trivial baseline model based on a two-step autoregressive process that can match trends (the <i>AR-2 model</i>).
The static model is simpler, and serves to explain how probabilistic modelling works.
Its random variables are easier to visualize.
The AR2 model is more complex, but provides a better fit to the data.
</p>




<h2 id="ar2">An Alternative Model based on an Autoregressive Process</h2>

<p>
<!--
Another possible model of NIR emissions generally,
and of Harvested Wood Products' {{CO2|safe}} in particular 
is that 
Candidly,
I think that a fixed distribution, one that doesn't change from year to year,
is a poor model of many historical emissions
(including most of the ones above from the Harvested Wood Products sector).
I also think that 
there's a lot of temporal correlation from one year to the next.
One way to test these beliefs is to model them, fit that model to data with
an inference algorithm (just like we did in the previous section) and
see what kinds of inferences (and predictions) it makes.
This section develops an alternative model to the constant model discussed
in the previous section.
The next section compares the two models as predictors of future emissions.
</p>
-->

<p>
It is natural to view the emissions data in the NIR as time series with trends.
A model should leverage the fact that emissions tend to change
slowly; the emissions from the year before are usually a good guess for the
current year, and probably a better guess than the overall mean since 1990 (which is what the Static Normals model does).
There are many approaches and applications of
<a href="https://en.wikipedia.org/wiki/Time_series">time-series analysis</a>
but this section develops an emissions model based on
<a href="https://en.wikipedia.org/wiki/Autoregressive_model">autoregressive analysis</a>.
<!--
Bayesian autoregressive analysis results from fitting a model with a
latent time series (e.g. {{latex("Z")|safe}}, below)
that progresses according to a random walk.
-->
An auto-regressive process of order {{latex("p")|safe}}
is a set of random variables that can be written like this:
</p>

<p>
{{latex(
"
\\begin{array}
Z_{1..p} & \\sim & \\mathcal{N}(0, \\sigma^2)  \\\\
Z_t & \\sim  & \\mathcal{N}(c_0 + c_1 Z_{t-1} + c_2 Z_{t-2} + ... + c_p Z_{t-p},
                          \\sigma^2)
\\end{array}
", "block").replace("<mtd>", '<mtd style="text-align: left;">')
}}
</p>

<p>
There's an order to them.
The first few random variables are just independent normals
(the first {{latex("p")|safe}} of them: {{latex("Z_{1..p} ~ \\sim ~ \\mathcal{N}(0, \\sigma^2)")|safe}})
but after that each one is a weighted combination of the previous ones
plus a bit of noise.
Sometimes this sort of set of random variables is called a random walk,
because each one takes a random step along a trend that's established
by the weights {{latex("c")|safe}}. Whether the random walk is dominated
by the trend or the noise depends on the magnitude of
the weights {{latex("c")|safe}} and the magnitude of the noise
{{latex("\\sigma")|safe}}.
</p>

<!-- TODO: show AR2 with different sigma, different c-->

<p>
The following time-varying graphical model for NIR data will be our subject
for the rest of this section.
It is based on {{latex("\\mu_{(s,g, r, t)}")|safe}} being
a two-step auto-regressive process.
Two-step auto-regressive processes can model damped systems with momentum
(I chose two steps because one step seemed too simple &mdash; just damping.)
Indexes by {{latex("s,g")|safe}} are dropped in the table below for brevity,
and because anyway all sectors and gases are considered to be independent.
So for example what is actually {{latex("\\mu_{(s,g, r, t)}")|safe}} in the context
of the national model is written just {{latex("\\mu_{(r, t)}")|safe}}.

<table>

    <tr><td>{{latex("c_{(r,1)} ~=~ 3~\\mathcal{Kumaraswamy}(1.25, 1.25) - 0.5")}} </td>
        <td>Let the coefficient on the previous timestep range between -0.5
            and 2.5. The Kumaraswamy
                distribution with parameters (1.25, 1.25) provides a distribution that's a bit more
            uniform-looking than the (2,2) distribution illustrated on the
            <a
                href="https://en.wikipedia.org/wiki/Kumaraswamy_distribution">wikipedia page</a>. Parameters (2,2) may have worked here too, I didn't try them.</td>
    </tr>

    <tr><td>{{latex("c_{(r,2)} ~=~ 3~\\mathcal{Kumaraswamy}(1.25, 1.25) -1.5")}} </td>
        <td>Let the coefficient on the 2nd-previous timestep range between -1.5 and 1.5.</td>
    </tr>

    <tr><td>{{latex("\\sigma_{r}=\\max(\\sqrt{\\frac{1}{T}\\sum_t^T e_{r,t}^2}, 1)")}} </td>
        <td>Even after scaling the sector emissions data set so that the national totals
            had a dynamic range of about 1, still peek at the provincial and
            territorial emissions data to define a scale for each of these
            regions, because some provinces are way more active in some sectors
            than others. (The "e" is for the regional emissions after scaling by
            the national factor.)</td>
    </tr>

    <tr><td>{{latex("\\forall_{r}\\forall_{t\\in\\{1,2\\}} ~ \\mu_{(r,t)} ~\\sim~ \\mathcal{N}(0, \\sigma_{r}^2)")}} </td>
        <td>Let the first two steps of the autoregressive process for each region be independent normals, scaled appropriately for the region.</td>
    </tr>
    <tr><td>{{latex("\\mu_{(r,t)} ~\\sim~ \\mathcal{N}(c_{(r,1)} \\mu_{(r,t-1)} + c_{(r,2)} \\mu_{(r,t-2)},
            0.05^2 \\sigma_{r}^2)")}}</td><td>
            Suppose there's a sequence of random variables indexed by time {{latex("\\mu_{(r,t)}")|safe}} 
            that unfold through time according to the AR-2 process introduced above.
            The {{latex(".05^2 \\sigma_r^2")|safe}} term here controls how quickly
            the AR-2 process can change course from where its previous values and
            weights {{latex("c")|safe}} would otherwise take it.
            Inference is quite sensitive to this term.
            </td>
    </tr>
    <tr><td>{{latex("X_{(r,t)} ~\\sim~ \\mathcal{SBLN}(\\mu_{(r, t)}, 0.05^2 \\sigma_{(r, t)}^2)")}}</td>
        <td>Suppose there are random variables
            indexed by region and year {{latex("t")|safe}} that have their own variance,
            but whose means are identical to {{latex("\\mu_{(r, t)}")|safe}}.
            These are the variables that are meant to represent the per-region
            (and per-gas, per-sector)
            emissions totals in the NIR, whenever the NIR includes such totals.
            The variance in these model was fixed, and based roughly on
            the uncertainty estimate in the NIR-2025.
            The SBLN distribution, described below, is like a Normal distribution
            when {{latex("\\mu")|safe}} is around 0, more like a Log-Normal distribution
            when {{latex("\\mu")|safe}} is large and positive, and more like a
            negative Log-Normal when 
            {{latex("\\mu")|safe}} is large and negative.
        </td>
    </tr>
    <tr><td>{{latex("Y_{t} ~\\sim~ \\mathcal{SBLN}(\\sum_{r \\in \\mathrm{regions}}\\mu_{(r,t)}, 0.05^2)")}}</td>
        <td>Finally, suppose that there are time-indexed
            random variables with their own variance,
            whose means are the sum of regional variables
            {{latex("\\mu_{(r, t)}")|safe}}, which represent the (per-gas, per-sector) national totals.
            Similarly to {{latex("X")|safe}},
            variance here was fixed, based roughly on
            the uncertainty estimate for NIR-2025.
        </td>
    </tr>
</table>
</p>

<p>
The {{latex("SBLN(\\mu, \\sigma^2)")|safe}} distribution is introduced here
as a hybrid between a Normal and a Log-Normal distribution.
Uncertainty in the NIR is typically proportional to the size of the emissions
amounts in question (which vary widely in magnitude), and is reported in terms of percentage points,
which suggests a Log-Normal distribution for e.g. {{latex("X|\\mu")|safe}} might be more appropriate than a Normal. Except that sometimes,
especially in Harvested Wood Products, the emissions are sometimes
negative and sometimes positive, and a Log-Normal distribution can only do negative <i>or</i> positive. To get around this, I introduced a special distribution
that I call a Symmetric Blended Log-Normal that gradually transitions from
being a negative Log-Normal, to a regular Normal, to a positive Log-Normal as
its {{latex("\\mu")|safe}} parameter sweeps from being large and negative,
through zero, and to being large and positive.
An implementation and illustration of the distribution
in a <a href="https://github.com/jaberg/planzero/blob/5156681aa97189b0eda677d9a0bb578b02bb8ca1/SymmetricBlendedLogNormal.ipynb">Jupyter notebook</a> is rendered nicely on GitHub, for anyone looking for
more detail about this.
</P>

<h3 id="ar2-hwp">Inference of Harvested Wood Products {{CO2|safe}} emissions with an AR2-based model</h3>

<p>
Running <a href="https://num.pyro.ai/en/stable/mcmc.html">NumPyro's NUTS</a> inference algorithm for the AR2 model above,
using the NIR-2025 emissions data regarding {{CO2|safe}} emissions
from the Harvested Wood Products sector (HWP),
results in the following values for
{{latex("\\mu_{\\mathrm{(HWP, CO_2)}}")}} (shown via dotted mean
and shaded region credible intervals, scaled to match the data magnitude).
</p>

{{blog.figure_ar2_hwp()|safe}}

<p>
In contrast to the Static Normals model, the AR2 model predicts different emissions
at different times. Around the data points, the credibility intervals usually lie near the data, and are pretty narrow, but don't always include the data.
HWP is not an easy running example, but it is an interesting one.
The assumptions of the AR2 model are in conflict with the reality of HWP emissions.
HWP emissions jump around a lot rather than being smooth, and the national total is
almost 30 Mt {{CO2e|safe}} off the sum of regional subtotals in the 1990s.
Still, the goal of inference is to find the most-plausible values for the latent random
variables, especially {{latex("\\mu")|safe}}, and as far as I can tell the
NUTS algorithm is working.
</p>

<p>
The AR2 model is a better starting point for future work than the Static Normals
model, but more work is in order.
For example, here in the real world beyond the model, it is unlikely that
the Northwest Territories and Nunavut were secretly emitting vast quantities
of HWP {{CO2|safe}} in the early 90s, in the years where no emissions
data are listed for them in NIR-2025.
Inference has produced an interesting theory that helps explain the regional sum vs. national total
discrepancy, but it is not true.
(Nunavut has a good excuse for not listing emissions: it didn't exist until 1999.)
For this reason and others, the
AR2-based model of HWP emissions could be improved by e.g. 
<ul>
    <li>stronger priors regarding historical emissions when NIR data is missing</li>
    <li>incorporation of the mechanisms of HWP calculations
(which work in terms of filters on quantities of types of harvested wood,
see <a href="/blog/2026-02-22-forest-hwp">Emissions Calculations for Harvested Wood Products and Forest Land (Feb 22, 2026)</a> for an earlier review)</li>
    <li>combined modelling of both Forest Land and HWP emissions</li>
    <li>the inclusion of more data sources regarding what was harvested, when, and for what purposes</li>
    <li>other changes reflective of why the provincial and national estimates
        are so different</li>
</ul>
I expect to get to some of these points as I work back over
IPCC sectors studied earlier this spring, and incorporate
data sources and learnings from each one into future iterations of the AR2 probabilistic model.
</p>

<p>
For now, PlanZero's
standard view of probabilistic models by sector includes this
<a href="/models/prob/AR2/sectors/Harvested_Wood_Products/">
AR2 model for Harvested Wood Products</a> figure:
</p>
{% include "blog/2026-04-26-probabilistic-modelling-AR2-HWP.html" %}
<p>
It's fun to play with the slider to see what's going on in the 90s,
and the panel view highlights that future uncertainty in the AR2 model is dominated
by BC, ON, QC, and AB.
</p>

<h3 id="ar2-all">Inference of All Emissions with an AR2-based model</h3>

<p>
The type of figure used above to visualize predictions of Canada's future emissions according to the Static Normals model can also be used for the AR2 model.
Again the sectors are ordered according to decreasing upper bound on their credible intervals, but because the models make different predictions, the ordering of sectors is slightly different.
The figure is less colourful as well, because the colours highlight
uncertainty, and the AR2 model predicts tighter, smaller, 95% credible intervals.
Feel free to click any of the panels for a closer look at regional and per-gas
emissions inferences and predictions.
This figure is featured on the <a href="/models/prob/AR2/">PlanZero AR2 overview page</a>.
</p>

{% include "blog/2026-04-26-probabilistic-modelling-AR2-all_sectors.html" %}

<p>
Overall, I think the AR2 predictions are reasonable.
In most cases, they look like visual extensions of apparent trends,
which is the sort of thing an AR2 model can be expected to do.
There are some examples of poor fit,
such as Ammonia Production, Nitric Acid Production, and Petrochemical and
Carbon Black Production where the inferred total is far from the national
data, but these cases are a bit like the case of Harvested Wood Products,
in which the provincial and territorial sums didn't match the national total.
In fact, in some of these cases,
the provincial emissions are listed as all being zero.
Inference in the AR2 model understandably struggles to
explain how all of the regional emissions related to Ammonia Production can be zero while the national total is about 2.5 Mt{{CO2e|safe}}.
I hope modelling in these sectors can be improved by a better understanding
on my part of what's going on, I haven't studied these sectors at all yet.
</p>

<h2 id="conclusion">Next Steps and Conclusion</h2>

<p>
This introduction of probabilistic modelling to PlanZero was motivated by three things:
<ol>
    <li>Potential PlanZero users have expressed interest in short-term
        forecasting.</li>
    <li>Writing the <a href="/blog/2026-04-19-glossary">glossary post</a> about the computational and
        semantic aspects of modelling without mention of probabilistic
        modelling felt wrong.</li>
    <li>I felt that predictions of the kind attempted in the <a
            href="/blog/2026-04-03-bovaer">Bovaer post</a> would not be
        compelling without acknowledging and quantifying uncertainty,
        especially for strategies that are more active.</li>
</ol>
This post makes meaningful progress on all three fronts.
The AR2 model is a full predictive model of the entire NIR.
PlanZero's mission called for such a thing, and it didn't have one before.
This full predictive model can be used for short-term, medium-term, and
long-term forecasting. The AR2 model presented here leaves room for improvement
in forecasting accuracy, but it provides a non-trivial baseline
upon which to improve.

The glossary post (still in Draft) can now be completed with a full
overview of probabilistic and non-probabilistic modelling.

Finally, future strategy analysis can build on the AR2 probabilistic model.
This is especially valuable for active strategies, for which there
is a little data and therefore an opportunity for posterior inference.
Questions such as
"How efficient is it to subsidize EV purchases?" for example, is a
question that is better-suited to probabilistic modelling
with Bayesian inference than
to the non-probabilistic kind used to analyze the efficiency of Bovaer,
because our prior beliefs about decision-making across the market
can be refined by month-by-month data on uptake.
</p>

<p>
The PlanZero site has grown, with this post, to include
a "<a href="/models/">Models</a>" tab, which replaces the old "Simulations" tab,
and moves the simulations themselves into a new section on
that page for "Simulation-based models".
That page also has a section for "Probabilistic Models"
with brief descriptions
and links to the <a href="/models/prob/Static_Normals/">Static Normals</a>
and <a href="/models/prob/AR2/">AR2</a> models introduced in this post.
The models predict emissions out to 2050 on the basis of 95% credibility intervals,
with the Static Normals model predicting 379.2 - 1106.7 Mt {{CO2e|safe}}
in 2050
and the AR2 model predicting 737.7 - 862.9 Mt {{CO2e|safe}}.
</p>

<p>
This post has also brought several new terms to the <a
    href="/glossary/">Glossary</a>
from foundational terms such as
{{siteref("Probability Distribution")|safe}}
and {{siteref("Random Variable")|safe}}
to more advanced ones such as
{{siteref("Probabilistic Model")|safe}}, 
{{siteref("Bayesian Inference")|safe}}, 
and {{siteref("Credible Interval")|safe}}.
</p>

<h3>Next Steps</h3>

<p>
The introduction of probabilistic modelling to PlanZero opens up
several possible directions for next steps:
inference diagnostics,
prediction challenges and model comparison,
model improvements.
</p>

<h4>Inference Diagnostics</h4>

<p>
The uncertainty estimates on latent variables in probabilistic models
are not guaranteed to be good estimates. The algorithms that make
these estimates can fail, and there are
<a href="https://arviz-devs.github.io/EABM/Chapters/Presenting_results.html">techniques for monitoring and communicating how well they've worked</a>.
I've made a <a href="https://github.com/jaberg/planzero/issues/85">GitHub issue</a>
to show such metrics alongside
standard probabilistic modelling results after a few upgrades to AR2.
It may be natural to extend the notion of {{siteref("Barrier")|safe}} to
probabilistic models, and use per-barrier visualizations as the framing
for inference diagnostics.
Correct inference is more important when predictions have to be good,
so this next step can wait until after PlanZero has established some
prediction challenges, as described in the next section.
</p>


<h4>Prediction Challenges and Model Comparison</h4>

<p>
Probabilistic models can be used for a multitude of purposes.
Typically many models are candidates for any given purpose.
The question of which model to use for which purpose is not
always easy to answer.
The field of machine learning has made good progress developing
better and better models for decades, by aligning around a set of standard prediction
challenges (each with specific model-scoring systems) and iteratively
improving performance on the standard challenges.
One direction for future work on PlanZero is to add standard prediction
challenges. In fact, I think this is the most important next step,
because it is a necessary foundation for the evaluation of the
various model improvements suggested in the next section.
</p>

<h4>Model Improvements</h4>

<p>
Even without model-evaluation metrics at hand,
I'm going to go ahead and say that the AR2 model presented here
leaves room for improvement (even if it's
already better than the Static Normals).
For each of the sectors I looked at this spring,
its AR2 model can be extended to predict not just the NIR emissions,
but also the data I found to explain the NIR emissions;
the more types of data that {{latex("\\mu")|safe}} can explain via
a probabilistic model, the tighter an estimate we can make for what
{{latex("\\mu")|safe}} really was at various times up to the present, and how
it should evolve forward in time.
There are structural dynamics in the relationship between Harvested Wood Products
emissions and Forest Land data that haven't yet been used to inform the AR2 model's predictions.
There are natural dynamics in the life cycles of cattle that can relate
StatsCan's cattle survey data to future methane emissions.
There are natural dynamics in vehicle ownership cycles that can relate
StatsCan's vehicle purchase data to future {{CO2|safe}} emissions.
Climate change and population change forecasts can help explain trends
in several sectors in a way that can be extrapolated with greater confidence
into the future.
</p>

<p>
Probabilistic modelling provides a framework within which all of these
factors and mechanisms can be incorporated and analyzed together or individually as appropriate.
There are many possible next steps that may be
motivated as improvements to PlanZero's probabilistic models.
My next step will be to implement prediction challenges that can
serve as scaffolding for the iterative development of useful models.
</p>

<h3>Conclusion</h3>

<p>
Probabilistic modelling sets a new standard for what it
means to add NIR sectors to PlanZero, as posts have done throughout much of
Spring 2026.
Probabilistic models
together with Bayesian inference
can be more credible and engaging than simulations because they
can start with people's existing beliefs, data they can recognize as valid,
and then proceed automatically to conclusions that they may not have
considered.
The probabilistic models added to PlanZero leave much room for improvement,
but are already interesting to explore.
The next post will introduce a prediction challenge that will serve to rank
the two models here (Static Normals vs. AR2) as predictors of upcoming NIR
results, and set a bar for future probabilistic model improvement.
</p>

<p>
Until then,
</p>
<p>
- James Bergstra
</p>


<ul class="actions special">
    {% if prev_url_filename %}
    <li><a href="/blog/{{prev_url_filename}}" class="button">Previous</a></li>
    {% endif %}
    {% if next_url_filename %}
    <li><a href="/blog/{{next_url_filename}}" class="button">Next</a></li>
    {% endif %}
</ul>
</section>
</div>
{% include "post-main.html" %}
