{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
        <span class="date">{{blog.date.strftime("%b %d, %Y")}}</span>
        <h1>{% if blog.draft or not blog.published %}[DRAFT] {% endif %} {{blog.title}}</h1>
        <p>{{blog.about}}</p>
    </header>

<!--
<div class="box">
    <p>Text in a box</p>
</div>
-->

<p>
Table of Contents:
<ul>
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#uncertainty">Uncertainty in the NIR</a></li>
    <li><a href="#SBLN">Translating NIR Uncertainty into Symmetric Blended Log-Normal Distributions</a></li>
    <li><a href="#visualizing">Visualizing NIR-2025 as a Probabilitic Model</a></li>
    <li><a href="#evaluating-nir-predictions">Evaluating NIR Predictions</a></li>
    <li><a href="#conclusion">Conclusion</a></li>
</ul>
</p>

<h2 id="introduction">Introduction</h2>

<p>
An understatement:
PlanZero has, to date, relied heavily on emission data from
the 2025 National Inventory Report ("NIR-2025", or sometimes just "NIR").
Many PlanZero posts have looked at the data sector-by-sector,
trying to match the NIR estimates using data from other sources.
It should have been noted earlier, that the emissions data in NIR-2025
are <i>estimates</i>, associated with <i>estimates of uncertainty</i>, which PlanZero has ignored.
Well, as of this post, uncertainty is ignored no longer;
this post marks the beginning of the incorporation of that uncertainty into PlanZero's models and visuals.
PlanZero now includes a new tab on its navigation bar
called "<a href="/models/">Models</a>" that features
the <a href="/models/prob/NIR2025/">NIR-2025</a>
as PlanZero's first {{siteref("Probabilistic Model", "probabilitic model")}}.
NIR-2025 as the first model (a data model)
sets the stage (or perhaps, provides the first character?) for evaluations of <i>forecasting</i> models in future posts.
Forecasting models will be designed to
anticipate
the most-recent years of data models (such as NIR-2025) and predict the evolution of the NIR into the future.
Indeed after months of time-to-time consideration, I think
that the word "model" in PlanZero should generally mean probabilistic model, and there's no other meaning of the term.
More on that thought in the post's conclusion.
</p>

<p>
The content of the post is organized into the following sections:
<ul>
    <li><a href="#uncertainty">Uncertainty in the NIR</a> explains how uncertainty is recognized in NIR-2025, and provides some analysis of how much uncertainty there is in the NIR, where there is more of it, and where there is less.</li>
    <li><a href="#SBLN">Translating NIR Uncertainty into Symmetric Blended Log-Normal Distributions</a> presents the heuristics and mathematics used in PlanZero to translate the data in the NIR to probability density functions for each sector, gas, region, and year from 1990 to 2023.</li>
    <li><a href="#visualizing">Visualizing NIR-2025 as a Probabilitic Model</a> introduces new graphics to show the NIR in terms of probability density functions. These graphics are now featured on the PlanZero site in the <a href="/models/">Models</a> tab.</li>
    <li><a href="#evaluating-nir-predictions">Evaluating NIR Predictions</a> describes how
        a probabilistic NIR can serve as the basis for evaluating predictive models and guiding
        predictive models to be more accurate.</li>
</ul>

Of course the <a href="#conclusion">Conclusion</a>
summarizes the changes to the site that accompany this post,
which ended up being much more numerous and significant than I expected when I started it. Happy reading!</li>
</p>

<h2 id="uncertainty">Uncertainty in the NIR</h2>

<p>
The <a href="https://unfccc.int/documents/646186">NIR-2025 section 1.5 ("Uncertainty Assessment")</a> begins:
<i>While national GHG inventories should be accurate, complete, comparable, transparent and consistent, estimates will always
inherently involve some uncertainty. Uncertainties in the inventory estimates may be caused by systematic and/or random
uncertainties in the input parameters or estimation models.</i>
The NIR text explains that
the 2006 IPCC guidelines specify
that <i>the primary purpose of providing quantitative uncertainty information is to assist in setting priorities for the improvement of
future inventories and to guide decisions about which methods to use.</i>
And offers, as framing, that
<i>typically, the uncertainties associated with trends and
    the national totals are much lower than those associated with individual gases and sectors.</i>
</p>

<p>
My interpretation of this characterization of the NIR's approach to uncertainty, is that it (rightfully) received a less attention than the estimation
of the annual emissions totals (that is, the estimates of their expected values), so long as the uncertainty wasn't so large that it interfered with e.g. ranking priorities and having an accurate sense of the scales of various emission types.
Simple techniques for approximate uncertainty estimation were often sufficient
to separate signal from noise,
and confirmed that yes, apparently large-emission sectors really were indeed as bad as they looked.
PlanZero has slightly a different use for the uncertainty (model matching, below in "<a href="#model-evaluation">A Metric for Evaluating NIR Predictions</a>"), but more on that later.
The remainder of this section is about the uncertainty estimates in NIR-2025.
</p>

<h3>Uncertainty as Probability Density Functions</h3>

<p>
The NIR-2025 defines uncertainty as lack of knowledge of the true
value of a variable, that can be described as a <i>probability density function
    characterizing the range and likelihood of possible values</i>.
A {{siteref("Probability Density Function", "probability density function")}} is a mathematical function that
<ul><li>is never negative</li>
    <li>has an area under its curve of exactly 1</li>
    <li>is used to assess probabilities</li>
</ul>
A probability density function assesses the probability that a variable's unknown,
true value lies within some range from A to B
as the area under the curve from A and B.
In mathematics notation,
if we were to call our variable "X"
then we would typically write this probability, P,
like this: {{latex("\\mathrm{P}(A<X<B)")|safe}}.
If the probability density function happened to be
shaped like the following particular "<a href="https://en.wikipedia.org/wiki/Log-normal_distribution">log-normal</a>" (there are lots of possible shapes for probability density functions),
and A happened to be 0.5, and B happened to be 1.1, then
we could illustrate the association between
area under its curve and probability like this:
</p>

{{blog.figure_pdf()|safe}}

<p>
A brief aside on the philosophy of probability distributions and models:
A probability density function describes how probability
(which is constrained to add up to 1 when considering all possibilities) is <i>distributed</i> across the possible values
that a variable might truly have.
This is often called the "{{siteref("Probability Distribution", "probability distribution")|safe}}",
or sometimes simply "distribution", <i>of</i> the variable,
but I think that's a bit of a misnomer, because variables
do not, intrinsically, have distributions. A variable has a <i>value</i>, and we just sometimes don't know what that value is.
I think it's more helpful to think
of the probability density function as <i>doing</i> the distribution
[of probability] and to think that the distribution means something <i>about</i> the variable.
</p>

<p>
Continuing the aside: The choice of which probability density
function(s) to use for which variables is what's called a <i>model</i>.
Sometimes a model is called a 
{{siteref("Probabilistic Model", "probabilistic model")}}, or a probability model, or a stochastic model, but the terms are interchangeable.
This post is titled "A Probabilistic NIR" because it explores the
consequences of a choice
to use certain probability density functions (see below) for certain variables (the annual emissions totals in NIR-2025).
</p>


<p>
To conclude the aside:
NIR-2025 says that <i>uncertainty</i> refers to
a lack of knowledge regarding a variable's true value,
which corresponds to a probability density function,
and this aside has introduced what "probability density function" means.
The remainder of this section analyzes the data about
uncertainty in NIR-2025, and
we'll come back to how to translate that into probability density functions
in the next section ("<a href="#SBLN">Translating NIR Uncertainty</a>").
</p>

<h3>NIR-2025 Uncertainty Data</h3>

<p>
The NIR-2025 data about uncertainty is contained in four related tables in Annex 2 to the report.
The first two tables (A2-1, A2-2) are about uncertainty in totals, (exclusive and inclusive of land-use sectors, respectively).
The second two tables (A2-3, A2-4) are about uncertainty in trend, (again exclusive and inclusive of land-use sectors, respectively).
The model developed in the next section draws on
Table A2-2 "Uncertainty Assessment Level for base year and latest year with LULUCF)".
The rows of this table
correspond to (sector, gas) combinations.
The columns of the table have emissions totals
(to help identify corresponding sectors and gases used in
other Annex data)
and uncertainty on those totals, expressed as percentage points.
Those percentage points are sometimes zero,
usually positive, and never negative.
Most-frequently they are 1% or 2%.
There are some outlier (sector, gas) combinations (such as
e.g. 250% on {{N2O|safe}} from stationary combustion sources producing heat and electricity,
440% on {{N2O|safe}} from stationary combustion sources in oil and gas extraction,
and up to 740% on {{CH4|safe}} from military aviation)
but for the most part, the uncertainties are small enough (especially on the larger gas-sector combinations)
that the magnitude of the estimated mean
carries the most relevant information about the distribution.
The overall uncertainty on the national total was assessed to be about 2-3% without Land-Use, Land-Use-Change, and Forestry (LULUCF) sectors,
and about 9% when including them.
</p>

<p>
The figure below plots the range of assessed uncertainty values in the 2025 NIR
national totals, across the sector-gas combinations listed in Annex 2.
</p>

{{blog.figure_uncertainty_hist()|safe}}

<p>
The largest emission values on both negative and positive ends of the spectrum have relatively low uncertainty.
High-uncertainty sector-gas combinations (e.g. &gt; 50%) only occurs in association
with sectors emitting up to about 1000 kt {{CO2e|safe}}, which individually
represent only about 0.1% of the national total.
So despite
little nooks and crannies of uncertainty, the overall picture
based on means (which PlanZero has been using to date) can be taken as relatively accurate (yay!)
Still, for some purposes, the differences between e.g. 1%, 2%, 10%, and 20% uncertainty are important even if they all bestow confidence in the mean.
The next section translates these uncertainties into
probability density functions for all sector-gas-region-year combinations in the NIR, and later
"<a href="#evaluating-nir-predictions">Evaluating NIR Predictions</a>"
explains how probabilistic models can be evaluated
at forecasting, and how the NIR's uncertainty estimates
support that evaluation.
</p>

<h2 id="SBLN">Translating NIR Uncertainty into Symmetric Blended Log-Normal (SBLN) Distributions</h2>

<h3>Relating Annex 2 to PlanZero's sector-gas-region-year classifications</h3>
<p>
PlanZero
translates the percentage-point values in
Annex 2 (specifically Table A2-2 Uncertainty Assessment Level for base year and latest year with LULUCF) into
per-sector-gas-region-year probability density functions using starting with the following correspondence:
<ul>
    <li>Sector: What I've been calling "IPCC Sectors"
        throughout PlanZero to date
        (which might be better-called "NIR Sectors")
        are associated with rows in Annex 2 based on judgement of Column B (IPCC Source Category) and Column E (2023 Emissions).
    </li>
    <li>Gas: gases in Annex 2 matched the ones used elsewhere.
    </li>
    <li>Region: Annex 2 provides uncertainty estimates for national totals via Columns J and K.
        PlanZero uses a few
        heuristics for provinces and territories, 
        as described below.
    </li>
    <li>Year: A percentage value for each year from 1990 to 2023 inclusive was obtained by linear interpolation
        between Column J (year 1990) and Column K (year 2023).
    </li>
</ul>
</p>

<p>
Annex 2 provided (after applying the heuristics above)
an average (mean) emission amount {{latex("m")|safe}} in units of kt{{CO2e}},
and an uncertainty {{latex("u")|safe}} in units of percentage-points over 100
(so {{latex("u=0.1")|safe}} would mean 10% uncertainty), for each sector-gas-year combination,
for the national totals.
</p>

<h3>The Symmetric Blended Log-Normal Distribution</h3>
<p>
PlanZero uses a single custom parameterized family of probability density functions
to model each emission probability distribution in the NIR.
I call this distribution a Symmetric Blended Log-Normal (SBLN).
The SBLN distribution is a mixture (weighted sum)
of three instances of two well-known distributions: two log-normals and a normal.
The mixture components are organized by three parameters:
a mean ({{latex("\\mu")|safe}}),
a roll-off ({{latex("\\rho")|safe}}), and
a relative uncertainty ({{latex("\\sigma")|safe}}).
The three components of an SBLN distribution are:
<ol>
    <li>A <a href="https://en.wikipedia.org/wiki/Normal_distribution">normal distribution</a> with mean {{latex("\\mu")|safe}},
        and a variance that <i>would</i> gives it a relative uncertainty of 
        {{latex("\\sigma")|safe}} <i>if</i> its mean were equal to the roll-off.
    </li>
    <li>A <a href="https://en.wikipedia.org/wiki/Log-normal_distribution">log-normal</a> distribution with mean
        ({{latex("\\mu")|safe}}) and scale such that 95% of the probability is within {{latex("\\pm 100\\sigma")|safe}}% of the mean.
    </li>
    <li>A matching log-normal distribution on the negative values with mean
        ({{latex("-\\mu")|safe}}) and scale such that 95% of the probability is within {{latex("\\pm 100\\sigma")|safe}}% of the mean.
    </li>
</ol>
The three components are weighted differently,
depending on the magnitude of the mean relative to the roll-off.
If the magnitude of the mean is small relative to the roll-off,
then the normal distribution has almost all of the weight,
and the distribution looks like a normal with the desired mean and
a fixed amount of uncertainty that lets it turn into a log-normal in a smooth way
if you imagine the magnitude of the mean growing.
As the absolute value of the mean switches to being larger than the roll-off, then
the components are re-weighted so that the overall shape gradually transitions to being
a log-normal as the magnitude of the mean grows.
The details of this distribution can be found in a
<a href="https://github.com/jaberg/planzero/blob/d1972c58f1b8463be5fb3462e7b1c3179d273fa0/SymmetricBlendedLogNormal.ipynb">Jupyter notebook</a>
hosted on PlanZero's GitHub page.
</p>

<p>
The result is a parameterized probability density function that
can make what I think are all the shapes required to reasonably represent the elements
of the NIR.
For some examples of what SBLN distributions can look like, here are some distributions that show the effects of the mean, roll-off, and relative uncertainty parameters:
</p>

{{blog.figure_SBLN()|safe}}

<p>
The next two sub-sections look at what values of 
mean ({{latex("\\mu")|safe}}),
roll-off ({{latex("\\rho")|safe}}), and
relative uncertainty ({{latex("\\sigma")|safe}}) were chosen for each sector, gas, region, and year in NIR-2025, based on the mean {{latex("m")|safe}} and uncertainty {{latex("u")|safe}} values from Annex 2.
The next sub-section explains 
the strategy used for sectors with non-negative emissions (e.g. road transportation),
and the sub-section after that explains a different strategy used for sectors whose emissions could be negative (e.g.
forest land and harvested wood products).
</p>

<h3 id="non-negative-modelling">Modelling Emissions of Non-Negative Sectors</h3>
<p>
PlanZero models the majority of emissions sectors as being non-negative (with
just four of seventy-one being the exceptions discussed below in <a
href="#possibly-negative-modelling">Modelling Emissions of Possibly-Negative
Sectors</a>).
The assessment of a distribution for each national emission total was
the most straightforward of the various cases in this section, if still not actually all that simple,
so it's the first one we'll review.
</p>

<h4>National Emission Distributions for Non-Negative Sectors</h4>
<p>
The national emission distribution in such cases was modelled as:
</p>
{{latex(
"\\mathrm{SBLN}(\\mu=\\max(m, 0.1), \\rho=\\frac{\\max(m, 0.1)}{10}, \\sigma=\\max(u, .01))",
display="block")|safe}}
<p>
The SBLN having mean {{latex("\\mu=\\max(m, 0.1)")|safe}}
entails that the modelled NIR has the same mean {{latex("m")|safe}} as the data
for all sector-gas-year combinations for which {{latex("m>0.1")|safe}}.
The roll-off {{latex("\\rho=\\frac{\\max(m, 0.1)}{10}")|safe}}
being so much less than the mean ensures that
the shape of the distribution is almost exactly log-normal.
The uncertainty 
{{latex("\\sigma=\\max(u, 0.01)")|safe}} ensures that the model is always at least
a little uncertain (1%), which avoids division-by-zero special
cases in computations using the model. This clipping
only affected a few explicitly listed areas (e.g. {{N2O}} from Adipic Acid Production,
{{CH4}} from Wetlands), and predominantly applied to implicitly-zero, unlisted sector-gas combinations
such as {{SF6}} from fossil combustion sources.
</p>

<p>
These choices are well suited to modelling sector-gas-year combinations for which
{{latex("m>0.1")}}, but there's a two-part catch.
First: all of the sector-gas-years for which {{latex("m")}} is explicitly or implicitly zero are assessed by this NIR model as having a mean slightly above zero.
Second: all of these sector-gas-years that appear in the NIR with
literally zero emissions are
modelled in such a way that the assessed probability of that being true is zero.
The model departs from the data in these cases, in assessing that (a) those sector-gas-years probably
have emissions of 0.1 kt{{CO2e}}, and (b) they definitely don't have literally zero emissions (disagreeing with the actual NIR).
This choice was made to simplify the implementation of the model, and I don't expect it to cause
any practical issues in visualization or model comparison down the road,
but it's a bit silly.
</p>


<h4>Provincial and Territorial Emission Distributions for Non-Negative Sectors</h4>

<p>
The NIR includes emissions totals by sector, gas and year for provinces and territories.
For most sector-gas-year combinations the national total is approximately, if not always exactly,
the sum of the totals across the explicitly included provinces and territories,
suggesting that the corresponding totals for absent provinces and territories is zero.
There are exceptions to this typical pattern, but the treatment of the exceptions
does not seem straightforward, and will be the subject of future PlanZero posts.
For now, the probabilistic NIR uses the following rules to estimate the probability
density function for each combination of non-negative sector, gas, year, and province / territory.
</p>

<p>
In these rules the symbol {{latex("m_r")|safe}} (for "regional mean") is used to denote
the emission total for the sector-gas-year-region of interest if that combination's emission is
explicitly listed in NIR-2025.
The symbol {{latex("\\bar m_r")|safe}} for ("average regional mean over time") is used to denote
the average emission total for the sector-gas-region of interest across years that are
explicitly listed in NIR-2025.
</p>

<p>
Across all sector-gas combinations, it is important to remember
that the territory of Nunavut was only created in 1999.
The NIR does not list emission values {{latex("m_r")|safe}}
for Nunavut prior to its creation (of course),
instead the economic activity is associated with the Northwest Territories
for those prior years.
</p>

<table>
    <thead>
        <tr>
            <th>Case</th>
            <th>Definition</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{latex("m_r")|safe}} defined in NIR-2025,
            non-negligible scale ({{latex("m_r \\ge 1 kt CO_2e")|safe}})
            </td>
            <td>
                {{latex("\\mathrm{SBLN}(\\mu=m_r, \\rho=\\frac{m_r}{10}, \\sigma=\\max(u, .01))")|safe}}
            </td>
        </tr>
        <tr>
            <td>{{latex("m_r")|safe}} defined in NIR-2025,
                negligible scale ({{latex("m_r < 1 kt CO_2e")|safe}})
            </td>
            <td>
                {{latex("\\mathrm{SBLN}(\\mu=0.5, \\rho=0.01, \\sigma=0.5)")|safe}}
            </td>
        </tr>
        <tr>
            <td>{{latex("m_r")|safe}} undefined, {{latex("\\bar m_r")|safe}} defined</td>
            <td>
                {{latex("\\mathrm{SBLN}(\\mu=\\max(\\bar m_r, 1), \\rho=.1\\mu, \\sigma=0.7")|safe}}
            </td>
        </tr>
        <tr>
            <td>{{latex("m_r")|safe}} undefined, {{latex("\\bar m_r")|safe}} undefined</td>
            <td>
                {{latex("\\mathrm{SBLN}(\\mu=0.5, \\rho=0.01, \\sigma=0.5)")|safe}}
            </td>
        </tr>
    </tbody>
</table>

<p>
The first case ({{latex("m_r")|safe}} defined in NIR-2025, non-negligible scale)
applies to the largest emissions contributions, and defines regional probability density
functions approximately as log-normals with the regionally-estimated mean (following the data)
and the same relative uncertainty as the national total (a design choice here in PlanZero).
The second case ({{latex("m_r")|safe}} defined in NIR-2025, negligible scale) is for
explicitly listed tiny emissions, which the probabilistic NIR model shifts away from the data in order to have
some uncertainty and be strictly non-negative.
The third case ({{latex("m_r")|safe}} undefined, {{latex("\\bar m_r")|safe}} defined)
applies to regional time-series with gaps, by estimating missing years' emissions
as the mean of the time series with large relative uncertainty.
The fourth case ({{latex("\\bar m_r")|safe}} undefined) is for regions
whose sector-gas contribution is never mentioned in the NIR &mdash; these are assumed by the
probabilistic NIR to be negligibly small emissions.
</p>



<h3 id="possibly-negative-modelling">Modelling Emissions of Possibly-Negative Sectors</h3>

<p>
There are four sectors that are sometimes negative in NIR-2025:
<ul>
    <li>Harvested Wood Products</li>
    <li>Forest Land</li>
    <li>Cropland</li>
    <li>Settlements</li>
</ul>
They must be treated differently from the non-negative sectors,
because their being estimated to be near zero doesn't imply
that there is a low magnitude of uncertainty, and if they're estimated to be negative,
then the uncertainty means they could be even more negative.
</p>

<h4>National Emission Distributions for Possibly-Non-Negative Sectors</h4>
<p>
The National emissions totals for these sectors were modelled as SBLN distributions as well.
In contrast to the formula for non-negative sectors,
the SBLN formula for potentially-negative sectors
uses larger roll-off values so that the distributions are not always like log-normals.
The roll-off was chosen so that whenever the magnitude 
{{latex("|m|")|safe}}
of a national sector-gas emission estimate 
was on the order of 100 kt {{CO2e}} or less, then the
probability density function would look more like a normal distribution,
and not so much like a log-normal.
</p>
{{latex(
"""\\mathrm{SBLN}(\\mu=m, \\rho=100k, \\sigma=\\max(u, 0.01))
""", display="block")|safe}}

<p>
The value of 100kt{{CO2e}} was chosen
to be large enough to be a conservative margin of error,
yet small enough to not trigger re-ordering of provinces or territories in the
visualizations below (which are sorted by a combination of estimated emission plus
possible fraction of their uncertainty).
</p>

<h4>Provincial and Territorial Emission Distributions for Possibly Non-Negative Sectors</h4>

<p>
For the regional (provincial and territorial) emissions, only two cases were implemented
for the possibly-non-negative sectors.
When the regional emission {{latex("m_r")|safe}} was listed in NIR-2025
for a sector-gas-region-year, then its {{CO2e}} emission distribution was defined as
{{latex("\\mathrm{SBLN}(\\mu=m_r, \\rho=100k, \\sigma=\\max(u, 0.01))")|safe}}.
The mean and relative error are the typical choices, and the roll-off term
is left identical to the national rolloff amount.
In the other case, when the regional emission {{latex("m_r")|safe}} was not listed in NIR-2025
the distribution over values was defined with at least 100% relative uncertainty, as
{{latex("\\mathrm{SBLN}(\\mu=0, \\rho=100k, \\sigma=\\max(u, 1.0))")|safe}}.
</p>


<h2 id="visualization">Visualizing the NIR as a Probabilistic Model</h2>

<p>
The result of all of the distributional choices in the previous section can
be visualized in a set of graphics that are introduced to PlanZero, and can now
be found in the "<a href="/models/">Models</a>" tab of the PlanZero navigation bar.
The first visual below is an overview of national emissions time-series for all
71 sectors.
The second and third visuals below
are examples of what you can see (as of time of writing)
by clicking on one of the time-series,
in this case, stationary combustion associated with public electricity and heat.
They show
the contributions from each region in terms of {{CO2e}}, and one of the greenhouse gases ({{CO2}}).
The click-through visuals do not include gases that are never mentioned for a sector, but otherwise
all of the sector-region-gas-year combinations are visualized, as well as the {{CO2e}} totals.
</p>

{% include "blog/2026-05-20-prob-nir-NIR2025-all_sectors.html" %}

<p>
In this first graphic,
emissions are summarized by year, in terms of total Mt{{CO2e|safe}}
per non-aggregate sector.
Each dotted line is an empirically-estimated model mean (calculated by drawing a sample from the
probabilistic NIR model and computing the sample average).
Each coloured region is an empirically-estimated 95% {{siteref("Credible Interval", "credible interval")|safe}} for national emissions per sector (calculated from quantiles of a sample from the probabilistic NIR model).
There's supposed to be a solid line in each panel for the actual NIR data, but it doesn't
always render on the screen as it should. You can see the actual data as well as the model mean,
and upper and lower credible interval (CI) limits if you mouse-over each panel.
If you do so, you'll see that the model means are estimated to be very close to the data means.
</p>
<p>
Colours in this figure correspond to high-level emissions categories:
<ul>
    <li>dark blue for energy used in stationary combustion (e.g. for public electricity, oil and gas extraction, etc.)</li>
    <li>light green for energy used in vehicles (e.g. light-duty, heavy-duty, off-road, marine, etc.)</li>
    <li>purple for fugitive sources(e.g. venting, flaring)</li>
    <li>wheat for agriculture-related emissions (e.g. soil, manure)</li>
    <li>pink for waste-related emissions (e.g. landfills)</li>
    <li>other colours for various industrial activities (mineral products, chemicals, metals)</li>
</ul>
Mouse-over the slider below to see the active date range and adjust it to focus on specific periods.
Click on each panel for a deeper-dive into modelled emissions in that sector.
</p>

<p>
The next two graphics represent what is currently available (as of time of writing) by clicking
through the panel above relating to stationary combustion emissions from the generation of public electricity and heat.
</p>

{% include "blog/2026-05-20-prob-nir-NIR2025-PEH.html" %}
<p>
The graphic directly above
summarizes emissions by year, and in terms of total Mt{{CO2e|safe}}
per region.
We can see the difference here between NIR-2025 data and the model.
The model estimates e.g. Nunavut's emissions for all years (including
years that Nunavut didn't even exist, silly model) whereas the data
in NIR-2025 only covers years 1999-2004.
The colours in this figure have a different meaning relative to the large figure with a panel for each sector; in this figure, each region gets an arbitrary but unique colour.
</p>

{% include "blog/2026-05-20-prob-nir-NIR2025-PEH-CO2.html" %}
<p>
Finally, this graphic summarizes the emission of just one gas, by year, still in units of
Mt{{CO2e|safe}}, pre region. This graphic, for {{CO2}}, looks very similar to the one above,
because the strong majority of {{CO2e}} impact from the combustion of fossil fuels
is in the emission of {{CO2}} itself.
</p>

<p>
That concludes the visualizations section.
As of writing, all of these graphics are available on the
<a href="/models/prob/NIR2025/">NIR-2025 model page</a>.
The next section offers a little more justification for
creating this probabilistic model of NIR-2025 by way of the
next steps that this model enables.
</p>

<h2 id="evaluating-nir-predictions">Evaluating NIR Predictions</h2>

<p>
As interesting as the visualization of the probabilistic NIR model turned out to be,
my main reason for introducing a probabilistic NIR model here on PlanZero
was to use it as a reference for building predictive emission models.
Somewhat analogously to how easy it was to build probability density functions
for Nunavut before it was even created, it is possible to project probability density functions
for all of the emission time series in the NIR into the future, even though it hasn't happened yet.
But are the projections good?
</p>

<p>
There are lots of ways to make such projections.
One way to construct probability density functions for future years is to say
that they'll be like an average of all previous years.
Another way to construct probability density functions for future years is to say
that they'll be similar to recent years, and extend whatever trends appear to be in effect.
Beyond those two techniques, many variations and alternatives are possible.
Especially interesting among them are ones
that incorporate additional data sets such as those that PlanZero used
for its posts on reconstructing the NIR.
Such techniques are interesting because they can potentially
produce very accurate predictions of future NIRs,
so long as the protocols for estimation don't change too much.
</p>

<p>
However, before getting into prediction in earnest,
it's important to calibrate the experimental protocol and interpretation of results.
The ideal, is to be able to say, for example:
"<i>Such-and-such predictive model predicted such-and-such for the 2023 data in NIR-2025 based on NIR-2024
and then it turned out to be wrong in such-and-such ways;
it predicted such-and-such for the 2024 data in NIR-2026 based on NIR-2025 data
and then it turned out to be wrong in such-and-such ways;
now it predicts such-and-such for the 2025 data in NIR-2027 based on NIR-2026,
and we don't have that report yet so we can't say yet how it will be wrong,
but here are the predictions and you are welcome to make of them what you will.</i>"
</p>

<p>
The experimental protocol requires definitions of precisely what exactly the predictions are,
and precisely how they can be wrong.
With regards to precisely what the predictions are: in future PlanZero work they will be probability distributions.
PlanZero's predictive models will be designed to anticipate
the probability density functions for e.g. 2024 in a yet-to-be-implemented probabilistic NIR-2026,
and then e.g. 2025 in a yet-to-be-released NIR-2027.
With regards to how those predictions can be wrong, there will likely be both
qualitative and quantitative aspects to consider.
I won't try to guess ahead of time what the qualitative aspects might be,
but in the remainder of this section I want to show that there's at least a few
plausibly-good numerical metrics to assess goodness of fit between a probabilistic NIR model
and predictions thereof.
A reader that doesn't like math is welcome to skip ahead to the conclusion, we're almost there anyway.
</p>

<h3 id="model-evaluation">A Metric for Evaluating NIR Predictions</h3>

<p>
A model-scoring metric is a mathematical formula that takes
as input a reference model
({{latex("M^{(ref)}")|safe}})
and a predictive model
({{latex("M^{(pred)}")|safe}})
and turns them into a number such that the number being low (near zero, for example)
means the prediction is good, and the number being higher means the prediction is less-good.
The remainder of this section develop a model-scoring metric for NIR prediction.
The first bit of math we need for developing that metric is something called
an expected value of a function according to a probability distribution.
</p>

{{latex(
"""
\\mathbb{E_P}[f] =  \\int_x f(x) P(x) dx
"""
, display="block")|safe}}
<p>
The expected value of a function of an unknown variable
is an integral
(a huge sum over tiny little intervals of x)
of the function being applied to every possible value the variable could take,
weighted
by how probable it is according to the probability density function {{latex("P")|safe}}.
For {{latex("f(x) = x")|safe}}
this is just the average value of the variable according
to distribution {{latex("P")|safe}}.
Model evaluation metrics are usually an expectation over some distribution, so
there it is, that's how expectations are written.
</p>

<p>
The next bit of math we'll use to define a first model evaluation metric
is a debatable choice, but here it is, the so-called
<a href="https://en.wikipedia.org/wiki/Kullback%E2%80%93Leibler_divergence">KL-divergence</a>,
written as a function of two probability distributions
{{latex("P")|safe}} and 
{{latex("Q")|safe}}:
</p>
{{latex(
"""
\\mathrm{KL}(P \\| Q) =
\\mathbb{E_P} \\left[ log \\frac{P}{Q} \\right] =
\\int_x log \\left( \\frac{P(x)}{Q(x)}\\right)  P(x) dx"""
, display="block")|safe}}
<p>
The KL divergence between two probability distributions is zero if they're identical,
and greater-than-zero if they're not identical.
Typically if Q is a bit different, the KL divergence is small, and
as Q becomes more-different, the KL divergence increases faster and faster.
With the KL divergence,
if there are any values of the unknown variable that are possible according to P
and nearly-or-actually impossible according to Q, then the divergence becomes enormous
and then ultimately undefined. For our application, it means that if P is a distribution from
a probabilistic NIR, and KL is used to rank various Qs as approximations,
the ranking will favour Qs that err on the side of caution over Qs whose predictions
are overly-confident highly-concentrated distributions.
</p>

<p>
I said that the KL divergence was a debatable choice because
there are lots measures of distributional similarity.
This <a href="https://www.cs.cornell.edu/courses/cs6742/2017fa/handouts/lee-ch2.3.pdf">course note PDF</a> from CS6742 at Cornell lists a few,
and the Wikipedia <a href="https://en.wikipedia.org/wiki/Scoring_rule">page on scoring rules</a> provides an overview of alternatives and considerations.
If users of NIR predictions have particular needs or considerations, then
those needs or considerations should inform how they rank predictive models.
A KL-divergence based metric is a good starting point,
and illustrates the general pattern of using a reference models in a metric.
I've created a GitHub issue as a reminder to <a href="https://github.com/jaberg/planzero/issues/86">
    review alternative metrics for model selection</a>.
</p>

<p>
By incorporating a couple of expectations
and a sum over sector-gas-region-time combinations of relevance,
the following
formula expresses what I think is a baseline, first model comparison metric:
</p>
{{latex(
"""
\\mathcal{L}_T
\\left(
M^{(ref)}, M^{(pred)}
\\right)
=
\\sum_{s,g,r,t : |m_{(s,g,t)}| > 1 kt CO_2e,~t > T}
\\mathrm{abs} \\left(
\\mathbb{E}_{P_{(s,g,r,t)}}[x]
\\right)
\\mathrm{KL} \\left(P_{(s,g,r,t)} \\| Q_{(s,g,r,t)}
\\right)
"""
, display="block")|safe}}

<p>
This metric compares a reference model
{{latex("M^{(ref)}")|safe}}
comprising reference distributions
{{latex("P_{(s, g, r, t)}")|safe}}
to a predictive model
{{latex("M^{(pred)}")|safe}}
comprising predicted distributions
{{latex("Q_{(s, g, r, t)}")|safe}}.
It's a weighted sum over 
sector-gas-region-time combinations
meeting two criteria:
(a) 
that they aren't irrelevant
as defined by
e.g. {{latex("|m_{(s,g,t)}| > 1 kt CO_2e")|safe}} (the national total for that sector-gas-year wasn't approximately zero);
and (b)
that they're predictions, i.e. about times {{latex("t>T")|safe}} after some threshold year {{latex("T")|safe}}.
For each relevant, predicted year,
the metric sums up the KL-divergence between the reference and predicted distributions,
as weighted by the magnitude of emissions impact.
The comparison metric can only be zero for perfectly-matching models,
harshly penalizes overly confident predictions,
and weights errors in distribution-matching by how much the distributions matter
to the overall sum of national emissions.
There's some oddness in summing over the national totals
(region being Canada) alongside the regions being provinces and territories,
but I don't think it's a problem.
Future posts on PlanZero will introduce predictive models, and this metric,
or others like it, can, I hope, serve as a reliable guide for
modelling effort to deliver iteratively better models.
</p>

<h2 id="conclusion">Conclusion</h2>

<p>
This post marks a new direction for PlanZero,
introducing the first probabilistic model
into PlanZero,
new visualizations for probabilistic models generally,
and explaining the a model comparison metric, based on a probabilistic NIR-2025,
that can potentially guide iterative modelling work to produce ever-more-accurate
predictions of future years' emissions.
This post also included an opinion that I've been mulling over for months,
that PlanZero will use the term "model" to generally mean "probabilistic model".
I had been entertaining the notion that "simulation-based-modelling" was
a separate type of modelling with its own merit, but I hereby reject that notion.
The kind of simulations that I used in the post about
<a href="/blog/2026-04-03-bovaer">Bovaer</a>
wasn't a different kind of modelling,
it was probabilistic modelling with simple distributional assumptions,
no attention to uncertainties, and no inference of model parameters.
There's merit in sometimes
using simple distributional assumptions,
ignoring uncertainties, and skipping inference,
but it isn't a different kind of model deserving a special name,
it's just a different model.
Along similar lines of thought,
I had been mulling over the right way to incorporate uncertainty
into PlanZero's models, visuals, and computations for months, and this post represents
several accomplishments in these areas, long overdue, now done.
</p>

<p>
Next up: a glossary of terms with specific meanings in the context of PlanZero.
Until then,
</p>

<p>
- James Bergstra
</p>


<ul class="actions special">
    {% if prev_url_filename %}
    <li><a href="/blog/{{prev_url_filename}}" class="button">Previous</a></li>
    {% endif %}
    {% if next_url_filename %}
    <li><a href="/blog/{{next_url_filename}}" class="button">Next</a></li>
    {% endif %}
</ul>
</section>
</div>
{% include "post-main.html" %}
