numpy
matplotlib
pint
networkx
fastapi[standard]
httpx2
markdown
latex2mathml
diskcache
pathlib
pandas
stats-can

# 2026-09-08: fastapi installs starlette, starlette doesn't work with 4.15 yet
anyio==4.14.2
