{% include "pre-main.html" %}

<div id="main">

<section class="post">
    <header class="major">
        <h1>Strategy: {{ stakeholders.ideas.get(strategy_name).full_name }}</h1>
        <p>{{ stakeholders.ideas.get(strategy_name).descr }}</p>
        <p>{{project.project_page_vision() | safe}}</p>
    </header>
    <p>
    Throughout this page, the phrase "megaCAD" is used to mean millions of Canadian dollars.
    It's a known issue with the way I'm tracking units: mega is the scientific prefix for millions, and CAD is our currency.
    </p>

    <h2>Summary</h2>
    <p>Vessel assumptions:
    <ul>
        <li>Vessel can charge / battery-swap at most once per day for 1-2 hours.</li>
        <li>Vessel requires a sustained {{ project.power_required_per_working_day }} under steady steaming, which can usually maintain 12 knots</li>
        <li>Battery capacity: {{project.battery_capacity.to('megawatt hours')}}</li>
        <li>Manufacturing budget for battery: {{ project.battery_cost.to(u.megaCAD) }}</li>
        <li>Manufacturing budget for remainder of vessel: {{ project.non_battery_cost.to(u.megaCAD) }}</li>
        <li>Vessel accommodates 18 crew.</li>
        <li>Vessel can be remote-operated to develop piloting AI, unlock future lower-cost tugs without crew quarters.</li>
        <li>Vessel capacity is {{ project.deadweight }} (up to {{ project.pre_battery_deadweight }}, except battery weight {{project.battery_mass.to('tonne')}})</li>
    </ul>
    </p>
    <p>Charging assumptions:
    <ul>
        <li>The vessels can be charged for an amortized cost of $0.10/kwh, with negligible emissions.</li>
        <li>Electricity for charging to be obtained by grid power, wind turbine, or solar arrays on piers or barges, with diesel genset backup.</li>
        <li>Unclear whether battery would be swapped mechanically or recharged via cable.</li>
    </ul>
    <p>Key predictions:
    <ul>
        <li>
            Net Present CO2e @ {{discount_rate * 100}}%: {{ "{:.3f}".format(comparison.net_present_CO2e(base_rate=(1 - discount_rate))) }} (negative means reduction)
        </li>
        <li>
            Net Present Heat @ {{discount_rate * 100}}%: {{ "{:.3f}".format(comparison.net_present_heat(base_rate=(1 - discount_rate))) }} (negative means reduction)
        </li>
        <li>
            Net Present Value @ {{discount_rate * 100}}%: {{ "{:.3f}".format(comparison.net_present_value(base_rate=(1 - discount_rate))) }} (negative means non-profitable)
        </li>
        <li>
            Net Present Value @ 5%: {{ "{:.3f}".format(comparison.net_present_value(base_rate=0.95)) }} (negative means non-profitable)
        </li>
        <li>
            Net Present Value @ 10%: {{ "{:.3f}".format(comparison.net_present_value(base_rate=0.9)) }} (negative means non-profitable)
        </li>
        <li>
            Cost per removed/avoided tonne CO2e: {{ "{:.2f}".format(comparison.cost_per_ton_CO2e(base_rate=(1 - discount_rate))) }}
        </li>
    </ul>
    </p>
    <p>Impacted IPCC Sectors:
    <ul>
        {% for catpath in stakeholders.ideas.get(strategy_name).ipcc_catpaths %}
        <li>{{catpath}}: (TODO: table with what amounts / percentages on various horizons)</li> 
        {% endfor %}
    </ul>
    </p>

    <h2>Walkthrough with Graphs</h2>
    {% for graph_config in project.project_page_graphs() %}
    <p>{{ graph_config['descr'] | safe}}</p>
    <!-- TODO: echart -->
    {{ project.project_graph_svg(graph_config, state_A, comparison) | safe }}
    {% endfor %}

    <h2>Future Work</h2>
    <p>
    <ul>
        <li>Factor in locations for charging, and how exactly electricity would be generated / procured at the target price.</li>
        <li>Extend to model the use of vessels for Great Lakes freight (tow "Lakers")</li>
        <li>Formalize product, estimate pricing, refine manufacturing and operating costs.</li>
        <li>Factor in a transition to autonomous tugboat vessels.</li>
        <li>Harness wind power with a suction sail, rotor sail, or rigid solar sail.</li>
    </ul>
    </p>
    <h2>Links and References</h2>
    <p>
    <ul>
        <li><a href="https://maritime-executive.com/article/catl-expects-oceangoing-battery-electric-vessels-within-three-years">2025: CATL expects oceangoing battery electric vessels within three years</a></li>
        <li><a href="https://ral.ca/2024/04/22/vancouver-proudly-welcomes-its-first-resident-battery-electric-tugs/">2024: Robert Allan Electric Harbour Tugs</a> in service in Vancouver, housing 3.6 Mwh of batteries.</li>
        <li><a href="https://maritime-executive.com/article/largest-electric-battery-powered-containerships-commissioned-in-china">2023: Commissioning of battery-electric 700 TEU container ships</a> for 600-mile route along Yangtze river</li>
        <li><a href="https://www.wartsila.com/marine/products/ship-electrification-solutions/full-electric-vessels">Wartsila swappable batteries for inland waterway vessels</a></li>
    </ul>
    </p>

</section>
</div>

{% include "post-main.html" %}
