{% include "pre-main.html" %}

<div id="main">

<section class="post">
    <header class="major">
        <h1>Strategy: {{ stakeholders.ideas.get(strategy_name).full_name }}</h1>
        <p>{{ stakeholders.ideas.get(strategy_name).descr }}</p>
        <p>{{project.project_page_vision() | safe}}</p>
    </header>
    <p>
    Throughout this page, the phrase "megaCAD" is used to mean millions of Canadian dollars.
    It's a known issue with the way I'm tracking units: mega is the scientific prefix for millions, and CAD is our currency.
    </p>
    <p>
    </p>

    <h2>Summary</h2>
    <p>Key assumptions:
    <ul>
        <li>Log barges typically carry between 10_000 and 15_000 tons of logs, and self-unload</li>
        <li>Pacific log tugs pull barges of logs between 200 and 600 km, and return empty.</li>
        <li>Such tugs typically burn 400 l/hr while underway.</li>
        <li>Tugs typically cruise with 2000 hp, can provide up to 5000 hp.</li>
        <li>Batteries alone cannot make the trip (in truth, they might be able to within a few years)</li>
        <li>Budget per battery-powered tug: {{ project.cost_per_tug.to(u.megaCAD) }}</li>
        <li>Budget per auxiliary vessel: {{ project.cost_per_aux_vessel.to(u.megaCAD) }}</li>
        <li>n. auxiliary vessels required per tug: {{ project.n_aux_vessels_required }}</li>
        <li>Vancouver Island solar energy per day in winter: {{ project.vancouver_winter_solar_hours_per_day }}</li>
    </ul>
    </p>
    <p>Key predictions:
    <ul>
        <li>
            Net Present CO2e @ {{discount_rate * 100}}%: {{ "{:.3f}".format(comparison.net_present_CO2e(base_rate=(1 - discount_rate))) }} (negative means reduction)
        </li>
        <li>
            Net Present Heat @ {{discount_rate * 100}}%: {{ "{:.3f}".format(comparison.net_present_heat(base_rate=(1 - discount_rate))) }} (negative means reduction)
        </li>
        <li>
            Net Present Value @ {{discount_rate * 100}}%: {{ "{:.3f}".format(comparison.net_present_value(base_rate=(1 - discount_rate))) }} (negative means non-profitable)
        </li>
        <li>
            Net Present Value @ 5%: {{ "{:.3f}".format(comparison.net_present_value(base_rate=0.95)) }} (negative means non-profitable)
        </li>
        <li>
            Net Present Value @ 10%: {{ "{:.3f}".format(comparison.net_present_value(base_rate=0.9)) }} (negative means non-profitable)
        </li>
        <li>
            Cost per removed/avoided tonne CO2e: {{ "{:.2f}".format(comparison.cost_per_ton_CO2e(base_rate=(1 - discount_rate))) }}
        </li>
    </ul>
    </p>
    <p>Impacted IPCC Sectors:
    <ul>
        {% for catpath in stakeholders.ideas.get(strategy_name).ipcc_catpaths %}
        <li>{{catpath}}: (TODO: table with what amounts / percentages on various horizons)</li> 
        {% endfor %}
    </ul>
    </p>

    <h2>Walkthrough with Graphs</h2>
    {% for graph_config in project.project_page_graphs() %}
    <p>{{ graph_config['descr'] | safe}}</p>
    <!-- TODO: echart -->
    {{ project.project_graph_svg(graph_config, state_A, comparison) | safe }}
    {% endfor %}

    <h2>Future Work</h2>
    <p>
    <ul>
        <li>Extend to model the use of vessels for Great Lakes freight</li>
        <li>Extend to model the use of vessels for stationary power generation on lakes and ocean coasts</li>
        <li>Extend to model the use of vessels for international freight, power generation (i.e. where there's more sunlight)</li>
        <li>Model how much additional power could be generated by wind by sails or turbines. How would it change the performance characteristics of the vessels, might it be worthwhile?</li>
        <li>Formalize product, estimate pricing, refine manufacturing and operating costs</li>
    </ul>
    </p>

</section>
</div>

{% include "post-main.html" %}
