{% include "pre-main.html" %}

<div id="main">

<section class="post">
    <header class="major">
        <h1>Strategy: {{ stakeholders.ideas.get(strategy_name).full_name }}</h1>
        <p>{{ stakeholders.ideas.get(strategy_name).descr }}</p>
        <p>{{project.project_page_vision() | safe}}</p>
    </header>
    <p>
    Throughout this page, the phrase "megaCAD" is used to mean millions of Canadian dollars.
    It's a known issue with the way I'm tracking units: mega is the scientific prefix for millions, and CAD is our currency.
    </p>
    <p>
    </p>

    <h2>Summary</h2>
    <p>Key assumptions:
    <ul>
        <li>Government vehicle fleet produces about 2.5% of Light-Duty Gasoline emissions</li>
        <li>National vehicle fleet size scales with national population</li>
        <li>Vehicles don't get cheaper, average vehicle TCO is about equal for ICE and ZEV (conservative).</li>
    </ul>
    </p>
    <p>Key predictions:
    <ul>
        <li>
            Net Present CO2e @ {{discount_rate * 100}}%: {{ "{:.3f}".format(comparison.net_present_CO2e(base_rate=(1 - discount_rate))) }} (negative means reduction)
        </li>
        <li>
            Net Present Heat @ {{discount_rate * 100}}%: {{ "{:.3f}".format(comparison.net_present_heat(base_rate=(1 - discount_rate))) }} (negative means reduction)
        </li>
        <li>
            Net Present Value @ {{discount_rate * 100}}%: {{ "{:.3f}".format(comparison.net_present_value(base_rate=(1 - discount_rate))) }} (negative means non-profitable)
        </li>
        <li>
            Cost per removed/avoided tonne CO2e: {{ "{:.2f}".format(comparison.cost_per_ton_CO2e(base_rate=(1 - discount_rate))) }}
        </li>
    </ul>
    </p>
    <p>Impacted IPCC Sectors:
    <ul>
        {% for catpath in stakeholders.ideas.get(strategy_name).ipcc_catpaths %}
        <li>{{catpath}}: (TODO: table with what amounts / percentages on various horizons)</li> 
        {% endfor %}
    </ul>
    </p>

    <h2>Walkthrough with Graphs</h2>
    {% for graph_config in project.project_page_graphs() %}
    <p>{{ graph_config['descr'] | safe}}</p>
    <!-- TODO: echart -->
    {{ project.project_graph_svg(graph_config, state_A, comparison) | safe }}
    {% endfor %}

    <h2>Future Work</h2>
    <p>
    <ul>
        <li>Provincial grid carbon intensities</li>
        <li>Check if there is already legislation implementing this strategy.</li>
    </ul>
    </p>

</section>
</div>

{% include "post-main.html" %}
