{% include "pre-main.html" %}

<div id="main">

<section class="post">
    <header class="major">
        <h1>Strategy: {{ stakeholders.ideas.get(strategy_name).full_name }}</h1>
        <p>{{ stakeholders.ideas.get(strategy_name).descr }}</p>
        <p>{{project.project_page_vision() | safe}}</p>
    </header>
    <p>Key assumptions:
    <ul>
        <li>Price of Bovaer, per year:
            {{base.NationalBovaerMandate.bovaer_price}}
        </li>
        <li>Methane per head, per year
            {{base.GeometricBovinePopulationForecast.methane_per_head_per_year}}
        </li>
        <li>Methane reduction due to Bovaer:
            {{ (1 - base.GeometricBovinePopulationForecast.bovaer_methane_reduction_fraction) }}
        </li>
    </ul>
    </p>
    <p>Key predictions:
    <ul>
        <li>
            Cost per removed/avoided tonne CO2e: {{ "{:.2f}".format(comparison.cost_per_ton_CO2e(base_rate=(1 - discount_rate))) }}
        </li>
        <li>
            Net Present CO2e @ {{discount_rate * 100}}%: {{ "{:.3f}".format(comparison.net_present_CO2e(base_rate=(1 - discount_rate))) }} (negative means reduction)
        </li>
        <li>
            Net Present Heat @ {{discount_rate * 100}}%: {{ "{:.3f}".format(comparison.net_present_heat(base_rate=(1 - discount_rate))) }} (negative means reduction)
        </li>
        <li>
            Net Present Value @ {{discount_rate * 100}}%: {{ "{:.3f}".format(comparison.net_present_value(base_rate=(1 - discount_rate))) }} (negative means non-profitable)
        </li>
    </ul>
    </p>

    {% for graph_config in project.project_page_graphs() %}
    <p>{{ graph_config['descr'] | safe}}</p>
    <!-- TODO: echart -->
    {{ project.project_graph_svg(graph_config, state_A, comparison) | safe }}
    {% endfor %}

</section>
</div>

{% include "post-main.html" %}
