{% include "pre-main.html" %}

<div id="main">

<section class="post">
    <header class="major">
        <h1>About Plan Zero</h1>
        <p>An independent research project to model how Canada might achieve zero net emissions</p>
    </header>
<p>
Table of Contents:
<ul>
    <li><a href="#overview">About this Project</a></li>
    <li><a href="#contributors">Contributors</a></li>
    <li><a href="#posting-policy">Guidance Re: Posts</a>
        <ul>
            <li><a href="#post-purpose">The Purpose of Posts</a></li>
            <li><a href="#draft-status">Draft Status</a></li>
            <li><a href="#planned-status">Planned Status</a></li>
            <li><a href="#post-dates">Post Dates</a></li>
            <li><a href="#post-authorship">Post Authorship and Acknowledgements</a></li>
        </ul>
    </li>
    <li><a href="#architecture">Architecture</a></li>
    <li><a href="#manifesto">Manifesto (Dec 5, 2025)</a></li>
    <li><a href="#posts">Posts Developing this Page</a></li>
</ul>
</p>

<h2 id="overview">About this project</h2>
<!-- vision -->
<p>
PlanZero is an independent research project to model how Canada might achieve zero
net emissions. The long-term vision is that it will quantify the opportunities
associated with strategies &mdash;
such as public and private research and product development efforts, and public policies &mdash;
and situate them in comprehensive scenarios based on
projections of Canada's possible future
<a href="https://climate-scenarios.canada.ca/?page=main">climate</a>,
<a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1710005702">population</a>,
<a href="https://www.cerdialogue.ca/canada-s-energy-future">energy supply</a>,
and other macro trends that might influence future emissions. 
</p>

<!-- themes, positioning, mission -->
<p>
There have been, and thankfully continue to be, many efforts to model future emissions in the world:
the effect they have on the climate, and the effect various technologies may exert on emission rates.
As I build up a bibliography (<a href="https://github.com/jaberg/planzero/issues/63">not yet started as of April 2026</a>) this PlanZero site will situate itself in the context of ongoing and previous work.
I believe that PlanZero is differentiated from other efforts in (a) focusing on Canada, and
(b) in being structured as an open-source software project.
I hope, over time, that because of this differentiation,
it may engage the community of Canadian students at
undergraduate and graduate levels, to:
<ul>
<li>learn about the diverse challenges of transitioning to a net-zero economy</li>
<li>develop compelling models of strategies that can and should be put into action</li>
<li>practice software engineering, architecture, and statistical modelling</li>
<li>participate in distributed open-source projects</li>
</ul>
</p>

<!-- mission -->
<p>
As the project matures in depth and breadth,
I hope it becomes a resource that can
inform public discourse, shape public policy, and guide capital investment into research and technology development.
</p>

<!--<h2 id="Glossary"></h2>-->

<h2 id="contributors">Contributors</h2>
<ul>
    <li><b>Myself, <a href="https://www.linkedin.com/in/james-bergstra/">James Bergstra, Ph.D.</a></b>,
        the project's lead author and developer.
        James is supported by his patient and thoughtful wife, who endures the first drafts of so many posts, provides invaluable feedback and support, and wishes to remain anonymous.</li>
    </li>
    <li><b><a href="https://uwaterloo.ca/geography-environmental-management/profiles/seth-wynes">Professor Seth Wynes, Ph.D.</a></b>,
        an Assistant Professor in the Department of Geography and Environmental
    Management at the University of Waterloo. Seth is guiding James'
    transition into the world of climate modelling and communication.</li>
    <li>The <b><a href="https://www.opt2refuture.org">Opt2Refuture team</a></b>.
        The group, of which James is a member, has provided research leads,
        post feedback, and a forum for discussion of issues related to
        emissions reduction in Canada.</li>
</ul>

<h2 id="posting-policy">Guidance Re: Posts</h2>
<p>
I think of the PlanZero project in terms of the following facets:
<ol>
    <li>simulations and strategies - the data modelling and analysis pages</li>
    <li>posts - a narrative history of the development of the PlanZero site</li>
    <li>about - project overview, direction, acknowledgements</li>
    <li>code ({{siteref("GitHub")|safe}}) - the state and history of all data, code, and content, in git</li>
    <li>{{siteref("GitHub Issue", "issues")|safe}} (GitHub) - a set of likely next steps, a rough roadmap</li>
</ol>
Posts have emerged as an engaging facet.
The guidelines in this section
aim to articulate why I think they are working, and ensure they continue to support
the project.
</p>

<h3 id="post-purpose">The Purpose of Posts</h3>
<p>
Most succinctly: the purpose of PlanZero posts is to document why and how something elsewhere on the site has changed.
Posts provide an ongoing narrative documentation of PlanZero's core
contribution, which is its modelling.
They are sent out for feedback and engagement after changes have been merged
to the project's codebase and site, in order to keep development focused.
</p>

<p>A corollary, is that without a material change to the code or site,
there should perhaps not be a PlanZero post.
PlanZero posts are not meant to be vehicles for news or opinion,
except in justification of material changes to modelling or analysis.
(There's <a href="https://github.com/jaberg/planzero/issues/66">an idea</a>
for a "Perspectives" or "Recommendations" section
in which PlanZero maintains positions on matters of public debate, but
it hasn't been developed yet.)</p>

<h3 id="draft-status">Draft Status</h3>

<p>A post can have a status of "Draft".
This status determines how the post should be displayed, and how it may be revised.
The purpose of draft status is to highlight that posts that <i>don't</i>
have draft status are intended to be stable, out of respect for readers.
After someone has generously volunteered their time and
energy to understanding a post on PlanZero, it would be rude of us to confuse them
or devalue what they've understood, by changing the content of a page after they've read it.
If a post is a draft, then:
<ul>
    <li>The word "DRAFT" appears in large letters in the title, wherever it appears.</li>
    <li>The content of the post is not stable.</li>
    <li>The text of the post is subject to change without notice.</li>
    <li>The entire post may be hidden, withdrawn, removed, etc.</li>
</ul>
If a post is <i>not</i> in draft, then it should never be materially changed.
If aspects of a post are superceded, they will be amended to link to the new
post(s) introducing the superceding content.
(All such changes will be tracked in git in any event.
Git history should only be amended in order to remove accidentally committed
material, including sensitive or confidential material.)
</p>

<h3 id="planned-status">Planned Status</h3>
<p>
For earlier-stage posts,
instead of "Draft",
a post can have a status of "Planned".
Planned posts are public, but they are not done yet, so sometimes not visible by default.
Planned posts are visible by e.g. <a href="/?planned=1">this URL</a>.
A planned post has, at minimum, a title and a description.
The purpose of planned posts is to communicate a roadmap. When a planned post is no longer missing content, then it will be marked instead as a Draft.
If a post is Planned, then:
<ul>
    <li>The word "PLANNED" appears in large letters in the title, wherever it appears.</li>
    <li>The post content is materially incomplete.
        If a page exists for the post at all, then and a boxed area near the top of that page
        outlines the missing content.
    </li>
    <li>Like Draft: The content of the post is not stable.</li>
    <li>Like Draft: The text of the post is subject to change without notice.</li>
    <li>Like Draft: The entire post may be hidden, withdrawn, removed, etc.</li>
</ul>
</p>

<h3 id="post-dates">Post Dates</h3>
<p>
Posts have dates, but those dates should be interpreted as approximate.
The dates of posts should be set to create a coherent narrative, and
reflect the approximate time that work was done.
The date of a post need not reflect the
time the work was started, completed, or last edited.
Planned posts in particular may have dates in the future.
</p>
<p>
When a non-draft post is amended to include a link to a superceding post,
the amendment should mention a date e.g. "(Edited April 25, 2026: new post X covers this topic differently...)" but this date too can be approximate.
</p>
<p>
PlanZero's git history has a precise history
of which files were edited in what ways on which dates and times.
This history is
detailed and accurate, although it reflects the
development process commit-by-commit rather than the narrative presented by the
posts.
</p>

<h3 id="post-authorship">Post Authorship</h3>

<p>PlanZero posts have authors and the authors' name(s) appear on the post.
So far I've been a solo author, however I've had help from all of the contributors mentioned above.
I don't think there's a comprehensive way to express who should be included among authors of a post,
but as a rule of thumb, the authors of a post are the people who can answer to the questions
"Why did you write that post?" and "Why did it say what it said?"
That said, I will always strive to give credit where credit is due.
PlanZero hasn't yet benefited from funding or sponsorship, but if that happens,
I will acknowledge it publicly.</p>

<h3 id="contributing">Post Drafting Guidance for Contributors</h3>
<p>
PlanZero is an open-source project. You are welcome to make a fork on GitHub,
and I'd be delighted to learn more about your interest via
e.g. either <a href="https://www.linkedin.com/in/james-bergstra/">LinkedIn</a>
or <a href="https://github.com/jaberg/planzero">GitHub</a>.
If you'd like to contribute back to the project, even better.
If you <i>do</i> get as far as contemplating a contribution,
have a look at <a href="/blog/2026-04-12-about#drafting-guidance">post-drafting
guidance for contributors</a>.
It's far from developer documentation but it's a start.
Please do get in touch as mentioned above though, I looking forward
to hearing from you.
</p>

<h2 id="architecture">Architecture</h2>

<p>
PlanZero is rooted in a project on GitHub.
The modelling described by its source code can entail significant of
computation, the data sets informing those models can be large,
users needs of the project aren't yet well understood,
and the operating budget is small.
Over time, as the project bumps up against various limits the strategies for
overcoming them will be documented here.
</p>

<h3 id="build-data-flow">Build Data Flow</h3>

<p>
PlanZero's Dockerfile uses a multi-stage build to
produce a small docker image for fly.io
that does not contain large data files or raw model samples.
Deployment is currently only possible from my laptop.
</p>

<pre class="mermaid">

flowchart TB

python_arm["Python:3.11-slim [ARM64]"]

base["base"]

testing["testing"]

build_cache["build_cache"]

production_server["production_server"]

production_server_amd64["production_server_amd64"]

python_arm --> base
base --> testing
testing --> build_cache

base --> production_server

build_cache -. copy pre-rendered pages .-> production_server

python_amd["Python:3.11-slim [AMD64]"]


build_cache -. copy pre-rendered pages .-> production_server_amd64

python_amd --> production_server_amd64


</pre>

<h2 id="manifesto">Manifesto (Dec 5, 2025)</h2>

<p>
Plan Zero is a project I (James Bergstra) am undertaking to understand how I might, at least personally, best-contribute to
a more-sustainable way of life in Canada, and maybe beyond.
It's a grand challenge, and I've always liked grand challenges.
Hannah Ritchie observed in
<a href="https://www.amazon.ca/Not-End-World-Generation-Sustainable/dp/031653675X/">Not the End of the World: How We Can Be the First Generation to Build a Sustainable Planet</a> that it's never been done before:
that civilizations have historically thrived by living un-sustainably;
that people have time-and-again drawn down useful natural resources faster than those resources could replenish;
and that this activity of ours has redefined much of the surface of the earth.
</p>
<p>
Despite this activity of ours having served human civilization relatively well for millenia,
there seems to be a difference now, in that we may have gone too far.
An accumulation of greenhouse gases in the atmosphere prevents the earth from
radiating heat at the rate it has done for thousands of years, throughout the history of human civilization.
This accumulation seems to be the result of burning fossil fuels, especially over the last century.
Depending on how the global economy responds to their warnings,
climate scientists predict changes over the next century
that would disrupt life as usual for many people, perhaps all people.
Although it is true that the Earth's environmental conditions and climate are very complex:
atmospheric scientists struggle to predict weather precisely beyond a few days,
and the accumulation of heat causes changes in dynamics without historical precedent;
as a student of statistical inference, and as a human being,
it seems to me we should slow down the pace of climate change, at least enough to be comfortable adapting to it and enough to understand the changes it brings.
If we could anticipate changes well enough in advance (perhaps a few generations out, say, seven)
and set up future generations for success, that'd be good enough for me.
However, I think that currently, we can't.
Therefore, I believe there is currently a credible threat of enormous disruption in my own lifetime, to say nothing of generations to come, because
the Earth is heating too quickly.
</p>
<p>
I am working on this site to quantify possible impacts on economics, emissions and accumulated heat,
that might come of various ideas to do something positive for the climate.
Some of the ideas are regulatory
(e.g. incentivize farmers to feed Bovaer to cattle,
reduce tariffs on fuel-efficient technology),
some of the ideas are entrepreneurial
(e.g. commercialize efficient technology, drive adoption),
and some of the ideas are oriented to consumers
(e.g. buy and use different things, live differently).
I am not an economist or a climate scientist. I have a Ph.D. in computer science,
with application to machine learning.
I would describe the climate and economic modelling methodology used in this site as ad-hoc,
but it's encoded in open-source software on github so it's at least open to both scrutiny and feedback.
I hope that over time, and through the process of sharing this work with others,
that the methodology can be brought in line with accepted best practice,
that the research can cover of all of Canada's IPCC sectors,
that the sets of ideas for reducing emissions in each sector grow to include sufficient good ones,
and that the analysis of promising ideas as "Strategies" starts to show a high-level picture,
in actionable terms for various stakeholder groups, of how Canada might achieve its net-zero emissions targets, with an economy that provides us with prosperity for generations to come.
And I hope that I can help make some of it happen.
</p>

<h2 id="posts">Posts developing this page</h2>
<ul>
{% for blog in blogs_by_tag("About") %}
<li><a href="/blog/{{blog.url_filename}}/">{{blog.title}} ({{blog.date.strftime("%b %d, %Y")}})</a></li>
{% endfor %}
</ul>

</section>
</div>

    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
      mermaid.initialize({ startOnLoad: true });
    </script>
{% include "post-main.html" %}
