{% include "pre-main.html" %}

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">Dec 5, 2025</span>
									<h2><a href="/blog/2025-12-05-first-post">How might Canada achieve net-zero?</a></h2>
									<p>Plan Zero is an independent research project
                                    to work publicly toward understanding
                                    how Canada might achieve net-zero emissions.
									</p>
								</header>
								<a href="/blog/2025-12-05-first-post" class="image main">
                                    <img src="/images/2025-12-05-tracking-to-emissions-targets.png"/>
                                </a>
								<ul class="actions special">
									<li><a href="/blog/2025-12-05-first-post" class="button large">Full Post</a></li>
								</ul>
							</article>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<span class="date">Jan 21, 2026</span>
										<h2><a href="/blog/2026-01-21-unfccc">
                                                A simple model of Greenhouse Gas Emissions
                                            </a></h2>
									</header>
                                    <!--
									<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
                                    -->
									<p>

        What are greenhouse gases and what do they have to do with climate?
        This is, I hope, the first post in a series developing various plans to achieve
        a net-zero economy in Canada. It outlines the terms
        in which net-zero is defined, and documents planzero's simple climate model.
                                    </p>
									<ul class="actions special">
										<li><a href="/blog/2026-01-21-unfccc" class="button">Full Post</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">Jan 6, 2026</span>
										<h2><a href="/blog/2026-01-06-contributing">
                                                Contributing (even for myself)
                                            </a></h2>
									</header>
                                    <!--
									<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
                                    -->
									<p>Coming back from the winter break, I thought I'd write about how I myself should contribute to this site; partly to get back in gear, and partly to encourage collaboration.</p>
									<ul class="actions special">
										<li><a href="/blog/2026-01-06-contributing" class="button">Full Post</a></li>
									</ul>
								</article>
                                <article>
                                    <header>
                                        <span class="date">Dec 5, 2025</span>
                                        <h2><a href="/blog/2025-12-05-first-post">How might Canada achieve net-zero?</a></h2>
                                    </header>
                                        <p>Plan Zero is an independent research project
                                        to work publicly toward understanding
                                        how Canada might achieve net-zero emissions.
                                        </p>
                                    <ul class="actions special">
                                        <li><a href="/blog/2025-12-05-first-post" class="button large">Full Post</a></li>
                                    </ul>
                                </article>
							</section>

						<!-- Footer -->
                        <!--
							<footer>
								<div class="pagination">
                        -->
									<!--<a href="#" class="previous">Prev</a>-->
                        <!--
									<a href="#" class="page active">1</a>
									<a href="#" class="page">2</a>
									<a href="#" class="page">3</a>
									<span class="extra">&hellip;</span>
									<a href="#" class="page">8</a>
									<a href="#" class="page">9</a>
									<a href="#" class="page">10</a>
									<a href="#" class="next">Next</a>
								</div>
							</footer>
                        -->

					</div>

{% include "post-main.html" %}
