{% include "pre-main.html" %}

<div id="main">

<section class="post">
    <header class="major">
        <h1>PlanZero Glossary</h1>
        <p>Terms, acronyms, data sources, and the conceptual modelling framework used to implement PlanZero.</p>
    </header>

    <style>
        .anchor-link {
            visibility: hidden;
            margin-left: 0.5rem;
            color: #ccc !important;
            text-decoration: none;
            border-bottom: none !important;
        }

        h3:hover .anchor-link {
            visibility: visible;
        }

        .anchor-link:hover {
            color: #444 !important;
        }
    </style>

<p>
Term list:
<ol>
{% for clsname, obj in sorted(planzero.glossary.registry.items()) %}
<li><a href="#{{clsname}}">{% for name in obj.all_names %} {{name.replace('_', ' ')}}{%if not loop.last%}, {%endif%}{%endfor%}</a></li>
{% endfor %}
</ol>
</p>

{% for clsname, obj in sorted(planzero.glossary.registry.items()) %}
<h3 id="{{clsname}}">
    {% for name in obj.all_pretty_names() %} {{name}}{%if not loop.last%}, {%endif%}{%endfor%}<a href="#{{clsname}}" class="anchor-link" title="Link to this section"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Chain_link_icon_slanted.png/250px-Chain_link_icon_slanted.png"
        width="12.5px"/></a>
</h3>

{{obj.definition_html|safe}}

{% if obj.code_refs %}
    <p><strong style="color: #666;">Code References</strong>
    <ul>
    {% for ref_text, ref_url in obj.code_links.items() %}
        <li><a href="{{ref_url}}">{{ref_text}}</a></li>
    {% endfor %}
    </ul>
    </p>
{% endif %}
{% if obj.see_also or obj.as_discussed_in_posts %}
    <p><strong style="color: #666;">See Also</strong>
    <ul>
    {% for term, ref_text in sorted(obj.see_also.items()) %}
    <li><a href="#{{planzero.glossary.aka_registry[term].__class__.__name__}}">{{term.replace("_", " ")}}</a> - {{ref_text}}</li>
    {% endfor %}
    {% for obj, hashref, descr in obj.as_discussed_in_posts %}
    <li>[Post] <a href="{{obj.siteref}}{{hashref}}">{{obj.title}}</a> - {{descr}}</li>
    {% endfor %}
    </ul>
    </p>
{% endif %}

{% endfor %}

</section>
</div>

{% include "post-main.html" %}
