{% include "pre-main.html" %}

<div id="main">
    {% if error_text %}
    <p>{{error_text}}</p>
    {% endif %}

<section class="post">
    <header class="major">
        <h1>IPCC Sectors</h1>
        <p>What are Canada's emissions and where are they coming from?
        Canada maintains both national and provincial greenhouse gas inventories
        and reports them to the United Nations every year.
        Click on the graph to learn more about the
        different sources of emissions in Canada.
        </p>
    </header>

{{ipcc_home.stacked_area() | safe}}
<p>
The chart above shows the contributions from all emissions sectors.
Most sector emissions have been consistently positive.
The two sectors that have at times been negative (CO2e sinks) are Cropland and Harvested Wood Products.
Data is from
<a href="https://data-donnees.az.ec.gc.ca/data/substances/monitor/canada-s-official-greenhouse-gas-inventory/A-IPCC-Sector?lang=en">
    Canada's official Greenhouse Gas Inventory</a>.
Environment and Climate Change Canada refreshes the inventory report annually in April, but refreshes are not automatically pulled into this figure (or anywhere in PlanZero).
</p>
<p>

<h2>All IPCC Categories </h2>
    <div class="overflow-x-auto">
            <!-- IMPORTANT: We start with table-layout fixed applied in CSS, and override it temporarily in JS -->
            <table id="gemini-sort-data-table" class="w-full divide-y divide-gray-200 border border-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <!-- Columns: 0, 1, 2, 3 -->
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Category
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Min (Mt CO2e)
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Max (Mt CO2e)
                        </th>

                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Latest (Mt CO2e)
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Analysis Available
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <!-- Sample Data Rows (Note the 'Name of Employee' is long to test auto-sizing) -->
                    {% for series_elem in ipcc_canada.echart_series_all_Mt() %}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            {% if have_page_for_catpath(series_elem.catpath) %}
                            <a href="{{url_for_catpath(series_elem.catpath) }}">{{series_elem.catpath}}</a>
                            {% else %}
                            {{series_elem.name}}
                            {% endif %}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{"{:.2f}".format(min(series_elem.list_raw_data))}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{"{:.2f}".format(max(series_elem.list_raw_data))}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{"{:.2f}".format(series_elem.data[-1]['value'])}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            {% if have_page_for_catpath(series_elem.catpath) %}
                            <a href="{{url_for_catpath(series_elem.catpath) }}">Y</a>
                            {% else %}
                            N
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</section>
</div>

{% include "post-main.html" %}
