<h3>
    Possible Strategies
</h3>


<table>
    <thead>
        <tr>
            <th>Description</td>
            <th>Cost / tonne CO2e</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
{% for idea in stakeholders.ideas_by_catpath(catpath) %}
        <tr>
            <td>
                {% if idea.name in peval.comparisons %}
                <a href="/strategies/{{idea.name}}/">{{idea.descr}}</a>
                {% else %}
                {{idea.descr}}
                {% endif %}
            </td>
            <td>
                {% if idea.name in peval.comparisons %}
                <a href="/strategies/{{idea.name}}/">{{ "{:.2f}".format(peval.comparisons[idea.name].cost_per_ton_CO2e(base_rate=1-discount_rate)) }}</a>
                {% endif %}
            </td>
        </tr>
{% endfor %}
</table>
