{% include "pre-main.html" %}

<div id="main">

<section class="post">
    <header class="major">
        <h1>Model: {{printcname(ident)}}</h1>
        <p>{{site_inference.short_description}}</p>
    </header>

    <h2>Sector: {{sector.value}}</h2>

    <h3>Total Across All Greenhouse Gases (Mt{{CO2e|safe}})</h3>
<!-- TODO: brief description of activities driving sector emissions -->
{{site_inference.sector_echart(sector, None, v_unit="Mt_CO2e")|safe}}

<p>
Emissions are summarized by year, and in terms of total Mt{{CO2e|safe}}
per non-aggregate {{siteref("NIR")|safe}} sector.
They are ordered by decreasing maximum upper bound on a yearly 95% credibility interval.
The black line is the reported historical emissions.
Adjust the slider below each grid of figures to see the active date range and focus on specific periods.
</p>


{% for ghg in site_inference.GHGs_for_sector(sector) %}

<h3>Emissions of {{ghg.value}} (Mt{{CO2e|safe}})</h3>

{{site_inference.sector_echart(sector, ghg, v_unit="Mt_CO2e")|safe}}

{% endfor %}


<!--
<h2>Model Elements</h2>

<h3 id="strategies">Strategies</h3>
<table>
    <thead>
        <tr><th>Name</th><th>Description</th><th>Sector</th></tr>
    </thead>
    <tbody>
        {% for name, dyn_elem in {}.items() if 'strategy' in dyn_elem.tags %}
        <tr>
            <td><a href="/models/sim/{{ident}}/strategies/{{name}}/">{{printcname(name)}}</a></td>
            <td>{{dyn_elem.short_description}}</td>
            <td>
                {% for ipcc_sector in dyn_elem.extra_ipcc_sectors %}
                <a href="./ipcc-sectors/{{ipcc_sector.catpath_no_whitespace}}/">{{ipcc_sector.value}}</a>
                {% if not loop.last %},{% endif%}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h3 id="barriers">Barriers</h3>
<table>
    <thead>
        <tr><th>Name</th><th>Description</th><th>Direct Impact</th></tr>
    </thead>
    <tbody>
        {% for name, dyn_elem in {}.items() if 'barrier' in dyn_elem.tags %}
        <tr>
            <td><a href="/models/sim/{{ident}}/barriers/{{name}}/">{{printcname(name)}}</a></td>
            <td>{{dyn_elem.short_description}}</td>
            <td>
                {% for ipcc_sector in ipcc_sectors_from_dynelem(dyn_elem) %}
                <a href="./ipcc-sectors/{{ipcc_sector.catpath_no_whitespace}}/">{{ipcc_sector.value}}</a>
                {% if not loop.last %},{% endif%}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</p>
-->

<ul class="actions special">
    <li><a href="/models/prob/{{ident}}/" class="button">Back to {{ident.replace('_', ' ')}} Overview</a></li>
</ul>

</section><!--post-->
</div><!--main-->

{% include "post-main.html" %}
