{% include "pre-main.html" %}
<style>
        #chart-container {
            width: 100%;
            height: 1000px;
            padding: 20px;
            box-sizing: border-box;
        }
        #example {
            width: 100%;
            height: 1000px;
        }
    </style>

<div id="main">

<section class="post">
    <header class="major">
        <h1>Model: {{printcname(ident)}}</h1>
        <p>{{site_inference.short_description}}</p>
    </header>

{{site_inference.uncertain_sparkline_matrix_echart("banner_chart")|safe}}


<!--
<h2>Model Elements</h2>

<h3 id="strategies">Strategies</h3>
<table>
    <thead>
        <tr><th>Name</th><th>Description</th><th>Sector</th></tr>
    </thead>
    <tbody>
        {% for name, dyn_elem in {}.items() if 'strategy' in dyn_elem.tags %}
        <tr>
            <td><a href="/models/sim/{{ident}}/strategies/{{name}}/">{{printcname(name)}}</a></td>
            <td>{{dyn_elem.short_description}}</td>
            <td>
                {% for ipcc_sector in dyn_elem.extra_ipcc_sectors %}
                <a href="./ipcc-sectors/{{ipcc_sector.catpath_no_whitespace}}/">{{ipcc_sector.value}}</a>
                {% if not loop.last %},{% endif%}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h3 id="barriers">Barriers</h3>
<table>
    <thead>
        <tr><th>Name</th><th>Description</th><th>Direct Impact</th></tr>
    </thead>
    <tbody>
        {% for name, dyn_elem in {}.items() if 'barrier' in dyn_elem.tags %}
        <tr>
            <td><a href="/models/sim/{{ident}}/barriers/{{name}}/">{{printcname(name)}}</a></td>
            <td>{{dyn_elem.short_description}}</td>
            <td>
                {% for ipcc_sector in ipcc_sectors_from_dynelem(dyn_elem) %}
                <a href="./ipcc-sectors/{{ipcc_sector.catpath_no_whitespace}}/">{{ipcc_sector.value}}</a>
                {% if not loop.last %},{% endif%}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</p>
-->

</section><!--post-->
</div><!--main-->

{% include "post-main.html" %}
