{% include "pre-main.html" %}

<div id="main">

<section class="post">
    <header class="major">
        <h1>Simulations</h1>
        <p>{{siteref("Simulation", "Simulations")|safe}}
        in PlanZero are the
        {{siteref("Rollout", "rollout")|safe}} of
        {{siteref("Model", "models")|safe}}
        into the future,
        for visualization and analysis.<p>
    </header>

    <!--<h2>Sortable Table</h2>-->

<table id="gemini-sort-data-table">
    <thead>
          <tr>
              <th>
                  Name
              </th>
              <th>
                  Short Description
              </th>
              <th>
                  Predicted Emissions 2050
              </th>
          </tr>
    </thead>
    <tbody>
          {% for ident, obj in planzero.scenarios.scenarios.items() %}
          <tr>
              <td>
                  <a href="/scenarios/{{ident}}/">{{ident}}</a>
              </td>
              <td>{{obj.short_descr}}</td>
              <td>{{"{:.1f}".format(planzero.sim.sim_scenario(ident).state.sts["Predicted_Annual_Emitted_CO2e_mass"].query(2050 * u.year).to(u.Mt_CO2e).magnitude)}} Mt{{CO2e|safe}}</td>
          </tr>
          {% endfor %}
    </tbody>
</table>
</section>
</div>

{% include "post-main.html" %}
