{% include "pre-main.html" %}

<div id="main">

<section class="post">
    <header class="major">
        <h1>Simulation: {{ident}}</h1>
        <p>{{site_sim.short_description}}</p>
    </header>
<p>

{{sim_result.by_ipcc_sector.as_html()|safe}}

<h2>Model Elements</h2>

<h3 id="strategies">Strategies</h3>
<table>
    <thead>
        <tr><th>Name</th><th>Description</th><th>Sector</th></tr>
    </thead>
    <tbody>
        {% for name, dyn_elem in sim_result.state.projects.items() if 'strategy' in dyn_elem.tags %}
        <tr>
            <td><a href="/simulations/{{ident}}/strategies/{{name}}/">{{name}}</a></td>
            <td>{{dyn_elem.short_description}}</td>
            <td>
                {% for ipcc_sector in dyn_elem.ipcc_sectors %}
                <a href="./ipcc-sectors/{{ipcc_sector.catpath_no_whitespace}}/">{{ipcc_sector.value}}</a>
                {% if not loop.last %},{% endif%}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h3 id="csfs">Critical Success Factors</h3>
<table>
    <thead>
        <tr><th>Name</th><th>Maximize / Minimize / Maintain</th><th>TimeSeries KPI</th><th>Sector</th></tr>
    </thead>
    <tbody>
        {% for CSF_name, dyn_elem in sim_result.state.projects.items() if 'CSF' in dyn_elem.tags %}
        <tr>
            <td>{{CSF_name}}</td>
            <td>
                {% if dyn_elem.target_value == -float('inf') %}
                Minimize
                {% elif dyn_elem.target_value == float('inf') %}
                Maximize
                {% else %}
                Maintain {{dyn_elem.target_value}}
                {% endif %}
            </td>
            <td>{{dyn_elem.kpi_name}}</td>
            <td>
                {% for ipcc_sector in dyn_elem.ipcc_sectors %}
                <a href="./ipcc-sectors/{{ipcc_sector.catpath_no_whitespace}}/">{{ipcc_sector.value}}</a>
                {% if not loop.last %},{% endif%}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h3 id="barriers">Barriers</h3>
<table>
    <thead>
        <tr><th>Name</th><th>Description</th><th>Sector</th></tr>
    </thead>
    <tbody>
        {% for name, dyn_elem in sim_result.state.projects.items() if 'barrier' in dyn_elem.tags %}
        <tr>
            <td><a href="/simulations/{{ident}}/barriers/{{name}}/">{{name}}</a></td>
            <td>{{dyn_elem.short_description}}</td>
            <td>
                {% for ipcc_sector in dyn_elem.ipcc_sectors %}
                <a href="./ipcc-sectors/{{ipcc_sector.catpath_no_whitespace}}/">{{ipcc_sector.value}}</a>
                {% if not loop.last %},{% endif%}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<h2>Simulation Elements</h2>

<h3 id="dynelem">Dynamic Element Objects</h3>

<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Dynamic Element Name</th>
            <th>Role</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {% for ii, (name, dyn_elem) in enumerate(sim_result.state.projects.items()) %}
    <tr><td>{{ii + 1}}</td>
        <td>{{name.replace('_', ' ')}}</td>
        <td>{{", ".join(dyn_elem.tags)}}</td>
        <td>{{dyn_elem.short_description|replace("CO2e", CO2e)|safe}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h3 id="timeseries">Time Series Objects</h3>
<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Time Series Name</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody>
    {% for ii, (name, sts) in enumerate(sim_result.state.sts.items()) %}
    <tr><td>{{ii + 1}}</td><td>{{name.replace('_', ' ')}}</td><td>{{sts.v_unit}}</td></tr>
    {% endfor %}
    </tbody>
</table>


</p>

</section><!--post-->
</div><!--main-->

{% include "post-main.html" %}
