{% include "pre-main.html" %}

<div id="main">

<section class="post">
    <header class="major">
        <h1>Strategies</h1>
        <p>What might we do now, and over the decades to come, to reduce Canada's emissions?
        </p>
    </header>
    <!--
        <p>
        This site offers a strategy-ranking framework based on simple climate and financial modelling. 
        Annual emissions, like annual cashflow, are not the best way to compare projects.
        The following scatterplot looks at projects in terms of future-discounted net trapped heat vs. future-discounted net earned money. The projects that trap less heat are associated with lower emissions. A combination of the best projects shows a trajectory toward our net-zero emissions goals.
        </p>
    -->

<table>
    <thead>
          <tr>
              <th>
                  Name
              </th>
              <th>
                  Description
              </th>
              <th>
                  Scenarios
              </th>
              <th>
                  Affected Sectors
              </th>
          </tr>
    </thead>
    <tbody>
          {% for name, strat in planzero.strategies.strategies.items() %}
          <tr>
              <td>{{name}}</td>
              <td>{{strat.short_description}}</td>
              <td>{% for scenario_enum in strat.scenarios %}
                  <a href="/scenarios/{{scenario_enum.value}}/strategies/{{name}}/">{{scenario_enum.value}}</a>
                  {% endfor %}</td>
              <td>{% for sector_enum in strat.ipcc_sectors %}
                  <a href="/ipcc-sectors/{{sector_enum.catpath_no_whitespace}}/">{{sector_enum.value}}</a>
                  {% if not loop.last %}, {% endif %}
                  {% endfor %}</td>
          </tr>
          {% endfor %}
    </tbody>
</table>
</section>
</div>

{% include "post-main.html" %}
