{% include "pre-main.html" %}

<div id="main">

<section class="post">
    <header class="major">
        <h1>Strategy: {{printcname(strategy_name)}}</h1>
        <p>
        This page shows the marginal impact of the
        <strong>{{printcname(strategy_name)}}</strong> strategy within the context of the
        <strong><a href="/models/sim/{{sim_name}}/">{{printcname(sim_name)}}</a></strong>
        simulation.
        </p>
    </header>

<p><strong>Page Contents:</strong>
<ul>
    <li><a href="#metrics">Standard Metrics</a></li>
    <li><a href="#description">Description and Links</a></li>
    <li><a href="#emissions">Emissions Impact</a></li>
    <li><a href="#subsidies">Subsidies Impact</a></li>
    <li><a href="#developments">Posts Developing this Page</a></li>
</ul>
</p>
<h2 id="metrics">Standard Metrics</h2>
<p>
<table>
    <thead>
        <tr><th>Metric</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>Lifetime cost per tonne {{CO2e|safe}} abated</td>
            <td>{{'{:.2f}'.format(cost_per_tCO2e.magnitude)}} CAD / t{{CO2e}}</td></tr>
    </tbody>
</table>
</p>
<h2 id="description">Description and Links</h2>
{{description_html|safe}}

{% if see_also %}
<p>See also:
<ul>
    {% for item in see_also %}
    <li>{{item}}</li>
    {% endfor %}
</ul>
</p>
{% endif %}


<h2 id="emissions">Emissions Impact</h2>
<p>
The chart below displays the difference in annual greenhouse
gas emissions between a full simulation and one where this specific strategy is disabled.
</p>

{{impact_chart.as_html()|safe}}

<p>
Positive values represent emissions avoided (saved) by implementing this strategy.
</p>

{% if subsidies_chart %}
<h2 id="subsidies">Subsidies Impact</h2>

{{subsidies_chart.as_html()|safe}}
{% endif %}

<h2 id="developments">Posts developing this page</h2>
<ul>
{% for blog in blogs_by_tag(strategy_name) %}
<li><a href="/blog/{{blog.url_filename}}/">{{blog.title}} ({{blog.date.strftime("%b %d, %Y")}})</a></li>
{% endfor %}
</ul>

<!--
    FOOTER
-->

<ul class="actions special">
    <li><a href="/models/sim/{{sim_name}}/" class="button">Back to Simulation Overview</a></li>
</ul>

</section>
</div>

{% include "post-main.html" %}
