{% include "pre-main.html" %}

<div id="main">

<section class="post">
    <header class="major">
        <h1>Strategies</h1>
        <p>What might we do now, and over the decades to come, to reduce Canada's emissions?
        </p>
    </header>
    <p>
    This page lists {{siteref("Strategy", "strategies")}} that are implemented in PlanZero
    and used in at least one model (technically, {{siteref("Ablation Study", "ablation study") }}).
    Click through to read more about each strategy and its potential impact.
    </p>

<table>
    <thead>
          <tr>
              <th>
                  Name
              </th>
              <th>
                  Description
              </th>
              <th>
                  Models
              </th>
              <th>
                  Affected Sectors
              </th>
          </tr>
    </thead>
    <tbody>
          {% for strategy_id, strat in planzero.strategies.strategies.items()
             if strategy_id in models_by_strategy %}
          <tr>
              <td>{{printcname(strategy_id)}}</td>
              <td>{{strat.short_description}}</td>
              <td>{% for model_id in models_by_strategy[strategy_id] %}
                  <a href="/models/prob/{{model_id}}/strategies/{{strategy_id}}/">{{ planzero.prob.registry[model_id].pretty_name }}</a>
                  {% endfor %}</td>
              <td>{% for sector_enum in sorted(sectors_by_strategy[strategy_id]) %}
                  <a href="/ipcc-sectors/{{sector_enum.catpath_no_whitespace}}/">{{sector_enum.value}}</a>
                  {% if not loop.last %}, {% endif %}
                  {% endfor %}</td>
          </tr>
          {% endfor %}
    </tbody>
</table>
</section>
</div>

{% include "post-main.html" %}
