{% include "pre-main.html" %}

<div id="main">

<section class="post">
    <header class="major">
        <h1>Strategies</h1>
        <p>What might we do now, and over the decades to come, to reduce Canada's emissions?
        </p>
    </header>
    <p>
    This page lists {{siteref("Strategy", "strategies")}} that are implemented in PlanZero
    and used in at least one <a href="/simulations/">simulation</a>.
    Click the links in the simulation column to read more about
    what each strategy, and to see its impact.
    </p>

<table>
    <thead>
          <tr>
              <th>
                  Name
              </th>
              <th>
                  Description
              </th>
              <th>
                  Simulations
              </th>
              <th>
                  Affected Sectors
              </th>
          </tr>
    </thead>
    <tbody>
          {% for clsname, strat in planzero.strategies.strategies.items()
             if clsname in sims_by_dynelems %}
          <tr>
              <td>{{printcname(clsname)}}</td>
              <td>{{strat.short_description}}</td>
              <td>{% for sim_name in sorted(sims_by_dynelems[clsname]) %}
                  <a href="/simulations/{{sim_name}}/strategies/{{clsname}}/">{{printcname(sim_name)}}</a>
                  {% endfor %}</td>
              <td>{% for sector_enum in strat.ipcc_sectors %}
                  <a href="/ipcc-sectors/{{sector_enum.catpath_no_whitespace}}/">{{sector_enum.value}}</a>
                  {% if not loop.last %}, {% endif %}
                  {% endfor %}</td>
          </tr>
          {% endfor %}
    </tbody>
</table>
</section>
</div>

{% include "post-main.html" %}
