{% include "pre-main.html" %}
<div id="main">
<section class="post">
    <header class="major">
        <h1>First Post</h1>
        <p>Hello world, Plan Zero is launching at this very early stage
        to work publicly toward a plan for zero net Canadian emissions.
        </p>
    </header>
    <a href="/ipcc-sectors/">
    <img src="/images/2025-12-05-ipcc-stack.png" alt="" class="image main"/>
    </a>
    <p>
    These lines (from the <a href="/ipcc-sectors/">IPCC-Sectors</a> graphic at time of writing)
    represent most of Canada's human-caused emissions.
    The year 2020 marks half-way between the year 1990 (the left boundary of the horizontal axis) and the year 2050,
    at which point the government of Canada has pledged to the international community on behalf of Canadian citizens that we will have achieved net-zero CO2e emissions.
    As can be seen in the graphic, the total emissions are not yet obviously tracking to zero!
    What are we currently doing, and what might we do in the future to make these lines go down and to the right?
    Plan Zero is hereby launching with:
    <ul>
        <li><a href="/ipcc-sectors/">IPCC Sectors</a>: An overview of Canada's emissions by most-granular IPCC sector.</li>
        <li><a href="/strategies/">Strategies</a>: An overview of reduction ideas that have been fleshed out at least somewhat quantitatively.</li>
        <li><a href="https://github.com/jaberg/planzero">Source code</a>: The Python-language modelling logic and content for the site (on github).</li>
    </ul>
    </p>

    <p>
    Status:
    <ul>
        <li>IPCC-Sectors: 5 of 86 sectors have an associated page on the emissions causes, a first draft of a stakeholder map, critical success factors to reduce sectoral emissions, and some ideas for projects of various types that might be undertaken to reduce sectoral emissions.</li>
        <li>Strategies: 2 strategies have been fleshed out quantitatively (
            <a href="/strategies/national_bovaer_mandate/">National Bovaer Mandate</a>,
            <a href="/strategies/battery_tugs_w_aux_solar_barges/">Battery Tugboats with auxiliary solar barges</a>)</li>
        <li>Source code: this site is functional, but the code is not arranged as an importable library</li>
    </ul>
    </p>
</section>
</div>
{% include "post-main.html" %}
