{% include "pre-main.html" %}

<div id="main">
<section class="post">
    <header class="major">
        <h1>Enteric Fermentation</h1>
        <p>
        Enteric fermentation is the production of methane by the digestive systems of beef and dairy cattle.
        A feed additive called Bovaer can reduce this emission per bovine head,
        by about 40%,
        other technological means to reduce emissions in the sector are more speculative.
        </p>
    </header>

{{est_nir.Est_EntericFermentation().echart() | safe}}


<h3>
    Critical Success Factors
</h3>

<ul>
    <li>reduce the number of bovine animals, particularly ruminants e.g. cattle and sheep</li>
    <li>reduce the rate of methane emitted, per head</li>
    <li>increase the rate of food production, per head</li>
    <li>increase the rate of methane capture</li>
</ul>

<h3>
    Barriers
</h3>

<ul>
    <li><b>Alignment</b>: Owners of herds do not want to reduce their herds, and neither do their customers or suppliers.</li>
    <li><b>Demand</b>: Domestic and international demand for beef and milk products is high,
        and expected to rise with increasing global population and increasing global wealth.</li>
    <li><b>Culture</b>: The voting population likes cattle: they're
        picturesque, iconic, and beef is part of many traditional
        cuisines.</li>
    <li><b>Nutrition</b>: beef and dairy products are nutritious foods, high in protein.
        Beef is an excellent source of iron and B12; cow milk is an excellent source of calcium.
    </li>
    <li><b>Animal Welfare</b>:
        Engineering animals' digestive systems and living environments to e.g. reduce methane emissions
        runs counter to the spirit of e.g. free-range farming practices, and
        may come at the expense of animal welfare measures.
    </li>
</ul>

{% include "ipcc-sectors-strategy-ideas-table.html" %}

<h2>Posts developing this page</h2>
<ul>
{% for blog in blogs_by_tag("Enteric Fermentation") %}
<li><a href="/blog/{{blog.url_filename}}/">{{blog.title}} ({{blog.date.strftime("%b %d, %Y")}})</a></li>
{% endfor %}
</ul>

</div>
</section>
</div>

{% include "post-main.html" %}
