{% include "pre-main.html" %}

<div id="main">
<section class="post">
    <header class="major">
        <h1>Forest Land</h1>
        <p>
        </p>
    </header>

{{est_nir.EstForestAndHarvestedWoodProducts().echart_forest_land() | safe}}


<div>
<h2>Understanding Forest Land Emissions</h2>

<p>
Understanding the "Forest Land" sector in Canada’s National Inventory Report
(NIR) involves a complex accounting system that takes into account
metrics from commercial logging, land use changes,
and <a href="https://natural-resources.canada.ca/climate-change/climate-change-impacts-forests/forest-carbon-accounting-team">world-leading scientific modelling</a> of the carbon content of all
of Canada's forested land.
At the highest level, from an accounting perspective, Canada's forested regions are partitioned into managed and unmanaged forests.
<ul>
    <li><b>Managed Forests</b>: These are forests under direct human influence, including lands managed for timber harvesting, fire protection, or conservation.
        This covers roughly 226 million hectares (about 65% of Canada's total forest area).
        Canada only reports emissions and removals from managed forests.
    </li>
    <li><b>Unmanaged Forests</b>: Remote northern forests not subject to active human stewardship are generally excluded from the inventory until human activity (like a new road or mine) expands into them.</li>
</ul>
PlanZero does not yet include a useful Forest Land model.
The blue shaded region above is simply the emissions equivalent of timber
harvested for wood products other than firewood and fuelwood. Under IPCC reporting guidelines,
this harvest is accounted as a positive-valued Forest Land emission and a negative-valued <a href="/ipcc-sectors/Harvested_Wood_Products">Harvested Wood Products</a> emission. These positive and negative emissions cancel out in any given year, as they should, because from a physical perspective the carbon in harvested timber that turns into wood products is not emitted to the atmosphere.
</p>

<p>
Over modern ecological history,
Canada's forests have stored up large amounts of carbon into their biomass and soil (a <a href="https://climateemergency.ubc.ca/canada-has-a-quarter-of-worlds-soil-carbon-keeping-it-in-the-ground-could-curb-climate-change-experts-say">recent study</a> found that Canada stores about a quarter of the <i>world's</i> soil carbon).
To put it in other terms, the soil carbon stock, estimated at 384 billion tonnes, is comparable to <i>about 30 years of global</i> fossil fuel emissions.
But old-growth, mature forests do not store additional carbon into the soil or their biomass, they are "full";
in such forests, the carbon release from the decay of vegetation cancels out the carbon accrual from plant growth.
In recent decades, due to timber harvest rates, deforestation due to land-use changes (e.g. settlements and cropland),
and especially recently due to increasing natural disturbances
(e.g. fires, insect damage, and temperature changes),
Canada's managed forests have been net emitters of carbon.
With regards to the future, scientists emphasize the importance of developing management practices that keep soil carbon locked in the soil;
I'm not sure scientists of today can accurately simulate what exactly would happen if, hypothetically, Canada's 384 billion tonnes of carbon were all to be released as CO2
(it would be over a trillion tonnes CO2),
but given the trouble from today's 38 billion tonnes / year of CO2 emissions, maybe it would be 40x more trouble.
</p>

<h2>
    Reducing Forest Land emissions
</h2>

<h3>
    Critical Success Factors
</h3>

<ul>
    <li>Maximize the area of forest land (forest land stores more carbon that other land uses)</li>
    <li>Maximize the average carbon content of forest land soils
        <ul>
            <li>Preserve the current carbon content of forest land soils</li>
            <li>Raise the capacity of forest land soils</li>
        </ul>
    </li>
    <li>Maximize the harvest of timber for long-term usage, without disturbing the soil carbon</li>
</ul>

<h3>
    Barriers
</h3>

<ul>
    <li>Trees grow slowly. Different species in different areas grow at different speeds, but ballpark is 40-60 years.</li>
    <li>Canada's forestry sector is already harvesting wood as fast as they can sell it.</li>
    <li>Clear-cut mono-culture forests are more efficient to harvest, but are more susceptible to fire and insects, and decrease biodiversity</li>
    <li>Most of Canada's managed forests are not <em>easy</em> to manage, not accessible by road.</li>
    <li>Fires and insects play an important and complex role in natural forest health, suppressing them would reduces emissions but <a href="https://natural-resources.canada.ca/forest-forestry/insects-disturbances/forests-need-fires-insects-diseases">brings tradeoffs</a>.</li>
</ul>

<!--
<h3>
    Key Stakeholder Groups
</h3>
<ul>
    {% for sg_name, sg in sorted(stakeholders.ss.items()) %}
    {% if catpath in sg.ipcc_catpaths %}
    <li>{{ sg.full_name }}</li>
    {% endif %}
    {% endfor %}
</ul>
-->

{% include "ipcc-sectors-strategy-ideas-table.html" %}

<h2>Posts developing this page</h2>
<ul>
{% for blog in blogs_by_tag("Forest Land") %}
<li><a href="/blog/{{blog.url_filename}}/">{{blog.title}} ({{blog.date.strftime("%b %d, %Y")}})</a></li>
{% endfor %}
</ul>

</div>
</section>
</div>

{% include "post-main.html" %}
