{% include "pre-main.html" %}

<div id="main">

<section class="post">
    <header class="major">
        <h1>About Plan Zero</h1>
        <p>An independent research project to understand how Canada might achieve zero net emissions</p>
    </header>

<p>
Plan Zero is a project I'm undertaking to understand how I might, personally, best-contribute to
a more-sustainable way of life in Canada, and maybe beyond.
It's a grand challenge, and I've always liked grand challenges.
Hannah Ritchie observed in
<a href="https://www.amazon.ca/Not-End-World-Generation-Sustainable/dp/031653675X/">Not the End of the World: How We Can Be the First Generation to Build a Sustainable Planet</a> that it's never been done before:
that civilizations have historically thrived by living un-sustainably;
that people have time-and-again drawn down useful natural resources faster than those resources could replenish;
and that this activity of ours has redefined much of the surface of the earth.
</p>
<p>
Despite this activity of ours having served human civilization relatively well for millenia,
there seems to be a difference now, in that we may have gone too far.
An accumulation of greenhouse gases in the atmosphere prevents the earth from
radiating heat at the rate it has done for thousands of years, throughout the history of human civilization.
Depending on how the global economy responds to their warnings,
climate scientists predict changes over the next century
that would disrupt life as usual for many people, perhaps all people.
It is true that the Earth's environmental conditions and climate are very complex: 
atmospheric scientists struggle to predict weather at the best of times,
and the accumulation of heat causes changes in dynamics without historical precedent.
However, as a student of statistical inference, and as a human being,
it seems to me we should slow down the pace of climate change, at least enough to be comfortable adapting to it and enough to understand the changes it brings.
If we could anticipate changes well enough in advance (perhaps a few generations out, say, seven)
and set up future generations for success, that's good enough for me.
However, I think we currently can't.
I believe there is currently a credible threat of enormous disruption in my own lifetime, to say nothing of generations to come, because
the Earth is heating too fast.
</p>
<p>
I am working on this site to quantify possible impacts on economics, emissions and accumulated heat,
that might come of various ideas to do something positive for the climate.
Some of the ideas are regulatory
(e.g. incentivize farmers to feed Bovaer to cattle,
reduce tariffs on fuel-efficient technology),
some of the ideas are entrepreneurial
(e.g. commercialize efficient technology, drive adoption),
and some of the ideas are oriented to consumers
(e.g. buy and use different things, live differently).
I am not an economist or a climate scientist. I have a Ph.D. in computer science,
with application to machine learning.
I would describe the climate and economic modelling methodology used in this site as ad-hoc,
but it's encoded in open-source software on github so it's at least open to both scrutiny and feedback.
I hope that over time, and through the process of sharing this work with others,
that the methodology can be brought in line with accepted best practice,
that the research can cover of all of Canada's IPCC sectors,
that the sets of ideas for reducing emissions in each sector grow to include sufficient good ones,
and that the analysis of promising ideas as "Strategies" starts to show a high-level picture,
in actionable terms for various stakeholder groups, of how Canada might achieve its net-zero emissions targets, with an economy that provides us with prosperity for generations to come.
And I hope that I can help make some of it happen.
</p>

<p>
- James Bergstra
</p>

</section>
</div>

{% include "post-main.html" %}
